{% extends "base.html" %}
{% load i18n dash_tags markdownify cache tour_tags %}
{% block subtitle %}{% trans "Dashboard" %} - {% endblock %}
{% block sectiontitle %}{% trans "Dashboard" %}{% endblock %}
{% block mobileheader %}{% trans "Dashboard" %}{% endblock %}
{% block content %}
{% get_tour "dashboard" as tour %}
{% if motd %}
<div class="grid-x grid-margin-x">
  <div class="cell auto">
    <div class="callout">
      <h5>{% blocktrans with dname=request.user.display_name|default_if_none:"friend" %}Hi, {{ dname }}!{% endblocktrans %}</h5>
      <ul class="motd">
        {% for m in motd %}
        <li>{% if m.monospace %}<pre class="motd-mono">{{ m|default_if_none:"" }}</pre>{% else %}{{ m.message|default_if_none:""|markdownify|safe }}{% endif %}</li>
        {% empty %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if tour %}
  <div class="cell medium-2"><p class="text-center">{% render_tour_trigger tour %}</p> </div>
  {% endif %}
</div>
{% endif %}
<h2 id="dash-user-stats">{% trans "Your stats" %}</h2>
<div class="grid-x grid-padding-x">
  <div class="cell large-auto">
    <a class="dashboard-nav-card" href="{% url 'gamer_profiles:my-gamer-friend-requests' %}" title="Friend requests">
      <i class="dashboard-nav-card-icon fas fa-handshake"></i>
      <h3 class="dashboard-nav-card-stat">{{ friend_requests.count }}</h3>
      <h5 class="dashboard-nav-card-title">{% trans "Friend requests" %}</h5>
    </a>
  </div>
  <div class="cell large-auto">
<a class="dashboard-nav-card" title="Communities" href="{% url 'gamer_profiles:my-community-list' %}">
  <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
  <h3 class="dashboard-nav-card-stat">{{ gamer_communities.count }}</h3>
  <h5 class="dashboard-nav-card-title">{% trans "Communities" %}</h5>
</a></div>
  <div class="cell large-auto">
<a class="dashboard-nav-card" title="Pending community applications" href="{% url 'gamer_profiles:my-application-list' %}">
  <i class="dashboard-nav-card-icon fas fa-file-signature"></i>
  <h3 class="dashboard-nav-card-stat">{{ pending_community_applications.count }}</h3>
  <h5 class="dashboard-nav-card-title">{% trans "Applications" %}</h5>
</a></div>

  <div class="cell large-auto">
<a class="dashboard-nav-card" title="Active games" href="{% url 'games:my_game_list' %}">
  <i class="dashboard-nav-card-icon fas fa-dice-d20"></i>
      <h3 class="dashboard-nav-card-stat">{{ gamer_active_games.count }}</h3>
    <h5 class="dashboard-nav-card-title">{% trans "Games" %}</h5>
</a></div>
  <div class="cell large-auto">
<a class="dashboard-nav-card" title="Pending game applications" href="{% url 'games:my-game-applications' %}">
  <i class="dashboard-nav-card-icon fas fa-dungeon"></i>
  <h3 class="dashboard-nav-card-stat">{{ pending_game_applications.count }}</h3>
  <h5 class="dashboard-nav-card-title">{% trans "Game applications" %}</h5>
</a></div>
</div>

<h2 id="dash-whats-next">{% trans "What's next?" %}</h2>
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
  <div class="card ">
    <div class="card-divider">
      <h5>{% trans "Upcoming game sessions" %}</h5>
    </div>
    <div class="card-section">
      {% if not next_sessions %}
      <p>{% trans "None scheduled" %}</p>
      {% endif %}
      <table class="hover scroll">
        <thead>
          <tr>
            <th width="200">{% trans "Game" %}</th>
            <th>{% trans "Date and Time" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for session in next_sessions %}
          <tr>
            <td><a href="{{ session.event.get_related_game.get_absolute_url }}">{{ session.title }}</a></td>
            <td>{{ session.start|date:"Y-m-d H:i" }}</td>
          </tr>

          {% empty %}
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'games:calendar_detail' gamer=request.user.username %}">{% trans "See all" %}</a>
    </div>
  </div></div>
    <div class="cell medium-auto">
  <div class="card">
    <div class="card-divider">
      <h5>{% trans "Game applicants" %}</h5>
    </div>
    <div class="card-section">
      {% if not game_applicants %}
      <p>{% trans "No pending applicants for your games." %}</p>
      {% endif %}
      <table class="scroll hover">
        <thead>
          <tr>
            <th width="200">{% trans "Game" %}</th>
            <th class="text-right">{% trans "Applicants" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for game in game_applicants %}
          <tr>
            <td><a href="{{ game.game.get_absolute_url }}">{{ game.game.title }}</a></td>
            <td class="text-right"><a href="{% url 'games:game_applicant_list' gameid=game.game.slug %}">{{ game.game.get_pending_applicant_count }}</a></td>
          </tr>
          {% empty %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>

  <div class="cell medium-auto">
  <div class="card">
    <div class="card-divider">
      <h5>{% trans "Commmunity Applicants" %}</h5>
    </div>
    <div class="card-section">
      {% if not comms_with_apps %}
      <p>{% trans "No pending community applications." %}</p>
      {% endif %}
      <table class="scroll hover">
        <thead>
          <tr>
            <th width="200">{% trans "Community" %}</th>
            <th class="text-right">{% trans "Applicants" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for comm in comms_with_apps %}
          <tr>
            <td><a href="{{ comm.community.get_absolute_url }}">{{ comm.community.name }}</a></td>
            <td class="text-right"><a href="{% url 'gamer_profiles:community-applicant-list' community=comm.community.slug %}">{{ comm.community.get_pending_applications.count }}</a></td>
          </tr>
          {% empty %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div></div>
  {% cache 900 site_stats_template_fragment %}
  <h2 id="dash-site-stats">{% trans "Site stats" %}</h2>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-auto">
      <div id="dash-site-user-stats" class="card">
        <div class="card-divider"><h5>{% trans "User stats" %}</h5></div>
        <div class="card-section">

          <ul class="stats-list">
            <li{% stat_class_data site_total_gamers %}>
              {{ site_total_gamers }} <span class="stats-list-label">{% trans "Gamers" %}</span>
            </li>
            <li{% stat_class_data site_total_communities %}>
              {{ site_total_communities }} <span class="stats-list-label">{% trans "Communities" %}</span>
            </li>
            <li{% stat_class_data site_total_discord_communities %}>
              {{ site_total_discord_communities }} <span class="stats-list-label">{% trans "Linked Discord Communities" %}</span>
            </li>
            <li{% stat_class_data site_total_games %}>
              {{ site_total_games }} <span class="stats-list-label">{% trans "All Games" %}</span>
            </li>
            <li{% stat_class_data site_total_active_games %}>
              {{ site_total_active_games }} <span class="stats-list-label">{% trans "Active Games" %}</span>
            </li>
            <li{% stat_class_data site_total_completed_sessions %}>
              {{ site_total_completed_sessions }} <span class="stats-list-label">{% trans "All Completed Sessions" %}</span>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="cell medium-auto">
      <div id="dash-site-catalog-stats" class="card">
        <div class="card-divider"><h5>{% trans "RPG DB Stats" %}</h5></div>
        <div class="card-section">
          <ul class="stats-list">
            <li>
              {{ site_total_systems }} <span class="stats-list-label">{% trans "Game systems" %}</span>
            </li>
            <li>
              {{ site_total_tracked_editions }} <span class="stats-list-label">{% trans "Game editions" %}</span>
            </li>
            <li>
              {{ site_total_publishers }} <span class='stats-list-label'>{% trans "Publishers" %}</span>
            </li>
            <li>
              {{ site_total_modules }} <span class="stats-list-label">{% trans "Modules/Adventures" %}</span>
            </li>
            <li>
              {{ site_total_sourcebooks }} <span class="stats-list-label">{% trans "Sourcebooks" %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endcache %}
  </div>

{% endblock %}
{% block js_extra %}
  <script type="text/javascript">
    var card_num = 0;
    $("a.dashboard-nav-card").each(function(){
      $(this).attr("data-tooltip","");
      $(this).attr("title", $(this).attr("title")+ " (click to view)");
      $(this).attr("tabindex",""+card_num);
      card_num++;
      try
      {
        new Foundation.Tooltip($(this));
      }
      catch(e){
        // Suppress warning about two foundation plugins
      }
    });
  </script>
  {% endblock %}
  {% block tourjs %}
  {% get_tour "dashboard" as tour %}
  {% if tour %}
  {% render_tour tour %}
  {% endif %}
  {% if tour %}
  {% update_tour_rendered tour user %}
  {% endif %}
{% endblock %}
