{% extends "user_preferences/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Edit settings" %}{% endblock %}
{% block sectiontitle %}{% trans "Edit settings" %}{% endblock %}
{% block mobileheader %}{% trans "Edit settings" %}{% endblock %}
{% block editactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block extracrumbs %}
<li class="disabled">{% trans "Profiles" %}</li>
<li><a href="{{ request.user.gamerprofile.get_absolute_url }}">{% trans "Your profile" %}</a></li>
<li><a href="{% url 'user_preferences:setting-view' %}">{% trans "Settings" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Edit" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grix-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Settings" %}</h2></div>
      <div class="card-section">
<p>{% trans "You can edit your settings below." %}</p>
<form data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'user_preferences:setting-view' %}" class="button float-left secondary">{% trans "Discard changes and return to settings details" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save changes' %}" />
  </div>
</form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
