{% extends "user_preferences/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Settings" %} - {% endblock %}
{% block sectiontitle %}{% trans "Settings" %}{% endblock %}
{% block mobileheader %}{% trans "Settings" %}{% endblock %}
{% block extracrumbs %}
<li class="disabled">{% trans "Profiles" %}</li>
<li><a href="{{ request.user.gamerprofile.get_absolute_url }}">{% trans "Your profile" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Settings" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
  <div class="card">
    <div class="card-divider"><h5>{% trans "Current settings" %}</h5></div>
    <div class="card-section">
<p>{% trans "You can view your current settings below." %}</p>
<dl>
  <dt>{% trans "Receive news via email:" %}</dt>
  <dd><span class="label {% if preferences.news_emails %}success{% else %}alert{% endif %}">{{ preferences.news_emails|yesno:"Yes,No" }}</span></dd>
  <dt>{% trans "Notification Digests (receive unread notifications via email in digest format)" %}</dt>
  <dd><span class="label {% if preferences.notification_digest %}success{% else %}alert{% endif %}">{{ preferences.notification_digest|yesno:"Yes,No" }}</span></dd>
  <dt>{% trans "Volunteer to provide feedback?" %}</dt>
  <dd><span class="label {% if preferences.feedback_volunteer %}success{% else %}alert{% endif %}">{{ preferences.feedback_volunteer|yesno:"Yes,No" }}</span></dd>
  <dt>{% trans "Receive email copies of messages?" %}</dt>
  <dd><span class="label {% if preferences.email_messages %}success{% else %}alert{% endif %}">{{ preferences.email_messages|yesno:"Yes,No" }}</span></dd>
<dt>{% trans "Subscribe to community game notifications by default" %} <span data-tooltip class="top" tabindex="5" title="{% trans 'When I join communties, subscribe me to new game notifications. You can also do this community-by-community instead."><i class="fas fa-info-circle"></i></span></dt>
<dd><span class="label {% if preferences.community_subscribe_default %}success{% else %}alert{% endif %}">{{ preferences.community_subscribe_default|yesno:"Yes,No" }}</span></dd>
{% if community_list %}
<dt>{% trans "Community notification settings" %}</dt>
<dd>
  <table class="scroll hover">
    <thead>
      <tr>
        <th>{% trans "Community" %}</th>
        <th class="text-center">{% trans "Notification Setting" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for community in community_list %}
      <tr>
        <td><a href="{{ community.community.get_absolute_url }}">{{ community.community.name }}</a></td>
        <td class="text-center"><span class="label {% if community.game_notifications %}success{% else %}alert{% endif %}">{{ community.game_notifications|yesno:"Yes,No" }}</span></td>
        <td><form action="{% url 'gamer_profiles:community-toggle-notifications' community=community.community.slug %}?next={% url 'user_preferences:setting-view' %}" method="post">{% csrf_token %}<input type="submit" class="button" value="{% if community.game_notifications %}{% trans 'Turn off notifications' %}{% else %}{% trans 'Turn on notifications' %}{% endif %}" /></form></td>
      </tr>
      {% empty %}
      {% endfor %}
    </tbody>
  </table>
</dd>
{% endif %}
</dl>
    </div>
  </div>
  </div>
</div>

{% endblock %}
