{% extends "user_preferences/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Edit settings" %}{% endblock %}
{% block sectiontitle %}{% trans "Edit settings" %}{% endblock %}
{% block mobileheader %}{% trans "Edit settings" %}{% endblock %}
{% block editactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
<p>{% trans "You can edit your settings below." %}</p>
<form data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'user_preferences:setting-view' %}" class="button float-left secondary">{% trans "Discard changes and return to settings details" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save changes' %}" />
  </div>
</form>

{% endblock %}
