{% extends "user_preferences/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Settings" %}{% endblock %}
{% block sectiontitle %}{% trans "Settings" %}{% endblock %}
{% block mobileheader %}{% trans "Settings" %}{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
  <div class="card">
    <div class="card-divider"><h5>{% trans "Current settings" %}</h5></div>
    <div class="card-section">
<p>{% trans "You can view your current settings below." %}</p>
<dl>
  <dt>{% trans "Receive news via email:" %}</dt>
  <dd>{{ preferences.news_emails|yesno:"Yes,No" }}</dd>
  <dt>{% trans "Notification Digests (receive unread notifications via email in digest format)" %}</dt>
  <dd>{{ preferences.notification_digest|yesno:"Yes,No" }}</dd>
  <dt>{% trans "Volunteer to provide feedback?" %}</dt>
  <dd>{{ preferences.feedback_volunteer|yesno:"Yes,No" }}</dd>
  <dt>{% trans "Receive email copies of messages?" %}</dt>
  <dd>{{ preferences.email_messages|yesno:"Yes,No" }}</dd>
</dl>
    </div>
  </div>
  </div>
</div>

{% endblock %}
