[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
text-unidecode = "*"
pillow = "*"
rcssmin = "*"
"argon2-cffi" = "*"
whitenoise = "*"
redis = "*"
django = "*"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-foundation-formtags = "*"
django-compressor = "*"
django-libsass = "*"
django-redis = "*"
djangorestframework = "*"
coreapi = "*"
waitress = "*"
raven = "*"
django-anymail = "*"
django-storages = "*"
django-avatar = "*"
pwned-passwords-django = "*"
django-cookie-law = "*"
python-stdnum = "*"
django-isbn-field = "*"
django-taggit = "*"
django-treebeard = "*"
django-braces = "*"
rules = "*"
django-filter = "*"
markdown = "*"
django-taggit-serializer = "*"
django-rest-framework-rules = "*"
bleach = "*"
bleach-whitelist = "*"
django-star-ratings = "*"
django-q = "*"
django-extensions = "*"
"boto3" = "*"
newrelic = "*"
django-registration = "*"
django-scheduler = "*"
django-ical = "*"
"psycopg2" = "*"
django-notifications-hq = "*"
elasticsearch = "<6"
haystack = {editable = true, ref = "6de6cba3311dd551f2f98e7a9d845a5d7dd0adb8", git = "https://github.com/andrlik/django-haystack.git"}
django-markdown-filter = "*"

[dev-packages]
sphinx = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-xdist = "*"
"flake8" = "*"
coverage = "*"
factory-boy = "*"
django-test-plus = "*"
django-debug-toolbar = "*"
django-coverage-plugin = "*"
pytest-django = "*"
pytest-env = "*"
isort = "*"

[requires]
python_version = "3.7"
