argon2-cffi==19.1.0
arrow==0.14.2
bleach-whitelist==0.0.10
bleach==3.1.0
blessed==1.15.0
boto3==1.9.162
botocore==1.12.162
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
confusable-homoglyphs==3.2.0
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
django-ajax-selects==1.7.1
django-allauth==0.39.1
django-allow-cidr==0.3.1
django-anymail==6.0.1
django-appconf==1.0.3
django-avatar==4.1.0
django-braces==1.13.0
django-classy-tags==0.9.0
django-compressor==2.3
django-cookie-law==2.0.1
django-environ==0.4.5
django-extensions==2.1.7
django-filter==2.1.0
django-foundation-formtags==0.1.0
django-ical==1.5
django-isbn-field==0.5.2
django-libsass==0.7
django-markdown-filter==0.0.1
django-markdownify==0.8.0
django-model-utils==3.1.2
django-node-assets==0.9.4
django-notifications-hq==1.5.0
django-picklefield==2.0
django-postman==3.6.2
django-q==1.0.1
django-redis==4.10.0
django-registration==3.0.1
django-rest-framework-rules==1.0.0
django-star-ratings==0.7.0
django-storages==1.7.1
django-taggit-serializer==0.1.7
django-taggit==1.1.0
django-treebeard==4.3
django==2.2.2
djangorestframework==3.9.4
docutils==0.14
elasticsearch==5.5.3
factory-boy==2.12.0
faker==1.0.7
icalendar==4.0.3
idna==2.8
itypes==1.1.0
jinja2==2.10.1
jmespath==0.9.4
jsonfield==2.0.2
libsass==0.19.1
markdown2==2.3.8
markdown==3.1.1
markupsafe==1.1.1
netaddr==0.7.19
oauthlib==3.0.1
pillow==6.0.0
psycopg2-binary==2.8.2
pwned-passwords-django==1.3.2
pycparser==2.19
pytest-runner==5.1
python-dateutil==2.8.0
python-stdnum==1.11
python3-openid==3.1.0
pytz==2019.1
raven==6.10.0
rcssmin==1.0.6
redis==2.10.6
requests-oauthlib==1.2.0
requests==2.22.0
rjsmin==1.1.0
rules==2.0.1
s3transfer==0.2.1
six==1.12.0
sqlparse==0.3.0
swapper==1.1.0
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.25.3
waitress==1.3.0
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.2
-e git+https://github.com/andrlik/django-haystack.git@6de6cba3311dd551f2f98e7a9d845a5d7dd0adb8#egg=haystack
-e git+https://github.com/andrlik/django-scheduler.git@4ae1fcf09065f0c9b7380685772549c70d2e78ff#egg=django-scheduler
