{% extends "gamer_profiles/community_base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Edit community" %} - {% endblock %}
{% block editcommactive %} class="is-active"{% endblock %}
{% block sectiontitle %}{% blocktrans with cname=community.name %}Edit: {{ cname }}{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with cname=community.name %}Edit: {{ cname }}{% endblocktrans %}{% endblock %}
{% block comm_crumbs %}
<li><a href="{{ community.get_absolute_url }}">{{ community.name|truncatechars_html:"70" }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Edit" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2">
  </div>
  <div class="medium-7">
<p>{% blocktrans %}You may edit your community details below.{% endblocktrans %}</p>
<form data-abide enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ community.get_absolute_url }}" class="button float-left secondary">{% trans "Return to community details" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Save changes' %}" />
  </div>
</form>
  </div>
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var easymde = new EasyMDE({
    element: $('#id_description')[0],
    autosave: {
      enabled: true,
      uniqueId: "community_{{ community.slug }}_description",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
    spellChecker: false,
    renderingConfig: {
      markedOptions: {
        sanitize: true,
      }
    }
  });
</script>
{% endblock %}
