{% extends "gamer_profiles/community_base.html" %}
{% load i18n humanize foundation_formtags %}
{% block subtitle %}{% trans "Remove ban from" %} {{ community.name }} {% trans "for" %} {{ ban.banned_user.display_name }} - {% endblock %}
{% block sectiontitle %}{% trans "Remove ban record" %}{% endblock %}
{% block mobileheader %}{% trans "Remove ban record" %}{% endblock %}
{% block membersactive %} class="is-active"{% endblock %}
{% block comm_crumbs %}
<li><a href="{{ community.get_absolute_url }}">{{ community.name|truncatechars_html:"70" }}</a></li>
<li><a href="{% url 'gamer_profiles:community-ban-list' community=community.slug %}">{% trans "Banned gamers" %}</a></li>
<li class="disabled">{{ ban.banned_user }}</li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Delete" %}</li>
{% endblock %}
{% block content %}
<p>{% blocktrans with cname=community.name gname=ban.banned_user.display_name %}Remove ban from {{ cname }} for {{ gname }}?{% endblocktrans %}</p>

<div class="callout alert">
  <h2>{% trans "Are you sure?" %}</h2>
  <p>{% blocktrans with cname=community.name gname=ban.banned_user.display_name %}This will remove this record permanently and will permit {{ gname }} to repply and/or rejoin {{ cname }}. {% endblocktrans %}
  </p>
</div>

  <form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
    <p><a href="{% url 'gamer_profiles:community-ban-list' community=community.slug %}" class="button secondary">{% trans "Go back" %}</a> <button type="submit" class="button alert">{% trans "Delete Ban" %}</button></p>
</form>

{% endblock %}
