{% extends "gamer_profiles/base.html" %}
{% load avatar_tags i18n humanize social_tags %}
{% block subtitle %}{% trans "Communities" %} - {% endblock %}
{% block sectiontitle %}{% trans "Communities" %}{% endblock %}
{% block mobileheader %}{% trans "Communities" %}{% endblock %}
{% block allcomactive %} class='is-active'{% endblock %}
{% block content %}
<br />
{% if not request.user.is_authenticated %}
<p>{% trans "Showing only public communities. To see others, you must first" %} <a href="{% url 'account_login' %}">{% trans "login." %}</a></p>
{% endif %}
{% if not object_list %}
<p>{% trans "No communities found." %}</p>
{% endif %}
<table class="scroll hover">
  <thead>
    <th>{% trans "Name" %}</th>
    <th class="text-right">{% trans "Members" %}</th>
    <th>{% trans "Owner" %}</th>
    <th>{% trans "Public/Private" %}</th>
    <th width="400">{% trans "Description" %}</th>
    <th class="text-right">{% trans "Games" %}</th>
    <th>{% trans "Your status" %}</th>
  </thead>
  <tbody>
  {% for community in object_list %}
    <tr>
      <td><a href="{{ community.get_absolute_url }}">{{ community.name }}</a></td>
      <td class="text-right">{{ community.members.count }}</td>
      <td>{% avatar community.owner.user 30 class="avatar" %} <a href="{{ community.owner.get_absolute_url }}">{{ community.owner }}</a></td>
      <td>{% if community.private %}<abbr title="{% trans 'Private' %}"><i class="fas fa-lock"></i></abbr>{% else %}<abbr title="{% trans 'Public' %}"><i class="fas fa-lock-open"></i></abbr>{% endif %}</td>
      <td>{{ community.description_rendered|truncatewords_html:100|safe }}</td>
      <td class="text-right">{% if community.private %}{% if not request.user.is_authenticated or community not in request.user.gamerprofile.communities.all %}{% trans "Hidden" %}{% else %}{{ community.gameposting_set.count }}{% endif %}{% else %}{{ community.gameposting_set.count }}{% endif %}</td>
      <td>{% community_role_flag community %}</td>
    </tr>
  {% empty %}
  {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if not page_obj.has_previous %}
    <li class="pagination-previous disabled">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-previous"><a href="{% url 'gamer_profiles:community-list' page=page_obj.previous_page_number %}" aria-label="Previous page">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
    {% for page_num in paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
    {% else %}
    <li><a href="{% url 'gamer_profiles:community-list' page=page_num %}" aria-label="Page {{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span> </li>
    {% else %}
    <li class="pagination-next"><a href="{% url 'gamer_profiles:community-list' page=page_obj.next_page_number %}" aria-label="Next page">{{ trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
