{% extends "gamer_profiles/community_base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% blocktrans with cname=community.name %}Manage Discord connections for {{ cname }}{% endblocktrans %} - {% endblock %}
{% block sectiontitle %}{% blocktrans with cname=community.name %}Discord links for {{ cname }}{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with cname=community.name %}Discord links for {{ cname }}{% endblocktrans %}{% endblock %}
{% block discordactive %} class="is-active"{% endblock %}
{% block comm_crumbs %}
<li><a href="{{ community.get_absolute_url }}">{{ community.name|truncatechars_html:"70" }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Discord" %}</li>
{% endblock %}
{% block content %}
<p>{% blocktrans %}You may link your community with any discord server where you are an administrator. Upon linking, any member of that server that joins this site and links their Discord account will automatically be added to this community. NOTE: You can only unlink a Discord account if you have admin rights to that as well.{% endblocktrans %}</p>
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Current Servers" %}</h2></div>
      <div class="card-section">
<p>{% blocktrans count counter=community_discord_link.servers.all|length %}This community is currently linked to {{ counter }} server.{% plural %}This community is currently linked to {{ counter }} servers.{% endblocktrans %}</p>
<ul>
  {% for server in community_discord_link.servers.all %}
  <li>{% if server.icon_url %}<img src="{{ server.icon_url }}" width="30" height="30" />{% endif %} {{ server.name }}</li>
  {% empty %}
  {% endfor %}
</ul>
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Edit servers" %}</h2></div>
      <div class="card-section">
<form method="post" action="">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ community.get_absolute_url }}" class="button float-left secondary">{% trans "Discard changes and return to community detail" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Save changes' %}" />
  </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
