{% extends "gamer_profiles/community_base.html" %}
{% load i18n humanize foundation_formtags %}
{% block subtitle %}{% trans "Join" %} {{ community.name }} - {% endblock %}
{% block sectiontitle %}{% blocktrans with cname=community.name %}Join {{ cname }}?{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with cname=community.name %}Join {{ cname }}?{% endblocktrans %}{% endblock %}
{% block joinactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
<span class="meta">{% blocktrans count counter=community.member_count %}One Member{% plural %}{{ counter }} Members{% endblocktrans %}, {% trans "Owner:" %} <a href="{{ community.owner.get_absolute_url }}">{{ community.owner.display_name }}</a></span>
<p>{{ community.description_rendered|default_if_none:""|safe }}</p>
<h2>{% trans "Are you sure?" %}</h2>
<p>{% blocktrans %}Joining this community means that your profile will be visible to all the other members of this group.{% endblocktrans %}</p>
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ community.get_absolute_url }}" class="button secondary float-left">{% trans "Nevermind. Take me back to community details" %}</a> <button class="float-right button success" type="submit">{% trans "Join" %}
    </button>
  </div>
</form>

{% endblock %}
