{% extends "gamer_profiles/profile_base.html" %}
{% load avatar_tags i18n humanize %}
{% block subtitle %}{% trans "Friend Requests" %} - {% endblock %}
{% block sectiontitle %}{% trans "Friend Requests" %}{% endblock %}
{% block mobileheader %}{% trans "Friend Requests" %}{% endblock %}
{% block friendactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block profile_crumbs %}
<li><a href="{{ gamer.get_absolute_url }}">{% trans "Your profile" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Friend requests" %}</li>
{% endblock %}
{% block content %}

<ul class="tabs" data-tabs data-deep-link="true" data-deep-link-smudge="true" id="friend-request-tabs">
  <li class="tabs-title is-active"><a href="#received_panel" aria-selected="true">{% trans "Received" %} ({{ pending_requests.count }})</a></li>
  <li class="tabs-title"><a data-tabs-target="sent_panel" href="#sent_panel">{% trans "Sent" %} ({{ sent_requests.count }})</a></li>
</ul>

<div class="tabs-content" data-tabs-content="friend-request-tabs">
  <div class="tabs-panel is-active" id="received_panel">
    <ul>
      {% for fr in pending_requests %}
      <li>{% avatar fr.requestor.user 30 class="avatar" %} <a href="{{ fr.requestor.get_absolute_url }}">{{ fr.requestor.display_name }}</a> ({{ fr.requestor.username }}) <form action="{% url 'gamer_profiles:gamer-friend-request-approve' friend_request=fr.pk %}" method="post">{% csrf_token %}<button class="button success" type="submit"><i class="fas fa-check-circle"></i> {% trans "Accept" %}</button></form> <form action="{% url 'gamer_profiles:gamer-friend-request-reject' friend_request=fr.pk %}" method="post">{% csrf_token %}<button class="alert button" type="submit"><i class="fas fa-minus-circle"></i> {% trans "Ignore" %}</button> </form></li>
      {% empty %}
      <p>{% trans "No pending requests." %}</p>
      {% endfor %}
    </ul>
  </div>
  <div class="tabs-panel" id="sent_panel">
    <ul>
      {% for fr in sent_requests %}
      <li>{% avatar fr.recipient.user 30 class="avatar" %} <a href="{{ fr.recipient.get_absolute_url }}">{{ fr.recipient.display_name }}</a> ({{ fr.recipient.username }}) <form action="{% url 'gamer_profiles:gamer-friend-request-delete' friend_request=fr.pk %}" method="'post">{% csrf_token %}<button class="alert button" type="submit"><i class="fas fa-trash-alt"></i> {% trans "Withdraw request" %}</button></form> </li>
      {% empty %}
      <p>{% trans "You do not have any sent requests pending." %}</p>
      {% endfor %}
    </ul>
  </div>
</div>



{% endblock %}
