{% extends "gamer_profiles/base.html" %}
{% load i18n foundation_formtags avatar_tags %}
{% block subtitle %}{% blocktrans with gname=gamer.username %}Editing community role for {{ gname }}{% endblocktrans %}{% endblock %}
{% block sectiontitle %}{% trans "Edit member role" %}{% endblock %}
{% block mobileheader %}{% trans "Edit member role" %}{% endblock %}
{% block comm_crumbs %}
<li><a href="{{ community.get_absolute_url }}">{{ community.name|truncatechars_html:"70" }}</a></li>
<li><a href="{% url 'gamer_profiles:community-member-list' community=community.slug %}">{% trans "Members" %}</a></li>
<li class="disabled">{{ gamer }}</li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Edit" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
<p>{% blocktrans with cname=community.name gname=gamer.username %}Editing role for {{ gname }} in community {{ cname }}{% endblocktrans %}</p>
<form action="" method="post">
  {% csrf_token %}
  <p>{% avatar gamer.user 30 %} {{ gamer }}</p>
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'gamer_profiles:community-member-list' community=community.slug %}" class="button float-left secondary">{% trans "Back to community member list" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Save changes' %}" />
  </div>
</form>
  </div>
</div>
{% endblock %}
