{% extends "gamer_profiles/profile_base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Set available times" %} - {% endblock %}
{% block sectiontitle %}{% trans "Set available play times" %}{% endblock %}
{% block mobileheader %}{% trans "Set available play times" %}{% endblock %}
{% block availactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block profile_crumbs %}
<li><a href="{{ request.user.gamerprofile.get_absolute_url }}">{% trans "Your Profile" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Set your availability" %}</li>
{% endblock %}
{% block js_extra %}
{% include "datepicker_js.html" %}
{% include "datepicker_logic.html" %}
{% endblock %}
{% block css_extra %}
{% include "datepicker_css.html" %}
{% endblock %}
{% block content %}
<p>{% trans "Set your general availability for play for the days of the week. You can leave a day blank to indicate that you have no availability." %}</p>
<p><strong>{% trans "Note:" %}</strong> {% trans "only you, GMs with whom you have an active application, or people in the same active game as you can see these times." %}</p>
<form method="post" action="" novalidate data-abide>
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ request.user.gamerprofile.get_absolute_url }}" class="button secondary float-left">{% trans "Discard changes and return to my profile" %}</a> <button type="submit" class="button success float-right">{% trans "Save changes" %}</button>
  </div>
</form>
{% endblock %}
