{% extends "gamer_profiles/profile_base.html" %}
{% load avatar_tags i18n humanize social_tags ratings dash_tags rules tour_tags collection_tags markdownify %}
{% block subtitle %}{{ gamer }} - {% endblock %}
{% block sectiontitle %}{% avatar gamer.user class="avatar" %} {{ gamer }}{% endblock %}
{% block mobileheader %}{% avatar gamer.user class="avatar" %} {{ gamer }}{% endblock %}
{% block detailactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block profile_crumbs %}
{% if gamer and request.user == gamer.user %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Your profile" %}</li>
{% else %}
{% if gamer %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% blocktrans with gmr=gamer %}{{ gmr }}'s profile{% endblocktrans %}</li>
{% endif %}
{% endif %}
{% endblock %}
{% block content %}
{% has_perm "postman.can_message_user" request.user gamer.user as can_message %}
{% get_collection_stats gamer as rpgcollection %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card" id="profile-general-info">
      <div class="card-divider"><h2>{% trans "General info" %}</h2></div>
      <div class="card-section">
        {% if request.user.is_authenticated and request.user == gamer.user %}
        {% get_tour "profile" as tour %}
        {% if tour %}
        <div class="clearfix">
          <div class="float-right">{% render_tour_trigger tour %}</div>
        </div>
        {% endif %}
        {% endif %}
        {% has_perm "profile.view_detail" request.user gamer as is_connected %}
<dl>
  <dt>{% trans "Display Name" %}</dt>
  <dd>{{ gamer }}</dd>
  <dt>{% trans "Bio" %}</dt>
  <dd>{{ gamer.user.bio|default:"No info" }}</dd>
  {% if gamer.user.homepage_url %}
  <dt>{% trans "Homepage" %}</dt>
  <dd><a href="{{ gamer.user.homepage_url }}" rel="nofollow">{{ gamer.user.homepage_url }}</a></dd>
  {% endif %}
  <dt>{% trans "Timezone" %}</dt>
  <dd>{{ gamer.user.get_timezone_display }}</dd>
  {% if is_connected %}
  <dt>{% trans "City" %}</dt>
  <dd>{{ gamer.city|default_if_none:"Not known" }}</dd>
  {% endif %}
  <dt>{% trans "RPG Experience" %}</dt>
  <dd>{{ gamer.rpg_experience|default:"No info"|markdownify|safe }}</dd>
  <dt>{% trans "Tabletop Game Experience" %}</dt>
  <dd>{{ gamer.ttgame_experience|default:"No info"|markdownify|safe }}</dd>
  <dt>{% trans "Playstyle" %}</dt>
  <dd>{{ gamer.playstyle|default:"No info"|markdownify|safe }}</dd>
  {% if is_connected %}
  <dt>Keybase {% trans "verified connections" %} <abbr title="{% trans 'Keybase is an identity service that uses cryptographic proofs to ensure accuracy.' %}"><i class="fas fa-info-circle"></i></abbr></dt>
  <dd>
    {% if not kb_proofs %}
    <p>{% trans "No Keybase accounts connected yet." %}</p>
    {% if request.user == gamer.user %}
    <p>{% trans "If you already have" %} <a href="https://keybase.io">Keybase</a> {% trans "installed, you can add a record to prove that this LFG account belongs to you." %} </p>
    <a class="button" href="keybase://profile/new-proof/app.lfg.directory/{{ request.user.username }}"><i class="fab fa-keybase"></i> {% trans "Add proof" %}</a>
    {% endif %}
    {% else %}
    <ul>
      {% for proof in kb_proofs %}
      <li><a href="https://keybase.io/{{ proof.kb_username }}/"><i class="fab fa-keybase"></i> {{ proof.kb_username }}</a> <img alt="Keybase proof status" src="https://keybase.io/{{ proof.kb_username }}/proof_badge/{{ proof.sig_hash }}?&domain=app.lfg.directory&username={{ proof.user.username }}"></li>
      {% empty %}
      {% endfor %}
    </ul>
    {% endif %}
   </dd>
   {% endif %}
</dl>
{% if request.user != gamer.user and can_message %}
<a href="{% url 'postman:write' gamer.username %}" class="button primary"><i class="fas fa-envelope"></i> {% trans "Message" %}</a>
{% endif %}
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card" id="profile-stats">
      <div class="card-divider"><h2>{% trans "Gamer stats" %}</h2></div>
      <div class="card-section">
        <h3>{% trans "GM Stats" %}</h3>
        {% if gamer.gmed_games.count == 0 %}
        <p>{% trans "No games GMed on LFG yet." %}</p>
        {% else %}
        <ul class="stats-list">
          <li{% stat_class_data gamer.gmed_games.count %}>{{ gamer.gmed_games.count }} <span class="stats-list-label">{% trans "Games created" %}</span></li>
          <li{% stat_class_data gamer.get_active_games.count %}>{{ gamer.get_active_games.count }} <span class="stats-list-label">{% trans "Active games" %}</span></li>
          <li{% stat_class_data gamer.get_sessions_run 50 -1 %}>{{ gamer.get_sessions_run|default_if_none:"0" }} <span class="stats-list-label">{% trans "Sessions run" %}</span></li>
          <li>{{ gamer.gm_games_finished }} <span class="stats-list-label">{% trans "Games finished" %}</span></li>
        </ul>
        {% endif %}
        <h3>{% trans "Player Stats" %}</h3>
        <ul class="stats-list">
          <li{% stat_class_data gamer.games_joined 10 -1 %}>{{ gamer.games_joined|default_if_none:"0" }} <span class="stats-list-label">{% trans "Games joined" %}</span></li>
          <li>{{ gamer.get_player_active_games.count|default_if_none:"0" }} <span class="stats-list-label">{% trans "Active games" %}</span></li>
          <li>{{ gamer.get_sessions_played|default_if_none:"0" }} <span class="stats-list-label">{% trans "Sessions played" %}</span></li>
          <li{% if gamer.games_left > gamer.games_finished %} class="stats-list-negative"{% endif %}>{{ gamer.games_left|default_if_none:"0" }} <span class="stats-list-label">{% trans "Games left" %}</span></li>
          <li{% stat_class_data gamer.games_finished 10 -1 %}>{{ gamer.games_finished|default_if_none:"0" }} <span class="stats-list-label">{% trans "Games finished" %}</span></li>
        </ul>
        <h3>{% trans "Communities" %}</h3>
        <ul class="stats-list">
          <li>{{ gamer.communities.count }} <span class="stats-list-label">{% trans "Member" %}</span></li>
          <li>{{ gamer.get_owned_communities.count }} <span class="stats-list-label">{% trans "Owner" %}</span></li>
          <li>{{ gamer.get_admined_communities.count }} <span class="stats-list-label">{% trans "Admin" %}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% block profdetails %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card" id="profile-status">
      <div class="card-divider"><h2>{% trans "Status" %}</h2></div>
      <div class="card-section">

<table class="hover scroll">
  <thead><th>{% trans "Preference" %}</th><th>{% trans "Response" %}</th></thead>
  <tbody>
    <tr><td>{% trans "Current Status" %}</td><td>{{ gamer.get_player_status_display }}</td></tr>
    <tr><td>{% trans "Willing to GM" %}</td><td>{{ gamer.will_gm|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Adult Themes OK?" %}</td><td>{{ gamer.adult_themes|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "One Shots?" %}</td><td>{{ gamer.one_shots|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Adventures?" %}</td><td>{{ gamer.adventures|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Campaigns?" %}</td><td>{{ gamer.campaigns|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Online games?" %}</td><td>{{ gamer.online_games|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Local games?" %}</td><td>{{ gamer.local_games|yesno:_('Yes,No') }}</td></tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card" id="profile-game-available">
      <div class="card-divider"><h2>{% trans "Generally available to play at" %}</h2></div>
      <div class="card-section">
{% has_perm "profile.see_detailed_availability" request.user gamer as see_avail_calendar %}
{% if see_avail_calendar %}
{% if week_availability %}
        <table class="hover scroll">

  <thead>
    <tr>
      <th width="200">{% trans "Weekday" %}</th>
      <th width="200" class="text-right">{% trans "Available times" %}</th>

    </tr>
  </thead>
  <tbody>
    {% get_weekday_list as weekday_list %}
    {% for wday in weekday_list %}
    <tr>
      <td>{{ wday }}</td>
      <td class="text-right">
        {% if forloop.counter0 == 0 %}
        {% with avail=week_availability.weekdays.0 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
          {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
          {% endif %}
          {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}

        {% elif forloop.counter0 == 1 %}
        {% with avail=week_availability.weekdays.1 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
        {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
        {% endif %}
        {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}


        {% elif forloop.counter0 == 2 %}
        {% with avail=week_availability.weekdays.2 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
        {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
        {% endif %}
        {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}

        {% elif forloop.counter0 == 3 %}
        {% with avail=week_availability.weekdays.3 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
        {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
        {% endif %}
        {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}

        {% elif forloop.counter0 == 4 %}
        {% with avail=week_availability.weekdays.4 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
        {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
        {% endif %}
        {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}

        {% elif forloop.counter0 == 5 %}
        {% with avail=week_availability.weekdays.5 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
        {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
        {% endif %}
        {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}

        {% else %}
        {% with avail=week_availability.weekdays.6 %}
        {% if avail %}
        {% if avail.seconds > 86000 %}
        <span class="label success">{% trans "Whenever" %}</span>
        {% else %}
        <span class="label primary">{{ avail.start|date:"H:i" }} - {{ avail.end|date:"H:i" }}</span>
        {% endif %}
        {% else %}
        <span class="label secondary">{% trans "Not available" %}</span>
        {% endif %}
        {% endwith %}

        {% endif %}
      </td>
    </tr>
      {% empty %}
      {% endfor %}
  </tbody>
</table>
{% else %}
{% if request.user == gamer.user %}
<p>{% trans "None set yet." %}</p>
{% else %}
<p>{% trans "Not known" %}</p>
{% endif %}
{% endif %}
{% if request.user == gamer.user %}
<a href="{% url 'gamer_profiles:set-available' %}" class="button primary"><i class="fas fa-edit"></i> {% trans "Set available times" %}</a>
{% endif %}
{% else %}
<p>{% trans "Hidden" %}</p>
{% endif %}
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card" id="profile-game-favorites">
      <div class="card-divider"><h2>{% trans "Favorites" %}</h2></div>
      <div class="card-section">

        <h3>{% trans "Preferred Games" %}</h3>
        {% if gamer.preferred_games.count == 0 %}
        <p>{% blocktrans with gname=gamer.display_name %}{{ gname }} hasn't listed any preferred games yet.{% endblocktrans %}</p>
        {% else %}
        <ul>
  {% for game in gamer.preferred_games.all %}
  <li><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></li>
  {% empty %}
  {% endfor %}
        </ul>
        {% endif %}
        <h3>{% trans "Preferred Systems" %}</h3>
        {% if gamer.preferred_systems.count == 0 %}
        <p>{% blocktrans with gname=gamer.display_name %}{{ gname }} hasn't listed any preferred systems yet.{% endblocktrans %}</p>
        {% else %}
<ul>
  {% for system in gamer.preferred_systems.all %}
  <li><a href="{{ system.get_absolute_url }}">{{ system.name }}</a></li>
  {% empty %}
  {% endfor %}
</ul>
{% endif %}
    </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card" id="profile-game-library">
      <div class="card-divider"><h2>{% trans "Game library" %}</h2></div>
      <div class="card-section">
        <h3>{% trans "Collection stats" %}</h3>
        <ul class="stats-list">

          <li>{{ rpgcollection.sourcebooks }} <span class="stats-list-label">{% trans "Sourcebooks" %}</span></li>
          <li>{{ rpgcollection.system_references }} <span class="stats-list-label">{% trans "System References" %}</span></li>
          <li>{{ rpgcollection.modules }} <span class="stats-list-label">{% trans "Modules" %}</span></li>
          <li>{{ rpgcollection.num_games }} <span class="stats-list-label">{% trans "Distinct Games" %}</span></li>
          <li>{{ rpgcollection.num_editions }} <span class="stats-list-label">{% trans "Distinct Editions" %}</span></li>
          <li>{{ rpgcollection.num_systems }} <span class="stats-list-label">{% trans "Distinct Systems" %}</span></li>
          <li>{{ rpgcollection.num_publishers }} <span class="stats-list-label">{% trans "Distinct Publishers" %}</span></li>
        </ul>
        <a href="{{ rpgcollection.source_library.get_absolute_url }}" class="button">{% trans "View collection" %}</a>
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-margin-x">
  {% if request.user.is_authenticated %}
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Gamer Metadata" %}</h2></div>
      <div class="card-section">
<div id="user-gamer-meta-data">
  <dl>
    <dt>{% trans "Average Rating" %}</dt>
    <dd>{{ gamer.avg_gamer_rating }}</dd>
    <dt>{% trans "Rate gamer" %}</dt>
    <dd>{% ratings gamer %}</dd>
    {% if request.user != gamer.user %}
    <hr />
    <dt>{% trans "Your notes on this gamer" %}</dt>
    <dd>
      <ol>
        {% for note in gamer_notes %}
        <li class="gamer-note">
          <div class="grid-x grid-margin-x">
            <div class="cell medium-4">
          <dl>
            <dt>{% trans "Title" %}</dt>
            <dd>{{ note.title }}</dd>
            <dt>{% trans "Note" %}</dt>
            <dd>{{ note.body_rendered|safe }}</dd>
          </dl>
            </div>
            <div class="cell medium-2">
              <dl>
            <dt>{% trans "Created" %}</dt>
            <dd>{{ note.created }}</dd>
            <dt>{% trans "Modified" %}</dt>
            <dd>{{ note.modified }}</dd>
              </dl>
            </div>
            <div class="cell medium-2">
            </div>
            <dl>
            <dt></dt>
            <dd><a href="{% url 'gamer_profiles:edit-gamernote' gamernote=note.pk %}" class="button primary">{% trans "Edit note" %}</a></dd>
            <dt></dt>
            <dd><a href="{% url 'gamer_profiles:delete-gamernote' gamernote=note.pk %}" class="button alert">{% trans "Delete note" %}</a> </dd>
            </dl>
          </div>
        </li>
        {% empty %}
        <p>{% trans "You have not made any notes for this gamer yet." %}</p>
        {% endfor %}
        <a href="{% url 'gamer_profiles:add-gamer-note' gamer=gamer.username %}"><button class="button primary">{% trans "Add a note" %}</button></a>
      </ol>
    </dd>
  </dl>
    {% endif %}
</div>
{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% if gamer.user == request.user %}
<a href="{% url 'gamer_profiles:profile_export' gamer=gamer.username %}" class="button primary">{% trans "Export your profile data" %}</a>
{% endif %}


{% endblock %}
{% block tourjs %}
{% get_tour "profile" as tour %}
{% if request.user.is_authenticated and request.user == gamer.user and tour %}
{% render_tour tour %}
{% update_tour_rendered tour request.user %}
{% endif %}
{% endblock %}
