{% extends "catalog/base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% blocktrans with ctype=correction.title %}Delete suggested correction for {{ ctype }}{% endblocktrans %} - {% endblock %}
{% block sectiontitle %}{% blocktrans with ctype=correction.title %}Delete suggested correction for {{ ctype }}{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with ctype=correction.title %}Delete suggested correction for {{ ctype }}{% endblocktrans %}{% endblock %}
{% block correctactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block cata_crumbs %}
{% if correction.content_type.model == "gamepublisher" %}
<li><a href="{% url 'game_catalog:pub-list' %}">{% trans "Publishers" %}</a></li>
<li><a href="{{ correction.content_object.get_absolute_url }}">{{ correction.content_object.name|truncatechars_html:"70" }}</a></li>
{% else %}
{% if correction.content_type.model == "gamesystem" %}
<li><a href="{% url 'game_catalog:system-list' %}">{% trans "Systems" %}</a></li>
<li><a href="{{ correction.content_object.get_absolute_url }}">{{ correction.content_object.name|truncatechars_html:"70" }}</a></li>
{% else %}
<li><a href="{% url 'game_catalog:game-list' %}">{% trans "Published games" %}</a></li>
{% if correction.content_type.model == "publishedgame" %}
<li><a href="{{ correction.content_object.get_absolute_url }}">{{ correction.content_object.title|truncatechars_html:"70" }}</a></li>
{% elif correction.content_type.model == "gameedition" %}
<li><a href="{{ correction.content_object.game.get_absolute_url }}">{{ correction.content_object.game.title|truncatechars_html:"70" }}</a></li>
<li><a href="{{ correction.content_object.get_absolute_url }}"><span class="show-for-sr">{% trans "Edition:" %} </span>{{ correction.content_object.name }}</a></li>
{% elif correction.content_type.model == "sourcebook" %}
<li><a href="{{ correction.content_object.edition.game.get_absolute_url }}">{{ correction.content_object.edition.game.title|truncatechars_html:"70" }}</a></li>
<li><a href="{{ correction.content_object.edition.get_absolute_url }}"><span class="show-for-sr">{% trans "Edition:" %} </span>{{ correction.content_object.edition.name }}</a></li>
<li class="disabled">{% trans "Sourcebooks" %}</li>
<li><a href="{{ correction.content_object.get_absolute_url }}">{{ correction.content_object.title|truncatechars_html:"70" }}</a></li>
{% else %}
<li><a href="{{ correction.content_object.parent_game_edition.game.get_absolute_url }}">{{ correction.content_object.parent_game_edition.game.title|truncatechars_html:"70" }}</a></li>
<li><a href="{{ correction.content_object.parent_game_edition.get_absolute_url }}"><span class="show-for-sr">{% trans "Edition:" %} </span>{{ correction.content_object.parent_game_edition.name }}</a></li>
<li class="disabled">{% trans "Modules" %}</li>
<li><a href="{{ correction.content_object.get_absolute_url }}">{{ correction.content_object.title|truncatechars_html:"70" }}</a></li>
{% endif %}
{% endif %}
{% endif %}
<li><a href="{{ correction.get_absolute_url }}">{% trans "Suggested Correction" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Delete" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Delete suggested correction?" %}</h5></div>
      <div class="card-section">
        <div class="callout alert">
          <h5>{% trans "Are you sure?" %}</h5>
          <p>{% trans "Deleting this suggestion cannot be undone." %}</p>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <div class="clearfix">
            <a href="{{ correction.get_absolute_url }}" class="button secondary float-left">{% trans "Return to suggestion details" %}</a> <input type="submit" class="button float-right alert" value="{% trans 'Delete record' %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
