{% extends "catalog/base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Create game edition" %} - {% endblock %}
{% block gameactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% trans "Create game edition for" %} {{ game.title }}{% endblock %}
{% block mobileheader %}{% trans "Create game edition for" %} {{ game.title }}{% endblock %}
{% block cata_crumbs %}
<li><a href="{% url 'game_catalog:game-list' %}">{% trans "Published games" %}</a></li>
<li><a href="{{ game.get_absolute_url }}">{{ game.title|truncatechars_html:"70" }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Create Edition" %}</li>
{% endblock %}

{% block content %}
<p>{% blocktrans %}Enter the game edition details below.{% endblocktrans %}</p>
<form enctype="multipart/form-data" data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ game.get_absolute_url }}" class="button float-left secondary">{% trans "Discard changes and return to game detail" %}</a> <input type="submit" class="float-right button success" value="{% trans 'Save new edition' %}" />
  </div>
</form>

{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: $('#id_description')[0],
    autosave: {
      enabled: true,
      uniqueId: "catalog_edition_description",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
  });
</script>
{% endblock %}
