{% extends "catalog/base_form.html" %}
{% load i18n foundation_formtags %}
{% block gameactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block subtitle %}{% trans "Create game" %} - {% endblock %}
{% block sectiontitle %}{% trans "Create game" %}{% endblock %}
{% block mobileheader %}{% trans "Create game" %}{% endblock %}
{% block cata_crumbs %}
<li><a href="{% url 'game_catalog:game-list' %}">{% trans "Published games" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Create" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Create new game entry" %}</h2></div>
      <div class="card-section">
<p>{% blocktrans %}Enter published game details below:{% endblocktrans %}</p>
<form enctype="multipart/form-data" data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'game_catalog:game-list' %}" class="button float-left secondary">{% trans "Return to published game list" %}</a> <input type="submit" class="float-right button success" value="{% trans 'Save new game' %}" />
  </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var easymde = new EasyMDE({
    element: $('#id_description')[0],
    autosave: {
      enabled: true,
      uniqueId: "catalog_game_description",
    },
    tabSize: 4,
    indentWithTabs: false,
    spellChecker: false,
    forceSync: true,
    renderingConfig: {
      markedOptions: {
        sanitize: true,
      }
    }
  });
</script>
{% endblock %}
