{% extends "catalog/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Create publisher" %} - {% endblock %}
{% block pubactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% trans "Create publisher" %}{% endblock %}
{% block mobileheader %}{% trans "Create publisher" %}{% endblock %}
{% block content %}
<p>{% blocktrans %}Enter the publisher details below.{% endblocktrans %}</p>
<form enctype="multipart/form-data" data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'game_catalog:pub-list' %}" class="button float-left secondary">{% trans "Discard changes and return to publisher list" %}</a> <input type="submit" class="float-right button success" value="{% trans 'Save new publisher' %}" />
  </div>
</form>

{% endblock %}
