{% extends "catalog/base.html" %}
{% load i18n cache %}
{% block subtitle %}{% trans "Recent additions to catalog" %} - {% endblock %}
{% block sectiontitle %}{% trans "Recent additions" %}{% endblock %}
{% block mobileheader %}{% trans "Recent additions" %}{% endblock %}
{% block recentactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block cata_crumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Recent additions" %}</li>
{% endblock %}
{% block content %}
<p>{% trans "Now showing the 30 most recent additions to the RPG database:" %}</p>
{% cache 500 recent_addition_table %}
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "Record type" %}</th>
      <th>{% trans "Title/Name" %}</th>
      <th>{% trans "Tags" %}</th>
      <th class="text-right">{% trans "Added" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in recent_addition_list %}
    <tr>
      <td>{{ obj.type }}</td>
      <td><a href="{{ obj.object.get_absolute_url }}">{% if obj.type == "Sourcebook" %}{{ obj.object.title }} - {{ obj.object.edition }}{% elif obj.type == "Module" %}{{ obj.object.title }} - {{ obj.object.parent_game_edition }}{% elif obj.type == "Edition" %}{{ obj.object }}{% else %}{{ obj.object.name }}{% endif %}</a></td>
      <td>{{ obj.object.inherited_tag_names|join:", " }}</td>
      <td class="text-right">{{ obj.when }}</td>
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% endcache %}
{% endblock %}
