{% extends "catalog/base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Create new sourcebook for" %}  {{ edition }} - {% endblock %}
{% block gameactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% trans "Create sourcebook for" %} {{ edition }}{% endblock %}
{% block mobileheader %}{% trans "Create sourcebook for" %} {{ edition }}{% endblock %}
{% block cata_crumbs %}
<li><a href="{% url 'game_catalog:game-list' %}">{% trans "Published games" %}</a></li>
<li><a href="{{ edition.game.get_absolute_url }}">{{ edition.game.title|truncatechars_html:"70" }}</a></li>
<li><a href="{{ edition.get_absolute_url }}"><span class="show-for-sr">{% trans "Edition:" %} </span>{{ edition.name }}</a></li>
<li class="disabled">{% trans "Sourcebooks" %}</li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Create" %}</li>
{% endblock %}
{% block content %}
<p>{% blocktrans %}Enter the sourcebook details below.{% endblocktrans %}</p>
<form enctype="multipart/form-data" data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ edition.get_absolute_url }}" class="button float-left secondary">{% trans "Discard changes and return to edition detail" %}</a> <input type="submit" class="float-right button success" value="{% trans 'Save new sourcebook' %}" />
  </div>
</form>

{% endblock %}
