{% extends "catalog/base.html" %}
{% load i18n humanize game_tags catalog_tags cache rules collection_tags foundation_formtags %}
{% load ratings %}
{% block subtitle %}{{ system.name }} - {% endblock %}
{% block sectiontitle %}{{ system.name }}{% endblock %}
{% block systemactive %} class="is-active"{% endblock %}
{% block mobileheader %}{{ system.name }}{% endblock %}
{% block cata_crumbs %}
<li><a href="{% url 'game_catalog:system-list' %}">{% trans "Systems" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{{ system.name|truncatechars_html:"70" }}</li>
{% endblock %}
{% block content %}
{% has_perm 'catalog.can_edit' user system as is_editor %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "General info" %}</h5></div>
      <div class="card-section">
        {% if system.image %}<img class="thumbnail" alt="{% trans 'Cover of' %} {{ system.name }}" src="{{ system.image.url }}" />{% endif %}
        <dl>
          <dt>{% trans "Title" %}</dt>
          <dd>{{ system.name }}</dd>
          <dt>{% trans "Website" %}</dt>
          <dd>{% if system.url %}<a href="{{ system.url }}">{{ system.url }}</a>{% else %}{% trans "Not known" %}{% endif %}</dd>
  <dt>{% trans "Published by" %}</dt>
  <dd><a href="{{ system.original_publisher.get_absolute_url }}">{{ system.original_publisher.name }}</a></dd>
  <dt>{% trans "OGL Licensed?" %}</dt>
  <dd>{{ system.ogl_license|yesno:"Yes,No" }}</dd>
  <dt>{% trans "Release Date" %}</dt>
  <dd>{{ system.release_date|date:"F Y"|default:"?" }}</dd>
  <dt>{% trans "Tagged with" %}</dt>
  <dd>{{ system.inherited_tag_names|join:", "|default:"None" }}</dd>
  <dt>{% trans "Description" %}</dt>
  <dd>{{ system.description_rendered|safe }}</dd>

        </dl>
      </div>

      {% if request.user.is_authenticated %}
      <div class="card-section">
        <hr />
        <p><strong>{% trans "Collection status" %}</strong></p>
      {% is_in_collection system request.user.gamerprofile as in_collection %}
        {% get_content_type system as obj_ct %}
        {% if not in_collection %}
        <p>{% trans "This game system is not in your personal collection. If you have a copy, you may add it using the form below." %}</p>
        <form method="post" action="{% url 'rpgcollections:add-book' booktype='system' %}?next={{ system.get_absolute_url }}">
          {% csrf_token %}
          {{ collect_form|as_foundation }}
          <div class="clearfix">
            <input type="submit" class="button" value="{% trans 'Add to my collection' %}" />
          </div>
        </form>
        {% else %}
        <p>{% trans "This system is in your personal collection." %}</p>
        <form method="post" action="{% url 'rpgcollections:remove-book' book=in_collection.slug %}?next={{ system.get_absolute_url }}">
          {% csrf_token %}
          <div class="clearfix">
            <a href="{{ in_collection.get_absolute_url }}" class="button float-left">{% trans "View your copy" %}</a> <input type="submit" class="button float-right alert" value="{% trans 'Remove from collection' %}" />
          </div>
        </form>
        {% endif %}
        {% endif %}
      </div>

      {% if is_editor %}
      <div class="card-section">
        <hr />
        <p><strong>{% trans "Admin tools" %}</strong></p>
<div class="clearfix">
  <a href="{% url 'game_catalog:system-edit' system=system.pk %}" class="button float-left"><i class="fas fa-edit"></i> {% trans "Edit details" %}</a> <a href="{% url 'game_catalog:system-delete' system=system.pk %}" class="button float-right alert"><i class="fas fa-trash-alt"></i> {% trans "Delete system" %}</a>
</div>
      </div>
{% else %}
<div class="card-section">
  <hr />
  <div class="clearfix">
    <a href="{{ system.get_correction_url }}" class="button float-left"><i class="fas fa-edit"></i> {% trans "Suggest a correction" %}</a>
  </div>
</div>
{% endif %}
      </div>
    </div>

  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "LFG Stats" %}</h5></div>
      <div class="card-section">
        <dl>
          <dt>{% trans "DB Stats" %}</dt>
          <dd> <ul class="stats-list">
            {% get_modules_for_system system as sysmodules %}
            <li>{{ system.game_editions.count|intcomma }} <span class="stats-list-label">{% trans "Game editions" %}</span></li>
            <li>{{ sysmodules.count|intcomma }} <span class="stats-list-label">{% trans "Modules" %}</span></li>
          </ul>
         </dd>
         <dt>{% trans "Social stats" %}</dt>
         {% cache 500 "system_social_stats" system.pk %}
        <dd>
          <ul class="stats-list">
            {% get_games_for_system system as all_games %}
            {% get_games_for_system system True as active_games %}
            <li>{{ all_games.count|intcomma }} <span class="stats-list-label">{% trans "Games created" %}</span></li>
            <li>{{ active_games.count|intcomma }} <span class="stats-list-label">{% trans "Active games" %}</span></li>
            <li>{{ system.gamerprofile_set.count|intcomma }} <span class="stats-list-label">{% trans "User favorites" %}</span></li>
            <li>{{ system.collected_copies.count|intcomma }} <span class="stats-list-label">{% trans "Copies owned by users" %}</span></li>
          </ul></dd>
        {% endcache %}
        </dl>
        <hr />
        <div class="grid-x grid-margin-x">
          <div class="cell medium-auto"></div>
          <div class="cell medium-auto"> {% ratings system %}</div>
          <div class="cell medium-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cell">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Game Editions" %}</h5></div>
      <div class="card-section">
{% if system.game_editions.count == 0 %}
<p>{% blocktrans with sname=system.name %}We don't have any game information for {{ sname }} yet.{% endblocktrans %}</p>
{% else %}
<table class="hover scroll">
  <thead>
    <tr>
      <th>{% trans "Game" %}</th>
      <th>{% trans "Edition" %}</th>
      <th>{% trans "Publisher" %}</th>
      <th class="text-right">{% trans "Released" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for edition in system.game_editions.all %}
    <tr>
      <td><a href="{{ edition.game.get_absolute_url }}">{{ edition.game.title }}</a></td>
      <td><a href="{{ edition.get_absolute_url }}">{{ edition.name }}</a></td>
      <td><a href="{{ edition.publisher.get_absolute_url }}">{{ edition.publisher.name }}</a></td>
      <td class="text-right">{{ edition.release_date|date:"F Y" }}</td>
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
      </div>
    </div>
  </div>
</div>
<span class='disclaimer'>{% blocktrans with pubname=system.original_publisher.name %}Looking for Group is not affiliated with or endorsed by {{ pubname }}. Images are copyright {{ pubname }}, and logos are trademarked by {{ pubname }}.{% endblocktrans %}</span>

{% endblock %}
