{% extends "catalog/base.html" %}
{% load i18n humanize rules %}
{% block subtitle %}{% trans "Game Systems" %} - {% endblock %}
{% block sectiontitle %}{% trans "Game Systems" %}{% endblock %}
{% block mobileheader %}{% trans "Game Systems" %}{% endblock %}
{% block systemactive %} class="is-active"{% endblock %}
{% block content %}
{% has_perm 'catalog.can_edit' user object_list as is_editor %}
{% if is_editor %}
<br />
<div class="clearfix">
  <a href="{% url 'game_catalog:system-create' %}" class="button float-right"><i class="fas fa-plus-circle"></i> {% trans "Create new game system" %}</a>
</div>
{% else %}
<br />
<div class="clearfix">
  <a href="{% url 'game_catalog:addition_create' obj_type='system' %}" class="button float-right"><i class="fas fa-plus-circle"></i> {% trans "Suggest new game system" %}</a>
</div>
{% endif %}
{% if not object_list.exists %}
<p>{% trans "No publishers found" %}</p>
{% endif %}
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Publisher" %}</th>
      <th>{% trans "Description" %}</th>
      <th class="text-right">{% trans "Published" %}</th>
      <th class="text-right">{% trans "Associated Games" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for system in object_list %}
    <tr>
      <td><a href="{{ system.get_absolute_url }}">{{ system.name }}</a></td>
      <td><a href="{{ system.original_publisher.get_absolute_url }}">{{ system.original_publisher.name }}</a></td>
      <td>{{ system.description_rendered|safe|truncatewords_html:25 }}</td>
      <td class="text-right">{{ system.publication_date|date:"Y" }}</td>
      <td class="text-right">{{ system.game_editions.count }}</td>
    </tr>
    {% empty %}
    <!-- No results -->
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if not page_obj.has_previous %}
    <li class="pagination-previous disabled">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-previous"><a href="{% url 'game_catalog:system-list' page=page_obj.previous_page_number %}" aria-label="Previous page">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span> </a></li>
    {% endif %}
    {% for page_num in paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
    {% else %}
    <li><a href="{% url 'game_catalog:system-list' page=page_num %}" aria-label="Page {{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-next"><a href="{% url 'game_catalog:system-list' page=page_obj.next_page_number %}" aria-label="Next page">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
