{% load i18n markdownify %}
{% if tour and user.is_authenticated %}
<script type="text/javascript">
  const tour_{{ tour.name }} = new Shepherd.Tour({
    tourName: "{{ tour.name }}",
    defaultStepOptions: {
      scrollTo: true,
    },
    useModalOverlay: true,

  });

  tour_{{ tour.name }}.addStep({

    title: "{{ tour.name|capfirst }}",
    text: "{{ tour.description|safe|markdownify|safe }}",
    buttons:[
      {
        text: "{% trans 'Take a quick tour' %}",
        action: tour_{{ tour.name }}.next
      },
    ]
  });
  {% for step in tour.steps.all %}
  tour_{{ tour.name }}.addStep({
    title: "{{ step.title }}",
    attachTo: {
      element: "#{{ step.target_id }}",
      on: "{{ step.placement|default_if_none:'bottom' }}"
    },
    text: "{{ step.guide_text|safe|markdownify|safe }}",
    {% if not forloop.first and not forloop.last %}
    buttons:  [
      {
        text: "{% trans 'Prev' %}",
        action: tour_{{ tour.name }}.back
      },
      {
        text: "{% trans 'Next' %}",
        action: tour_{{ tour.name }}.next
      }
    ]
    {% else %}
    {% if forloop.last %}
    buttons: [{
      text: "{% trans 'Prev' %}",
      action: tour_{{ tour.name }}.back
    },
              {
                text: "{% trans 'Got it! Thanks!' %}",
                action: tour_{{ tour.name }}.next
              }
    ]
    {% else %}
    buttons: [{
      text: "{% trans 'Next' %}",
      action: tour_{{ tour.name }}.next
    }
    ]
    {% endif %}
    {% endif %}
  });
  {% empty %}
  {% endfor %}
  Shepherd.on("complete", function() {
    document.getElementById("top-nav-bar").scrollIntoView();
    jQuery("#content").animate({ scrollTop: jQuery("main").offset().top}, 2000);
  });
  Shepherd.on("cancel", function() {
    document.getElementById("top-nav-bar").scrollIntoView();
    jQuery("#content").animate({ scrollTop: jQuery("main").offset().top}, 2000);
  });
  Shepherd.on("hide", function() {
    document.getElementById("top-nav-bar").scrollIntoView();
    jQuery("#content").animate({ scrollTop: jQuery("main").offset().top}, 2000);
  });
  {% if tour not in completed_tours %}
  tour_{{ tour.name }}.start();
  {% endif %}
</script>
{% endif %}
