{% extends "catalog/base.html" %}
{% load i18n game_tags rules %}
{% load ratings %}
{% block subtitle %}{{ edition }} - {% endblock %}
{% block sectiontitle %}{{ edition }}{% endblock %}
{% block mobileheader %}{{ edition }}{% endblock %}
{% block gameactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
{% has_perm 'catalog.can_edit' user edition as is_editor %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "General info" %}</h5></div>
      <div class="card-section">
{% if edition.image %}<img class="thumbnail" src="{{ edition.image.url }}" />{% endif %}
{% if edition.url %}<h5><a href="{{ edition.url }}">{% trans "Official site" %}</a></h5>{% endif %}
<dl>
  <dt>{% trans "Game" %}</dt>
  <dd><a href="{{ edition.game.get_absolute_url }}">{{ edition.game.title }}</a></dd>
  <dt>{% trans "Edition" %}</dt>
  <dd>{{ edition.name }}</dd>
  <dt>{% trans "Publisher" %}</dt>
  <dd><a href="{{ edition.publisher.get_absolute_url }}">{{ edition.publisher.name }}</a></dd>
  <dt>{% trans "Game System" %}</dt>
  <dd><a href="{{ edition.game_system.get_absolute_url }}">{{ edition.game_system.name }}</a></dd>
  <dt>{% trans "Released" %}</dt>
  <dd>{{ edition.release_date|date:"F Y" }}</dd>
  <dt>{% trans "Tagged with" %}</dt>
  <dd>{{ edition.inherited_tag_names|join:', ' }}</dd>
  <dt>{% trans "Description" %}</dt>
  <dd>{{ edition.description_rendered|safe }}</dd>
</dl>

{% if is_editor %}
<div class="clearfix">
  <a href="{% url 'game_catalog:edition_edit' edition=edition.slug %}" class="float-left button"><i class="fas fa-edit"></i> {% trans "Edit details" %}</a> <a href="{% url 'game_catalog:edition_delete' edition=edition.slug %}" class="float-right button alert"><i class="fas fa-trash-alt"></i> {% trans "Delete edition" %}</a>
</div>
{% endif %}
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "LFG Stats" %}</h5></div>
      <div class="card-section">
        <dl>
          <dt>{% trans "DB Stats" %}</dt>
          <dd>
            <ul class="stats-list">
              <li>{{ edition.publishedmodule_set.count }} <span class="stats-list-label">{% trans "Modules" %}</span></li>
              <li>{{ edition.sourcebooks.count }} <span class="stats-list-label">{% trans "Sourcebooks" %}</span></li>
            </ul>
          </dd>
          <dt>{% trans "Social stats" %}</dt>
          <dd>
            <ul class="stats-list">
              {% get_games_for_edition edition as allgames %}
              {% get_games_for_edition edition True as activegames %}
              <li>{{ allgames.count }} <span class="stats-list-label">{% trans "Games created" %}</span></li>
              <li>{{ activegames.count }} <span class="stats-list-label">{% trans "Active games" %}</span></li>
            </ul>
          </dd>
        </dl>

        <hr />
        <div class="grid-x grid-margin-x">
          <div class="cell auto"></div>
          <div class="cell auto">{% ratings edition %}</div>
          <div class="cell auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cell">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Sourcebooks and Modules" %}</h5></div>
      <div class="card-section">

<ul class="tabs" data-tabs data-deep-links="true" data-deep-links-smudge="true" id="book-tabs">
  <li class="is-active tabs-title"><a href="#sourcebook_panel" data-tabs-target="sourcebook_panel" aria-selected="true">{% trans "Sourcebooks" %}</a></li>
  <li class="tabs-title"><a href="#module_panel" data-tabs-target="module_panel">{% trans "Modules/Adventures" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="book-tabs">
  <div class="tabs-panel is-active" id="sourcebook_panel">
    {% if is_editor %}
    <div class="clearfix">
      <a href="{% url 'game_catalog:sourcebook_create' edition=edition.slug %}" class="button float-right"><i class="fas fa-plus-circle"></i> {% trans "Create new sourcebook for edition" %}</a>
    </div>
    {% endif %}
    {% if edition.sourcebooks.count == 0 %}
    <p>{% blocktrans %}We don't have any sourcebook information on file yet for this edition.{% endblocktrans %}</p>
    {% else %}
    <table class="scroll hover">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Is corebook?" %}</th>
          <th>{% trans "Released" %}</th>
          <th class="text-right">ISBN</th>
        </tr>
      </thead>
      <tbody>
        {% for book in edition.sourcebooks.all %}
        <tr>
          <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
          <td>{{ book.corebook|yesno:"Yes,No" }}</td>
          <td class="text-right">{{ book.release_date|date:"F Y" }}</td>
          <td class="text-right">{{ book.isbn|default_if_none:"N/A" }}</td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="tabs-panel" id="module_panel">
    {% if is_editor %}
    <div class="clearfix">
      <a href="{% url 'game_catalog:module-create' edition=edition.slug %}" class="button float-right"><i class="fas fa-plus-circle"></i> {% trans "Create new module for this edition" %}</a>
    </div>
    {% endif %}
    {% if edition.publishedmodule_set.count == 0 %}
    <p>{% blocktrans %}We don't have any modules on file yet for this edition.{% endblocktrans %}</p>
    {% else %}
    <table class="scroll hover">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Publisher" %}</th>
          <th class="text-right">{% trans "Release Date" %}</th>
          <th class="text-right">ISBN</th>
        </tr>
      </thead>
      <tbody>
        {% for module in edition.publishedmodule_set.all %}
        <tr>
          <td><a href="{{ module.get_absolute_url }}">{{ module.title }}</a></td>
          <td><a href="{{ module.publisher.get_absolute_url }}">{{ module.publisher.name }}</a></td>
          <td class="text-right">{{ module.publication_date|date:"F Y" }}</td>
          <td class="text-right">{{ module.isbn|default_if_none:"N/A" }}</td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
      </div>
    </div>
  </div>
</div>

<span class="disclaimer">{% blocktrans with pname=edition.publisher.name %}Looking for Group is not affiliated with or endorsed by {{ pname }}. Images are copyright {{ pname }}, and logos are trademarked by {{ pname }}. This information only appears here in an editorial capacity.{% endblocktrans %}</span>
{% endblock %}
