{% extends "catalog/base.html" %}
{% load i18n humanize cache %}
{% block subtitle %}{% trans "Games" %} - {% endblock %}
{% block sectiontitle %}{% trans "Published Games" %}{% endblock %}
{% block mobileheader %}{% trans "Published Games" %}{% endblock %}
{% block gameactive %} class="is-active"{% endblock %}
{% block content %}

{% if not object_list %}
<p>{% trans "No published games found." %}</p>
{% endif %}

<table class="stack hover">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th class="text-right">{% trans "Num Editions" %}</th>
      <th>{% trans "System" %}</th>
      <th>{% trans "Description" %}</th>
      <th class="text-right">{% trans "Published" %}</th>
      <th>{% trans "Tags" %}</th>
    </tr>
  </thead>
  <tbody>
    {% cache 600 game page_obj.number %}
    {% for game in object_list %}
    <tr>
      <td><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></td>
      <td class="text-right">{{ game.editions.count }}</td>
      <td>{{ game.description|truncatewords:25 }}</td>
      <td class="text-right">{{ game.publication_date|date:"Y" }}</td>
      <td>{{ game.inherited_tag_names|join:", " }}</td>
    </tr>
    {% empty %}
    <!-- No results -->
    {% endfor %}
    {% endcache %}

  </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if not page_obj.has_previous %}
    <li class="pagination-previous disabled">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-previous"><a href="{% url 'game_catalog:game-list' page=page_obj.previous_page_number %}" aria-label="Previous page">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span> </a></li>
    {% endif %}
    {% for page_num in paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
    {% else %}
    <li><a href="{% url 'game_catalog:game-list' page=page_num %}" aria-label="Page {{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-next"><a href="{% url 'game_catalog:game-list' page=page_obj.next_page_number %}" aria-label="Next page">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
