{% extends "catalog/base.html" %}
{% load l18n humanize %}
{% block subtitle %}{{ game.title }} - {% endblock %}
{% block content %}
<h1>{{ game.title }}</h1>

<h2><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></h2>
<span class="meta">{% blocktrans %}Published by <a href="{{ game.publisher.get_absolute_url}}">{{ game.publisher.name }}</a>{% endblock %}. {% trans "System: " %}<a href="{{ game.game_system.get_absolute_url }}">{{ game.game_system }}</a>. {% blocktrans count counter=game.publishedmodule_set|length %}One Game Module{% plural %}{{ counter|humanize }} Game Modules.{% endblocktrans %}</span>
<p>{{ game.description }}</p>

{% endblock %}
