{% extends "catalog/base.html" %}
{% load i18n humanize %}
{% block subtitle %}{% trans "Modules" %} - {% endblock %}
{% block content %}
<h1>{% trans "Published Game Modules" %}</h1>

{% for module in object_list %}
<h2><a href="{{ module.get_absolute_url }}">{{ module.title }}</a></h2>
<span class="meta">{% trans "An adventure for" %} <a href="{{ module.parent_game.get_absolute_url }}">{{ module.parent_game.title }}</a>. {% trans "Published by" %} <a href="{{ module.publisher.get_absolute_url }}">{{ module.publisher.name }}</a></span>
<p>{{ module.description|truncatewords:100 }}</p>
{% empty %}
<p>{% trans "No published modules found." %}</p>
{% endfor %}

{% endblock %}
