{% extends "catalog/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Edit publisher" %} {{ publisher.name - {% endblock %}
{% block pubactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% trans "Edit" %} {{ publisher.name }}{% endblock %}
{% block mobileheader %}{% trans "Edit" %} {{ publisher.name }}{% endblock %}
{% block content %}
<p>{% blocktrans %}Enter your changes below.{% endblocktrans %}</p>
<form enctype="multipart/form-data" data-abide novalidate action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ publisher.get_absolute_url }}" class="button float-left secondary">{% trans "Discard changes and return to publisher details" %}</a> <input type="submit" class="float-right button success" value="{% trans 'Save changes' %}" />
  </div>
</form>

{% endblock %}
