{% extends "catalog/base.html" %}
{% load i18n humanize rules %}
{% block subtitle %}{{ publisher.name }} - {% endblock %}
{% block sectiontitle %}{{ publisher.name }}{% endblock %}
{% block mobileheader %}{{ publisher.name }}{% endblock %}
{% block pubactive %} class="is-active"{% endblock %}
{% block content %}
{% has_perm 'catalog.can_edit' user publisher as is_editor %}
{% if publisher.logo %}<img class="thumbnail" alt="Logo for {{ publisher.name }}" src="{{ publisher.logo.url }}" />{% endif %}
{% if publisher.url %}<p><a href="{{ publisher.url }}">{% trans "Publisher Website" %}</a></p>{% endif %}
<span class="meta">{% blocktrans with humcount=publisher.gameedition_set.count|intcomma|apnumber count counter=publisher.gameedition_set.count %}One Game{% plural %} {{ counter }} Games{% endblocktrans %}, {% blocktrans with humcount=publisher.gamesystem_set.count|intcomma|apnumber count counter=publisher.gamesystem_set.count %}one Game System{% plural %}{{ counter }} Game Systems{% endblocktrans %}, {% blocktrans with humcount=publisher.publishedmodule_set.count|intcomma|apnumber count counter=publisher.publishedmodule_set.count %}and one Game Module{% plural %}and {{ counter }} Game Modules.{% endblocktrans %}</span>
<p>{{ publisher.description }}</p>

{% if is_editor %}
<div class="clearfix">
  <a href="{% url 'game_catalog:pub-edit' publisher=publisher.pk %}" class="button float-left">{% trans "Edit publisher" %}</a> <a href="{% url 'game_catalog:pub-delete' publisher=publisher.pk %}" class="button alert float-right">{% trans "Delete publisher" %}</a>
</div>
{% endif %}

<h2>{% trans "Publications" %}</h2>

<ul class="tabs" data-tabs data-deep-link="true" data-deep-link-smudge="true" id="publisher-tabs">
  <li class="tabs-title is-active"><a href="#games_panel" data-tabs-target="games_panel" aria-selected="true">{% trans "Games" %} ({{ publisher.gameedition_set.count }})</a></li>
  <li class="tabs-title"><a href="#system_panel" data-tab-target="system_panel">{% trans "Game Systems" %} ({{ publisher.gamesystem_set.count }})</a></li>
  <li class="tabs-title"><a href="#module_panel" data-tab-target="module_panel">{% trans "Modules" %} ({{ publisher.publishedmodule_set.count }})</a></li>
</ul>

<div class="tabs-content" data-tabs-content="publisher-tabs">
  <div class="tabs-panel is-active" id="games_panel">
    {% if publisher.gameedition_set.count %}
    <table class="scroll hover">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "System" %}</th>
          <th class="text-right">{% trans "Published" %}</th>
          <th>{% trans "Source" %}</th>
          <th>{% trans "Tagged with" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for game in publisher.gameedition_set.all %}
        <tr>
          <td><a href="{{ game.get_absolute_url }}">{{ game }}</a></td>
          <td><a href="{{ game.game_system.get_absolute_url }}">{{ game.game_system.name }}</a></td>
          <td class="text-right">{{ game.release_date|date:"Y" }}</td>
          <td>{% if game.url %}<a href="{{ game.url }}" target="_blank">{% trans "Official Page" %}</a>{% endif %}</td>
          <td>{{ game.inherited_tag_names|join:", " }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% trans "No games on record from this publisher." %}</p>
    {% endif %}
  </div>
  <div class="tabs-panel" id="system_panel">
    {% if publisher.gamesystem_set.count %}
    <table class="stack hover">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "OGL?" %}</th>
          <th class="text-right">{% trans "Published" %}</th>
          <th>{% trans "Source" %}</th>
          <th>{% trans "Tagged with" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for game in publisher.gamesystem_set.all %}
        <tr>
          <td><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></td>
          <td>{{ game.ogl_license|yesno:"Yes,No" }}</td>
          <td class="text-right">{{ game.publication_date|date:"Y" }}</td>
          <td>{% if game.url %}<a href="{{ game.url }}" target="_blank">{% trans "Official Page" %}</a>{% endif %}</td>
          <td>{{ game.tags.names|join:", " }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% trans "No game systems on record from this publisher." %}</p>
    {% endif %}
  </div>
  <div class="tabs-panel" id="module_panel">
    {% if publisher.publishedmodule_set.count %}
    <table class="scroll hover">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Game" %}</th>
          <th class="text-right">{% trans "Published" %}</th>
          <th class="text-right">{% trans "ISBN" %}</th>
          <th>{% trans "Source" %}</th>
          <th>{% trans "Tagged with" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for game in publisher.publishedmodule_set.all %}
        <tr>
          <td><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></td>
          <td><a href="{{ game.parent_game_edition.get_absolute_url }}">{{ game.parent_game_edition }}</a></td>
          <td class="text-right">{{ game.publication_date|date:"Y" }}</td>
          <td class="text-right">{{ game.isbn|default_if_none:"" }}</td>
          <td>{% if game.url %}<a href="{{ game.url }}" target="_blank">{% trans "Official Page" %}</a>{% endif %}</td>
          <td>{{ game.inherited_tag_names|join:", " }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% trans "No published modules on record from this publisher." %}</p>
    {% endif %}
  </div>
</div>

<span class='disclaimer'>{% blocktrans with pubname=publisher.name %}Looking for Group is not affiliated with or endorsed by {{ pubname }}. Images are copyright {{ pubname }}, and logos are trademarked by {{ pubname }}.{% endblocktrans %}</span>
{% endblock %}
