{% extends "catalog/base.html" %}
{% load i18n rules collection_tags %}
{% load ratings %}
{% block subtitle %}{{ book.title }} - {{ book.edition }} - {% endblock %}
{% block sectiontitle %}{{ book.title }}{% endblock %}
{% block mobileheader %}{{ book.title }}{% endblock %}
{% block gameactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
{% has_perm 'catalog.can_edit' user book as is_editor %}
{% if book.image %}<img class="thumbnail" src="{{ book.image.url }}" />{% endif %}
{% if book.url %}<h5><a href="{{ book.url }}">{% trans "More info can be found here." %}</a></h5>{% endif %}
<dl>
  <dt>{% trans "For game edition" %}</dt>
  <dd><a href="{{ book.edition.get_absolute_url }}">{{ book.edition }}</a></dd>
  <dt>{% trans "Corebook?" %}</dt>
  <dd>{{ book.corebook|yesno:"Yes,No" }}</dd>
  <dt>{% trans "Released" %}</dt>
  <dd>{{ book.release_date|date:"F Y" }}</dd>
  <dt>ISBN</dt>
  <dd>{{ book.isbn|default_if_none:"N/A" }}</dd>
  <dt>{% trans "Tagged with" %}</dt>
  <dd>{{ book.inherited_tag_names|join:", " }}
</dl>
{% if request.user.is_authenticated %}
{% is_in_collection book request.user.gamerprofile as in_collection %}
{% get_content_type book as obj_ct %}
{% if not in_collection %}
<form method="post" action="{% url 'rpgcollections:add_book' %}?next={{ book.get_absolute_url }}">
  {% csrf_token %}
  <input type="hidden" name="content_type" value="{{ obj_ct }}" />
  <input type="hidden" name="bookid" value="{{ book.pk }}" />
  <select name="media_type">
    <option value="pdf">{% trans "PDF" %}</option>
    <option value="print">{% trans "Print" %}</option>
    <option value="both">{% trans "Print and PDF" %}</option>
  </select>
  <input type="submit" class="button" value="{% trans 'Add to my collection' %}" />
</form>
{% else %}
<form method="post" action="{% url 'rpgcollections:remove_book' %}?next={{ book.get_absolute_url }}">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{ in_collection.pk }}" />
  <input type="submit" class="button alert" value="{% trans 'Remove from collection' %}" />
</form>
{% endif %}
{% endif %}
{% if is_editor %}
<div class="clearfix">
  <a href="{% url 'game_catalog:sourcebook_edit' book=book.slug %}" class="button float-left"><i class="fas fa-edit"></i> {% trans "Edit details" %}</a> <a href="{% url 'game_catalog:sourcebook_delete' book=book.slug %}" class="float-right button alert"><i class="fas fa-trash-alt"></i> {% trans "Delete sourcebook" %}</a>
</div>
{% endif %}

{% ratings book %}
<p></p>
<span class="disclaimer">{% blocktrans with pname=book.edition.publisher.name %}Looking for Group is not affiliated with or endorsed by {{ pname }}. Images are copyright {{ pname }}, and logos are trademarked by {{ pname }}. This information only appears here in an editorial capacity.{% endblocktrans %}</span>


{% endblock %}
