{% extends "catalog/base.html" %}
{% load i18n humanize rules %}
{% load ratings %}
{% block subtitle %}{{ system.name }} - {% endblock %}
{% block sectiontitle %}{{ system.name }}{% endblock %}
{% block systemactive %} class="is-active"{% endblock %}
{% block mobileheader %}{{ system.name }}{% endblock %}
{% block content %}
{% has_perm 'catalog.can_edit' user system as is_editor %}
{% if system.image %}<img class="thumbnail" src="{{ system.image.url }}" />{% endif %}
{% if system.url %}<p><a href="{{ system.url }}">{% trans "Offical site" %}</a></p>{% endif %}
<dl>
  <dt>{% trans "Published by" %}</dt>
  <dd><a href="{{ system.original_publisher.get_absolute_url }}">{{ system.original_publisher.name }}</a></dd>
  <dt>{% trans "Games editions associated" %}</dt>
  <dd>{{ system.game_editions.count }}</dd>
  <dt>{% trans "Release Date" %}</dt>
  <dd>{{ system.release_date|date:"F Y"|default_if_none:"?" }}</dd>
  <dt>{% trans "Tagged with" %}</dt>
  <dd>{{ system.inherited_tag_names|join:", " }}</dd>
</dl>

{{ system.description_rendered|safe }}

{% if is_editor %}
<div class="clearfix">
  <a href="{% url 'game_catalog:system-edit' system=system.pk %}" class="button float-left"><i class="fas fa-edit"></i> {% trans "Edit details" %}</a> <a href="{% url 'game_catalog:system-delete' system=system.pk %}" class="button float-right alert"><i class="fas fa-trash-alt"></i> {% trans "Delete system" %}</a>
</div>
{% endif %}

{% ratings system %}

<h2>{% trans "Game Editions" %}</h2>
{% if system.game_editions.count == 0 %}
<p>{% blocktrans with sname=system.name %}We don't have any game information for {{ sname }} yet.{% endblocktrans %}</p>
{% else %}
<table class="hover scroll">
  <thead>
    <tr>
      <th>{% trans "Game" %}</th>
      <th>{% trans "Edition" %}</th>
      <th>{% trans "Publisher" %}</th>
      <th class="text-right">{% trans "Released" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for edition in system.game_editions.all %}
    <tr>
      <td><a href="{{ edition.game.get_absolute_url }}">{{ edition.game.title }}</a></td>
      <td><a href="{{ edition.get_absolute_url }}">{{ edition.name }}</a></td>
      <td><a href="{{ edition.publisher.get_absolute_url }}">{{ edition.publisher.name }}</a></td>
      <td class="text-right">{{ edition.release_date|date:"F Y" }}</td>
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
<span class='disclaimer'>{% blocktrans with pubname=system.original_publisher.name %}Looking for Group is not affiliated with or endorsed by {{ pubname }}. Images are copyright {{ pubname }}, and logos are trademarked by {{ pubname }}.{% endblocktrans %}</span>

{% endblock %}
