{% extends "catalog/base.html" %}
{% load i18n humanize %}
{% load ratings %}
{% block subtitle %}{{ system.name }} - {% endblock %}
{% block sectiontitle %}{{ system.name }}{% endblock %}
{% block systemactive %} class="is-active"{% endblock %}
{% block mobileheader %}{{ system.name }}{% endblock %}
{% block content %}
{% if system.image %}<img class="thumbnail" src="{{ system.image.url }}" />{% endif %}
{% if system.url %}<p><a href="{{ system.url }}">{% trans "Offical site" %}</a></p>{% endif %}
<span class="meta">{% trans "Published by" %} <a href="{{ system.original_publisher.get_absolute_url }}">{{ system.original_publisher.name }}</a>. {% blocktrans count counter=system.publishedgame_set|length %}One Game{% plural %} {{ counter|humanize }} Games{% endblocktrans %}.</span>
<p>{{ system.description }}</p>

{% ratings system %}

<span class='disclaimer'>{% blocktrans with pubname=system.original_publisher.name %}Looking for Group is not affiliated with or endorsed by {{ pubname }}. Images are copyright {{ pubname }}, and logos are trademarked by {{ pubname }}.{% endblocktrans %}</span>

{% endblock %}
