{% extends "catalog/base.html" %}
{% load i18n humanize %}
{% block subtitle %}{% trans "Game Systems" %} - {% endblock %}
{% block content %}
<h1>{% trans "Game Systems" %}</h1>

{% for system in object_list %}
<h2><a href="{{ system.get_absolute_url }}">{{ system.name }}</a></h2>
<span class="meta">{% trans "Published by" %} <a href="{{system.original_publisher.get_absolute_url}}">{{ system.original_publisher.name }}</a>. {% blocktrans count counter=system.publishedgame_set|length %}Powers one Game{% plural %}Powers {{ counter|humanize }} Games{% endblocktrans %}.</span>
<p>{{ system.description|truncatewords:100 }}</p>
{% empty %}
<p>{% trans "No game systems found." %}</p>
{% endfor %}

{% endblock %}
