{% extends "keybase_proofs/_base.html" %}
{% load i18n avatar_tags static %}

{% block subtitle %}{% trans "Confirm your Keybase proof" %} - {% endblock %}
{% block sectiontitle %}{% trans "Confirm your Keybase proof" %}{% endblock %}
{% block mobileheader %}{% trans "Confirm your Keybase proof" %}{% endblock %}
{% block extracrumbs %}
<li>{% trans "Keybase" %}</li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Confirm proof" %}</li>
{% endblock %}

{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-1"></div>
  <div class="cell medium-4">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Authorize this cryptographic connection?" %}</h2></div>
      <div class="card-section">
{% if error %}
         <div class="callout alert"><h3>{% trans "Something isn't right" %}</h3>
        <p>{{ error }}</p>
      </div>
        {% else %}
      <div class="grid-x grid-margin-x"><div class="cell medium-auto"></div><div class="cell medium-8"> <div class="text-center"> <p>{% avatar user 100 class="avatar" %}</p>
        <p>
          <strong>{% blocktrans with username=user.get_username %}I am {{ username }} on LFG Directory.{% endblocktrans %}</strong>
        </p></div>
        <hr />
      </div><div class="cell medium-auto"></div>
      </div>
      </div>
      <div class="card-section">
        <div class="grid-x grid-margin-x"><div class="cell medium-auto"></div><div class="cell medium-8">
          <div class="text-center"> <img src="{% static 'images/keybase-logo-100.png' %}" />
        <p>
          <strong>{% blocktrans with kbuser=kb_username %}I am {{ kbuser }} on Keybase.{% endblocktrans %}</strong>
        </p>
          </div></div>
        <div class="cell medium-auto"></div>
      </div>
      <div class="card-section">
        <form method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="kb_username" value="{{ kb_username }}" />
          <input type="hidden" name="username" value="{{ user.get_username }}" />
          <input type="hidden" name="sig_hash" value="{{ sig_hash }}"/>
          <input type="hidden" name="kb_ua" value="{{ kb_ua }}"/>
          <div class="clearfix">
            <a href="{{ request.user.gamerprofile.get_absolute_url }}" class="button float-left secondary">{% trans "No, don't authorize" %}</a>
            <input type="submit" class="button success float-right" value="{% trans 'Yes, authorize' %}" />
          </div>
        </form>
       {% endif %}
      </div>
    </div>
</div>
<div class="medium-auto"></div>
</div>
{% endblock %}
{% comment %}
Sample implementation of the user preparing to publish the proof. After
submitting on keybase a user will be redirected here with the `kb_username` and
`sig_hash` query parameters filled in. This landing page allows a user to
verify what they are putting in their profile before submitting.
{% endcomment %}
