{% extends "games/game_base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Edit game" %} - {% endblock %}
{% block editactive %} class="is-active"{% endblock %}
{% block sectiontitle %}{% trans "Edit game" %}{% endblock %}
{% block mobileheader %}{% trans "Edit game" %}{% endblock %}
{% block content %}
<p>{% trans "You can edit the details of your game below." %}</p>
<form enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a class="button float-left secondary" href="{% url 'games:game_detail' gameid=game.slug %}">{% trans "Cancel and return to game detail" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save changes' %}">
  </div>
</form>

{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: $('#id_game_description')[0],
    autosave: {
      enabled: true,
      uniqueId: "game_description",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
  });
</script>
{% endblock %}
