{% extends "games/game_base.html" %}
{% load i18n avatar_tags %}
{% block subtitle %}{% blocktrans with gametitle=session.game.title sesdate=session.scheduled_time %}Session ({{ sesdate }} of {{ gametitle }} - {% endblocktrans %}{% endblock %}
{% block sessionactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{{ session.scheduled_time|date:"M d, Y" }} - {{ session.game.title }}{% endblock %}
{% block mobileheader %}{{ session.scheduled_time|date:"M d, Y" }} - {{ session.game.title }}{% endblock %}
{% block content %}
<dl>
  <dt>{% trans "Scheduled Time" %}</dt>
  <dd>{{ session.scheduled_time }}</dd>
  <dt>{% trans "Session type" %}</dt>
  <dd>{{ session.get_session_type_display }}</dd>
  <dt>{% trans "Status" %}</dt>
  <dd><span class="label {% if session.status == 'complete' %}success{% elif session.status == 'cancel' %}alert{% else %}primary{% endif %}">{{ session.get_status_display }}</span></dd>
</dl>

<h2>{% trans "Players" %}</h2>
{% if session.status != "complete" and session.status == "cancel" %}
<p>This session has not been completed yet or was cancelled, so no attendence records are available. However, the players that were expected to attend are below.</p>
{% endif %}
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "Player" %}</th>
      <th>{% trans "Character" %}</th>
      <th>{% trans "Attended/Missed" %}</th>
    </tr>
  </thead>
  <tbody>

      {% for player in session.players_expected.all %}
    <tr>
      <td>{% avatar player.gamer.user 20 %} <a href="{{ player.gamer.get_absolute_url }}">{{ player.gamer }}</a></td>
      {% if session.status != "complete" %}
      <td>{% trans "N/A" %}</td>
      <td>{% trans "N/A" %}</td>
      {% else %}
      <td><a href="{{ player.current_character.get_absolute_url }}">{{ player.current_character.name }}</a></td>
      {% if player in session.players_missed.all %}
      <td></td>
      <td>😢</td>
      {% else %}
      <td>😄</td>
      {% endif %}
      {% endif %}
      {% empty %}
      </tr>
      {% endfor %}

  </tbody>
</table>
{% if request.user.gamerprofile == session.game.gm %}
<h2>{% trans "GM Notes" %}</h2>
{{ session.gm_notes_rendered|safe }}<br /><br />
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <a href="{% url 'games:session_edit' session=session.slug %}" class="button">{% trans "Edit session details" %}</a>
  </div>
  <div class="cell medium-auto">
    <a href="{% url 'games:session_move' session=session.slug %}" class="button">{% trans "Reschedule session" %}</a>
  </div>
  <div class="cell medium-auto">
    {% if session.status == "complete" %}
    <form action="{% url 'games:session_complete_toggle' session=session.slug %}" method="post">{% csrf_token %}<input type="hidden" id="id_status" name="status" value="'pending" /><input type="submit" class="button primary" value="{% trans 'Undo completion' %}" /></form>
    {% elif session.status == "cancel" %}
    <button class="button disabled">{% trans "Mark complete" %}</button>
    {% else %}
    <form action="{% url 'games:session_complete_toggle' session=session.slug %}" method="post">{% csrf_token %}<input type="hidden" id="id_status" name="status" value="complete" /><input type="submit" class="button primary" value="{% trans 'Mark complete' %}" /></form>
    {% endif %}
  </div>
  <div class="cell medium-auto">
    {% if session.status == "cancel" %}
    <form action="{% url 'games:session_uncancel' session=session.slug %}" method="post">{% csrf_token %}<input type="hidden" id="id_status" name="status" value="pending" /> <input type="submit" class="button" value="{% trans 'Undo cancellation' %}" /></form>
    {% elif session.status == "complete" %}
    <button class="button alert disabled">{% trans "Cancel session" %}</button>
    {% else %}
    <form action="{% url 'games:session_cancel' session=session.slug %}" method="post">{% csrf_token %}<input type="hidden" id="id_status" name="status" value="cancel" /> <input type="submit" class="button alert" value="{% trans 'Cancel session' %}" /></form>
    {% endif %}
  </div>
</div>
{% endif %}
<h2>{% trans "Adventure Log" %}</h2>
{% if session.adventurelog %}
<h3>{{ session.adventurelog.title }}</h3>
<p class="meta">{% blocktrans with create=session.adventurelog.created mod=session.adventurelog.modified author=session.adventurelog.initial_author.display_name editor=session.adventurelog.last_edited_by.display_name %}Posted by {{ author }} at {{ create }}. Last edited by {{ editor }} at {{ mod }}.{% endblocktrans %}</p>
{{ session.adventurelog.body_rendered|safe }}
<a href="{% url 'games:log_edit' log=session.adventurelog.slug %}" class="button">{% trans "Edit Log Entry" %}</a> {% if request.user.gamerprofile == session.game.gm %} <a href="{% url 'games:log_delete' log=session.adventurelog.slug %}" class="button alert">{% trans "Delete Log Entry" %}</a>{% endif %}
{% else %}
<p>{% trans "The log entry for this session hasn't been created yet." %}</p>
<a href="{% url 'games:log_create' session=session.slug %}" class="button">{% trans "Create Log Entry" %}</a>
{% endif %}
{% endblock %}
