{% extends "games/game_base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% blocktrans with gametitle=session.game.title %}Edit session for {{ gametitle }}{% endblocktrans %} - {% endblock %}
{% block sessionactive %}{% blocktrans with gametitle=session.game.title sesdate=session.scheduled_time %}Edit session of {{ gametitle }} scheduled for {{ sesdate }}.{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with gametitle=session.game.title sesdate=session.scheduled_time %}Edit session of {{ gametitle }} scheduled for {{ sesdate }}.{% endblocktrans %}{% endblock %}
{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ session.get_absolute_url }}" class="button float-left secondary">{% trans "Return to session details without saving" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save changes' %}"/>
  </div>
</form>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: $('#id_gm_notes')[0],
    autosave: {
      enabled: true,
      uniqueId: "games_session_{{ session.slug }}_gm_notes",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
  });
</script>
{% endblock %}
