commands:
  01_yum_update:
    command: "sudo yum update -y"
  02_install_git:
    command: "sudo yum install -y git"
  03_install_build_tools:
    command: "sudo yum install -y gcc-c++ make"
  03_install_nodejs_repo:
    command: "sudo curl -sL https://rpm.nodesource.com/setup_10.x | bash -"
  04_install_nodejs:
    command: "sudo yum install -y nodejs"

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_npm_install:
    command: "npm install --production"
  03_staticone:
    command: "django-admin.py collectstatic --noinput"
  04_compressor:
    command: "django-admin.py compress --force"
  05_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  06_init_worker_deploy:
    command: "logger 'Start deploy script' -t 'DEPLOY'"
  07_worker_script_prepare:
    command: "chmod +x .ebextensions/deploy.sh"
  08_worker_deploy:
    command: ".ebextensions/deploy.sh 2>&1 | /usr/bin/logger -t 'DEPLOY'"
  09_worker_complete:
    command: "logger 'Working finished deploying' -t 'DEPLOY'"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPATH: config/wsgi.py
