container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_node_retrieve:
    command: "curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -"
  03_node_installation:
    command "yum -y install nodejs"
  04_npm_install:
    command "npm install --production"
  03_compressor:
    command: "django-admin.py compress"
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production
