{% extends "notifications/base.html" %}
{% load notifications_tags avatar_tags i18n %}
{% with all=notifications.count unread=notifications.unread.count %}
{% block subtitle %}{% trans "Notifications" %} - {% endblock %}
{% block sectiontitle %}{% trans "Notifications" %}{% endblock %}
{% block mobileheader %}{% trans "Notifications" %}{% endblock %}
{% block unreadactive %}{% if unread == all %}{% include "is_active_definition.html" %}{% endif %}{% endblock %}
{% block allactive %}{% if unread < all %}{% include "is_active_definition.html" %}{% endif %}{% endblock %}
{% block extracrumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Notifications" %}</li>
{% endblock %}
{% block content %}
<p>{% trans "Your notifications can be found below." %}</p>
{% if not notifications %}
<p>{% trans "You don't currently have any notifications" %}</p>
{% endif %}
<br />
<div class="clearfix">


  {% if notifications %}

  <a href="{% url 'notifications:mark_all_as_read' %}" class="button {% if unread == all %}float-right{% else %}float-left{% endif %} primary">{% trans "Mark all as read" %}</a> {% if unread < all %}<a href="{% url 'notifications:mark_all_as_unread' %}" class="button primary float-right">{% trans "Mark all as unread" %}</a>{% endif %}
  {% else %}
  <button class="button primary {% if unread_view %}float-right{% else %}float-left{% endif %} disabled">{% trans "Mark all as read" %}</button> {% if unread < all %}<button class="button primary disabled">{% trans "Mark all as unread" %}</button>{% endif %}
  {% endif %}
</div>
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "When" %}</th>
      <th>{% trans "What" %}</th>
      <th>{% trans "Status" %}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for notification in notifications %}
    <tr{% if notification.unread %} class="unread"{% endif %}>
      <td>{{ notification.timesince }}</td>
      <td>

        {% if "friend" in notification.verb %}
        {% avatar notification.actor.user 30 class='avatar' %} <a href="{{ notification.actor.get_absolute_url }}">{{ notification.actor }}</a> {{ notification.verb }}
        {% elif notification.actor_content_type|lower == "site" %}
        {{ notification.verb }}
        {% elif notification.actor_content_type|lower == "message report" %}
        {{ notification.verb }}: <a href="{{ notification.actor.get_absolute_url }}">{% trans "View report" %}</a>
        {% elif notification.target_content_type|lower == "message" %}
        {% avatar notification.actor.user 30 class='avatar' %} <a href="{{ notification.actor.get_absolute_url }}">{{ notification.actor }}</a> {% trans "sent you a new message." %} <a href="{% url 'postman:inbox' %}">{% trans "View messages" %}</a>
        {% elif "settings" in notification.verb %}
        {% blocktrans with aname=notification.actor verb=notification.verb %}{{ aname }} {{ verb }}: {% endblocktrans %}<a href="{% url 'user_preferences:setting-view' %}">{% trans "Settings" %}</a>. {% trans "You may also want to check out your profile info here:" %} <a href="{{ request.user.gamerprofile.get_absolute_url }}">{% trans "Profile" %}</a>
        {% elif "Announcement:" in notification.verb %}
        <strong>{% trans "System" %}:</strong> {{ notification.verb }}
        {% else %}
        {% if "not accepted" in notification.verb %}
        {% blocktrans with verb=notification.verb objname=notification.action_object target=notification.target target_type=notification.target_content_type|lower target_url=notification.target.get_absolute_url %}{{ verb }} for {{ target_type }}: <a href="{{ target_url }}">{{ target }}</a>{% endblocktrans %}
        {% else %}
        {% if not notification.target and "suggested" in notification.verb %}
        {% blocktrans with aname=notification.actor aurl=notification.actor.get_absolute_url verb=notification.verb objname=notification.action_object %}<a href="{{ aurl }}">{{ aname }}</a> {{ verb }}{% endblocktrans %}
        {% else %}
        {% blocktrans with aname=notification.actor aurl=notification.actor.get_absolute_url verb=notification.verb objname=notification.action_object target_type=notification.target_content_type|lower target=notification.target target_url=notification.target.get_absolute_url %}<a href="{{ aurl }}">{{ aname }}</a> {{ verb }} for {{ target_type }}: <a href={{ target_url }}>{{ target }}</a>{% endblocktrans %}
        {% endif %}
        {% endif %}
        {% endif %}
      </td>
      <td>{{ notification.unread|yesno:"Unread,Read" }}</td>
      <td>{% if notification.unread %}<a href="{% url 'notifications:mark_as_read' slug=notification.slug %}" class="button primary">{% trans "Mark read" %}</a>{% else %}<a href="{% url 'notifications:mark_as_unread' slug=notification.slug %}" class="button primary">{% trans "Mark as unread" %}</a>{% endif %}</td>
      <td><a href="{% url 'notifications:delete' slug=notification.slug %}" class="button alert">{% trans "Delete forever" %}</a></td>
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if not page_obj.has_previous %}
    <li class="pagination-previous disabled" disabled>{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-previous"><a href="{% if unread == all %}{% url 'notifications:unread' %}{% else %}{% url 'notfications:all' %}{% endif %}?page={{ page_obj.previous_page_number }}" aria-label="Previous page">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
    {% for page_num in paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
    {% else %}
    <li><a href="{% if unread == all %}{% url 'notifications:unread' %}{% else %}{% url 'notifications:all' %}{% endif %}?page={{ page_num }}" aria-label="Page {{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span> </li>
    {% else %}
    <li class="pagination-next"><a href="{% if unread == all %}{% url 'notifications:unread' %}{% else %}{% url 'notifications:all' %}{% endif %}?page={{ page_obj.next_page_number }}" aria-label="Next page">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}

  </ul>
</nav>
{% endif %}
{% endblock %}
{% endwith %}
