{% extends "rpgcollections/base.html" %}
{% load i18n foundation_formtags static %}
{% block subtitle %}{% trans "Update copy details" %}{% endblock %}
{% block sectiontitle %}{% trans "Update copy details" %}{% endblock %}
{% block mobileheader %}{% trans "Update copy details" %}{% endblock %}
{% block collection_crumbs %}
<li><a href="{{ book.library.get_absolute_url }}">{% if request.user == book.library.user %}{% trans "Manage collection" %}{% else %}{% trans "View collection" %}{% endif %}</a></li>
<li><a href="{{ book.get_absolute_url }}">{{ book.title|truncatechars_html:40 }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Edit copy" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-1"></div>
  <div class="cell medium-6">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Edit copy details" %}</h5></div>
      <div class="card-section">
        <img src="{% if book.cover %}{{ book.cover.url }}{% else %}{% static 'images/placeholder_thumb.png' %}{% endif %}" class="thumbnail" alt="Cover of {{ book.title }}" />
        <dl>
          <dt>{% trans "Title" %}</dt>
          <dd>{{ book.title }}</dd>
          <dt>{% trans "Added" %}</dt>
          <dd>{{ book.created }}</dd>
          <dt>{% trans "Last modified" %}</dt>
          <dd>{{ book.modified }}</dd>
        </dl>
      </div>
      <div class="card-section">
        <p>{% trans "You can edit the details of your copy below." %}</p>
        <form action="" method="post">
        {% csrf_token %}
          {{ form|as_foundation }}
          <p></p>
          <div class="clearfix">
            <a href="{% url 'rpgcollections:book-detail' book=book.slug %}" class="button secondary float-left">{% trans "Discard changes and return to copy details" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Save changes' %}" /></div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
