{% extends "gamer_profiles/base.html" %}
{% load i18n discord_tags %}
{% block sectiontitle %}{% trans "Manage Discord" %}{% endblock %}
{% block mobileheader %}{% trans "Manage Discord" %}{% endblock %}
{% block subtitle %}{% trans "Manage Discord" %}{% endblock %}


{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-6">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Your current Discord connection status" %}</h5></div>
      <div class="card-section">

{% gamer_discord_link user as gdl %}
{% if gdl %}
<h2><i class="fab fa-discord"></i> {% trans "Current Discord Status" %}</h2>
<dl>
  <dt>{% trans "Sync status" %}</dt>
  <dd>{{ gdl.get_sync_status_display }}</dd>
  <dt>{% trans "Last successful sync" %}</dt>
  <dd>{{ gdl.last_successful_sync }}</dd>
</dl>
{% else %}
<p>{% trans "Not linked to Discord yet." %} 😢</p>
{% endif %}
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Manage Discord links" %}</h5></div>
      <div class="card-section">
        {% if form.accounts %}
<p>{% blocktrans %}You can sign in to your account using any of the following Discord accounts:{% endblocktrans %}</p>

<form method="post" action="{% url 'socialaccount_connections' %}">
  {% csrf_token %}

  <fieldset>
    {% if form.non_field_errors %}
    <div id="errorMsg">{{ form.non_field_errors }}</div>
    {% endif %}

    {% for base_account in form.accounts %}
    {% with base_account.get_provider_account as account %}
    <div>
      <label for="id_account_{{ base_account.id }}">
        <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
        <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
        {{ account }}
      </label>
    </div>
    {% endwith %}
    {% endfor %}

    <div>
      <button type="submit">{% trans 'Remove' %}</button>
    </div>

  </fieldset>

</form>
{% endif %}

<p>{% trans "Link a Discord account using the controls below. You will be redirected to Discord for login." %}</p>
<ul class="socialaccount_providers">
  {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
