@charset 'utf-8';

@import 'sass/settings';
@import 'libs/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
// @include foundation-prototype-classes;


/********* Project Scss **************/

.title-bar
{
  li.menu-text{color: $white;}
  a {color: $white;}
  a:hover {color: $white;}
  li a:hover{background-color: get-color(secondary);}
  .menu li.is-active a { border:1px; border-style:solid; border-color:$white;}
}

/******** Colouring for messages from Django messages framework **********/

.callout.error
{
  background-color: #fce6e2;
}

.callout.info
{
  background-color: #ebebeb;
}

.callout.debug
{
  background-color: #d6e9c6;;
}
$app-dashboard-top-nav-color: #2c3840;
$app-dashboard-top-nav-height: 60px;

.notify-container {
  vertical-align: top;
  align-content:right;
}

.live_notify_badge{
  //vertical-align: top;
  //display:block;
  //margin-top: -10px;
  //color: get-color(alert);
  //font-size: 75%;
  //height: 65%;
  //width:65%;
  position:relative;
}

.live_notify_badge_unread {
  position:relative;
}

.live_notify_badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top: -7px;
    right: 7px;
    font-size: 0.5em;
    background: get-color(secondary);
    color: $white;
    width: 15px;height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius:50%;
    box-shadow: 0 0 1px #333;
  }

.live_notify_badge_unread[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top: -7px;
  right: 7px;
  font-size: 0.5em;
  background: get-color(alert);
  color: $white;
  width: 18px;height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius:50%;
  box-shadow: 0 0 1px #333;
}


.app-dashboard .badge {
  vertical-align: middle;
}

.app-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-dashboard-body {
  flex: 1 1 auto;
  display: flex;
}

.app-dashboard-top-nav-bar  {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $app-dashboard-top-nav-color;
  height: $app-dashboard-top-nav-height;
  width: 100%;
  flex: 0 0 $app-dashboard-top-nav-height;
  .menu-icon {
    vertical-align: text-bottom;
  }
}

.logo-container{
  margin-left:15px;
}

.app-dashboard-logo {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left:15px;
}

.app-dashboard-search-bar-container {
  position: relative;
}

.app-dashboard-search {
  background: lighten($app-dashboard-top-nav-color, 10%);
  border: 0;
  margin-bottom: 0;
  color: $white;

  &:active,
  &:focus {
    background: darken($app-dashboard-top-nav-color, 5%);
  }
}

.app-dashboard-search-icon {
  position: absolute;
  color: $white;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.app-dashboard-top-bar-actions {
  align-items: center;
  display: flex;
  vertical-align: middle;

  ul.menu{
    display:inline-block;

   li {
    display:inline-block;
    a.button {
    margin-bottom: 0;
    margin-right: 2rem;
    color: $white;

    &.hollow {
      border-color: $white;
      color: $white;

      &:hover {
        background: $white;
        color: $primary-color;
      }
      img {
        padding: 0;
        margin: 0;
      }
    }}
    }
  }

  .fa-info-circle {
    color: $white;
    font-size: 1.5rem;
  }
}

.app-dashboard-sidebar {
  background-color: $white;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;


  .app-dashboard-open-sidebar, .app-dashboard-close-sidebar{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .app-dashboard-sidebar-close-button {
    font-size: 14px;
  }

  .app-dashboard-sidebar-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .menu > li > a {
      align-items: center;
    }
  }
  .fa.large {
    font-size: rem-calc(24);
    width: 40px;
  }
  .fab.large {
    font-size: rem-calc(24);
    width: 40px;
  }
  .fas.large {
    font-size: rem-calc(24);
    width: 40px;
  }
}

.reveal-for-medium {
  .app-dashboard-open-sidebar {
    display: none;
  }
}

.app-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.app-dashboard-open-sidebar {
  text-align: center;
}

.app-dashboard-body-content {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1 1 0;
  padding: 20px;
  background-color: $white;

  .title-bar {
    background-color: $primary-color;
    li.menu-text{color: $white;}
    a {color: $white;}
    a:hover {color: $white;}
    li a:hover{background-color: get-color(secondary);}
  }
}

@mixin shrunk-sidebar() {
  .app-dashboard-close-sidebar, .app-dashboard-sidebar-text {
    display: none;
  }

  .app-dashboard-open-sidebar {
    display: block;
  }

  .app-dashboard-sidebar {
    width: 80px;
    .fa.large {
      width: auto;
    }
    .fab.large {
      width: auto;
    }
    .fab {
      font-weight: 900;
    }
  }

  .off-canvas-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .navigation {
    margin-top: 2rem;
    text-align: center;

  }
  .menu.vertical > li > a {
    justify-content: center;
  }

  .menu {
    li {
      &::after {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      a {
        padding: 0.75rem;
        svg {
          margin: 0;
        }
        span {
          display: none;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
      }
    }
  }
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-dashboard.shrink-medium {
    @include shrunk-sidebar()
  }
}
@include breakpoint(large) {
  .app-dashboard.shrink-large {
    @include shrunk-sidebar()
  }
}

.table-image {
  max-height: 50%;
  max-width: 50%;
}

.thumbnail {
  max-height: 400px;
}

.thumbnail.logo {
  max-height: 200px;
}

.stats-list {
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;

  .stats-list-positive {
    color: $success-color;
  }

  .stats-list-negative {
    color: $alert-color;
  }

  & > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid $medium-gray;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

    &:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }

    .stats-list-label {
      display: block;
      margin-top: 2px;
      font-size: 0.9em;
      font-weight: normal;
    }
  }
}
.dashboard-nav-card {
  background: $primary-color;
  border-radius: $card-border-radius;
  color: $white;
  display: block;
  min-height: 100px;
  padding: 2rem;
  position: relative;
  width: 100%;
  margin:1rem;

  &:hover {
    .dashboard-nav-card-title,
    .dashboard-nav-card-icon {
      color: $white;
    }

    .dashboard-nav-card-icon {
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
}

.dashboard-nav-card-stat{
  vertical-align: middle;
  font-size:2rem;
  color:$white;
  font-weight:bold;
  text-align:center;
  width: 100%;
  margin:auto;
}

.dashboard-nav-card-icon {
  font-size: rem-calc(20);
  left: 1rem;
  opacity: 0.5;
  position: absolute;
  top: 1rem;
  transition: all 0.2s ease;
  width: auto;
}

.dashboard-nav-card-title {
  bottom: 0;
  position: absolute;
  right: 1rem;
  text-align: right;
}

.dashboard-table {
  border-collapse: collapse;
  margin-bottom: 0;

  td {
    border-bottom: 1px dashed lighten($medium-gray, 5%);
  }

  a {
    color: darken($dark-gray, 40%);
  }

  .bold {
    color: $black;
    font-weight: 600;
  }

  thead {
    background: none;
    border: 0;
    border-bottom: 1px solid $light-gray;
    color: $dark-gray;
    font-size: 0.8rem;
  }

  thead a {
    color: $dark-gray;
  }

  tbody {
    border: 1px solid darken($light-gray, 2%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    tr {
      transition: all 0.5s ease;

      &:hover {
        background: #fcf7da;
        transition: all 0.5s ease;
      }
      &:nth-child(even) {
        background: none;
      }
    }
  }
  tr:last-child td {
    border-bottom: 0;
  }
}

.dashboard-table-text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.dashboard-table-timestamp {
  color: darken($light-gray, 30%);
  font-size: 0.9rem;
  font-weight: 400;
}

.dashboard-table-image {
  display: inline;
  margin-right: 1rem;
  margin-top: 0.6rem;
  max-width: none;
}

.card-divider {
  background: get-color('primary');
  color: $white;
}

.inline_form {
  display:inline-block;
  vertical-align: bottom;

  .grid-x .cell input[type="submit"]{
    display:inline-block;
    vertical-align:bottom;
    postion:absolute;
    bottom: 0px;
  }
}


h1 span.membership {
  vertical-align: middle;
}

ul.search-result-list {
  list-style-type: none;
  border-radius:$card-border-radius;
  li {
    padding:5px;
    margin-left:35px;
  }
}

.li-alternate {
  background-color:#e7f8fd;
}

.title-bar{
  border-radius: 5px;
}

table {
  width:95%;
}
h2 {
  .fa-discord {
  color: #6577be;
  }
}
footer{
  padding: 16px
}

.footer {
  color:get-color(secondary);
  flex-shrink: 0;
}

ul.footer-list {
  display:inline-block;
  list-style-type: none;
  margin-left:auto;
  margin-right:auto;

  li {
    display:inline-block;
    padding-left:2em;
  }
}

.off-canvas-content {
  height:100vh;
}

.callout {
  max-width: 75%;
}

section.description-text{
  max-width:75%;

}

#feature-image {
  position: relative;
  max-height: 400px;
  max-width: 100%;
  display: block;

  #cw_overlay {
    position:absolute;
    height:100%;
    display:block;
    text-align: center;
    max-width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: $dark-gray;
    opacity: 1;
    z-index: 2;
    cursor: pointer;

    #overlay_text {
      position:absolute;
      left: 50%;
      top: 50%;
      margin:auto;
      color: $white;
      font-weight: bold;
      transform: translate(-50%,-50%);
      font-size: 1.5em;
      -ms-transform: translate(-50%, -50%);
    }
  }
}

ul.motd {
  list-style-type: none;
}

.motd-mono {
  font-family: $font-family-monospace;
}

img.avatar {
  border-radius: 4px;
}
#conflict_lists {
  display:none;
}

table {
  margin-left: 10px;
}

ul.socialaccount_providers {
  list-style: none;
}

img.coll_thumb {
  max-height: 75;
}

span.disclaimer {
  font-size: 0.7em;
  font-style: italic;
}

img.smallthumb {
  max-height:150px;
}
