{% extends "avatar/base.html" %}
{% load i18n avatar_tags foundation_formtags %}

{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="card">
    <div class="card-divider"><h5>{% trans "Your avatars" %}</h5></div>
    <div class="card-section">
    <p>{% trans "Your current avatar: " %}</p>
    {% avatar user class="avatar" %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
      {{ upload_avatar_form|as_foundation }}
      <div class="clearfix">
	<p>{% csrf_token %}<a href="{{ next|safe }}" class="button float-left secondary">{% trans "Go back" %}</a>&nbsp;&nbsp;<input type="submit" class="button float-right success" value="{% trans "Upload New Image" %}" /></p>
    </form>
    </div>
  </div>
{% endblock %}
