{% extends "avatar/base.html" %}
{% load i18n avatar_tags foundation_formtags %}

{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-6">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Your avatars" %}</h5></div>
      <div class="card-section">
        <dl><dt>{% trans "Your current avatar: " %}</dt>
          <dd> {% avatar user class="avatar" %}</dd>
        </dl>
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form|as_foundation }}
            </ul>
            <div class="clearfix">{% csrf_token %}<a href="{{ next|safe }}" class="button float-left secondary">{% trans "Go Back" %}</a>&nbsp;&nbsp;<input type="submit" class="button success float-right" value="{% trans "Choose new Default" %}" /></div>
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form|as_foundation }}
	    <div class="clearfix"> {% csrf_token %}<a href="{{ next|safe }}" class="button float-left secondary">{% trans "Go Back" %}</a>&nbsp;&nbsp;<input type="submit" class="button float-right success" value="{% trans "Upload New Image" %}" /></div>
    </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
