{% extends "account/base.html" %}

{% load i18n %}
{% load foundation_formtags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
<div class="card">
  <div class="card-divider"><h2>{% trans "Set Password" %}</h2></div>
  <div class="card-section">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|as_foundation }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
  </div>
</div>
{% endblock %}
