{% extends "helpdesk/base.html" %}
{% load i18n avatar_tags helpdesk_tags %}
{% block sectiontitle %}{% trans "Issues" %}{% endblock %}
{% block subtitle %}{% trans "Issues" %} - {{ block.super }}{% endblock %}
{% block mobileheader %}{% trans "Issues" %}{% endblock %}
{% block hdcrumbs %}
<li>{% trans "Issues" %}</li>
{% if listmode == "opened" %}<li><span class="show-for-sr">{% trans "Current:" %}</span> {% trans "Open" %}</li>{% endif %}
{% if listmode == "closed" %}<li><span class="show-for-sr">{% trans "Current:" %}</span> {% trans "Closed" %}</li>{% endif %}
{% if listmode == "myopened" %}<li><span class="show-for-sr">{% trans "Current:" %}</span> {% trans "My Open" %}</li>{% endif %}
{% if listmode == "myclosed" %}<li><span class="show-for-sr">{% trans "Current:" %}</span> {% trans "My Closed" %}</li>{% endif %}
{% endblock %}
{% block content %}
{% block tab_control %}
<ul class="tabs" id="issue-tabs">
  {% if listmode == "opened" %}
  <li class="tabs-title is-active"><a href="#active-panel" class="truly-selected" data-tabs-target="active-panel"><span class="show-for-sr">{% trans "Selected:" %}</span> {% trans "Open Issues" %} ({{ total_open }})</a></li>
  {% else %}
  <li class="tabs-title"><a href="{% url 'helpdesk:issue-list' %}">{% trans "Open Issues" %} ({{ total_open }})</a></li>
  {% endif %}
  {% if listmode == "closed" %}
  <li class="tabs-title is-active"><a href="#active-panel" class="truly-selected" data-tabs-target="active-panel"><span class="show-for-sr">{% trans "Selected:" %}</span> {% trans "Closed Issues" %} ({{ total_closed }})</a></li>
    {% else %}
    <li class="tabs-title"><a href="{% url 'helpdesk:issue-list' %}?status=closed">{% trans "Closed Issues" %} ({{ total_closed }})</a></li>
    {% endif %}
    {% if listmode == "myopened" %}
    <li class="tabs-title is-active"><a href="#active-panel" class="truly-selected" data-tabs-target="active-panel"><span class="show-for-sr">{% trans "Selected:" %}</span> {% trans "Your Open Issues" %} ({{ your_open }})</a></li>
      {% else %}
      <li class="tabs-title"><a href="{% url 'helpdesk:my-issue-list' %}">{% trans "Your Open Issues" %} ({{ your_open }})</a></li>
      {% endif %}
      {% if listmode == "myclosed" %}
      <li class="tabs-title is-active"><a href="#active-panel" class="truly-selected" data-tabs-target="active-panel"><span class="show-for-sr">{% trans "Selected:" %}</span> {% trans "Your Closed Issues" %} ({{ your_closed }})</a></li>
  {% else %}
  <li class="tabs-title"><a href="{% url 'helpdesk:my-issue-list' %}?status=closed">{% trans "Your Closed Issues" %} ({{ your_closed }})</a></li>
  {% endif %}
</ul>
{% endblock %}
<div class="tabs-content" data-tabs-content="issue-tabs">
  <div class="tabs-panel is-active" id="active-panel">
    {% if not issue_list %}
    <p>{% trans "No matching issues found." %}</p>
    {% endif %}
    <table class="scroll hover">
      <thead>
        <tr>
          <th class="text-right">{% trans "Issue ID" %}</th>
          <th>{% trans "Created by" %}</th>
          <th>{% trans "Created at" %}</th>
          <th>{% trans "Issue" %}</th>
          <th>{% trans "Status" %}</th>
          <th class="test-right">{% trans "Comments" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for issue in issue_list %}
        <tr>
          <td class="text-right"><a href="{{ issue.get_absolute_url }}" aria-label="{% trans 'Details for issue' %} {{ issue.external_id}}">{{ issue.external_id }}</a></td>
          <td><a href="{{ issue.creator.gamerprofile.get_absolute_url }}">{% avatar issue.creator 30 class="avatar" %} {{ issue.creator.gamerprofile }}</a></td>
          <td>{{ issue.created|date:"E d, Y H:i e" }}</td>
          <td><a href="{{ issue.get_absolute_url }}">{{ issue.cached_title|truncatewords_html:20|safe }}</a></td>
          <td><span class="label{% if issue.cached_status == 'closed' %} success{% endif %}">{{ issue.get_cached_status_display }}</span></td>
          <td class="text-right">{{ issue.cached_comment_count }}</td>
          <td><a href="{{ issue.get_absolute_url }}" class="button">{% trans "View" %}</a></td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
    {% if paginated %}
    <nav aria-label="Pagination">
      <ul class="pagination">
        {% if not page_obj.has_previous %}
        <li class="pagination-previous disabled">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
        {% else %}
        <li class="pagination-previous"><a href="{% get_url_from_listmode listmode page_obj.previous_page_number %}" aria-label="{% trans 'Previous Page' %}">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
        {% endif %}
        {% for page_num in paginator.page_range %}
        {% if page_obj.number == page_num %}
        <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
        {% else %}
        <li><a href="{% get_url_from_listmode listmode page_num %}" aria-label="{% trans 'Page' %} {{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}
        {% if not page_obj.has_next %}
        <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></li>
        {% else %}
        <li class="pagination-next"><a href="{% get_url_from_listmode listmode page_obj.next_page_number %}" aria-label="{% trans 'Next page' %}">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</div>
{% endblock %}
