{% extends "helpdesk/base.html" %}
{% load i18n avatar_tags markdownify foundation_formtags rules helpdesk_tags %}
{% block sectiontitle %}{% trans "Issue" %} {{ issue.external_id }}{% endblock %}
{% block subtitle %}{% trans "Issue" %} {{ issue.external_id }} - {{ block.super }}{% endblock %}
{% block mobileheader %}{% trans "Issue" %} {{ issue.external_id }}{% endblock %}
{% block hdcrumbs %}
<li><a href="{% url 'helpdesk:issue-list' %}">{% trans "Issues" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span> {{ issue.external_id }}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-7">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Details of issue" %} {{ issue.external_id }}</h2></div>
      <div class="card-section">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-8">
        <dl>
          <dt>{% trans "Reported by" %}</dt>
          <dd><a href="{{ issue.creator.gamerprofile.get_absolute_url }}">{% avatar issue.creator 30 class="avatar" %} {{ issue.creator.gamerprofile }}</a></dd>
          <dt>{% trans "Reported at" %}</dt>
          <dd>{{ issue.created|date:"E d, Y H:i e" }}</dd>
        </dl>
          </div>
          <div class="cell medium-2">
            <form method="post" action="{% if request.user in issue.subscribers.all %}{% url 'helpdesk:issue-subscribe' ext_id=issue.external_id %}{% else %}{% url 'helpdesk:issue-unsubscribe' ext_id=issue.external_id %}{% endif %}">{% csrf_token %}<button type="submit" class="button float-right">{% if request.user in issue.subscribers.all %}<span class="show-for-sr">{% trans "Stop watching this issue" %} </span><i class="fas fa-eye-slash"></i></span>{% else %}<span class="show-for-sr">{% trans "Watch this issue" %} </span><i class="fas fa-eye"></i>{% endif %}</button></form>
          </div>
        </div>
        <dl>
          <dt>{% trans "Title" %}</dt>
          <dd><p class="lead">{{ issue.cached_title }}</p></dd>
          <dt>{% trans "Description" %}</dt>
          <dd><p>{{ issue.cached_description|markdownify|linebreaksbr|safe }}</p></dd>
        </dl>
        {% has_perm "helpdesk.edit_issue" request.user issue as is_editor %}
        {% has_perm "helpdesk.close_issue" request.user issue as is_closer %}
        {% has_perm "helpdesk.delete_issue" request.user issue as is_deleter %}
        {% has_perm "helpdesk.add_comment" request.user issue as is_commenter %}
        {% if is_editor or is_deleter %}
        <div class="grid-x grid-margin-x">
          {% if is_editor %}
          <div class="cell medium-auto">
            <a class="button" href="{% url 'helpdesk:issue-update' ext_id=issue.external_id %}">{% trans "Edit issue" %}</a>
          </div>
          {% endif %}
          {% if is_closer %}
          <div class="cell medium-auto">
            {% if issue.cached_status == "opened" %}
            <form action="{% url 'helpdesk:issue-close' ext_id=issue.external_id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="button warning" value="{% trans 'Close issue' %}" />
            </form>
            {% else %}
            <form action="{% url 'helpdesk:issue-reopen' ext_id=issue.external_id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="button warning" value="{% trans 'Reopen issue' %}" />
            </form>
            {% endif %}
          </div>
          {% endif %}
          {% if is_deleter %}
          <div class="cell medium-auto">
            <a class="button alert" href="{% url 'helpdesk:issue-delete' ext_id=issue.external_id %}">{% trans "Delete issue" %}</a>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% block comments %}
    <div class="card">
      <div class="card-divider"><h2>{% trans "Issue comments" %} ({{ issue.cached_comment_count }})</h2></div>
      <div class="card-section">
        {% for comment in reconciled_comments %}
        {% has_perm "helpdesk.edit_comment" request.user comment.db_version as is_comment_editor %}
        {% has_perm "helpdesk.delete_comment" request.user comment.db_version as is_comment_deleter %}
        <div class="grid-margin-x grid-x {% cycle '' 'striped' %}">
          <div class="cell medium-3">
            <div class="grid-x grid-margin-x">
              <div class="cell">
                {% render_commenter_id comment %}
              </div>
            <div class="cell">
              {{ comment.created|date:"E d, Y H:i e" }}
            </div>
            {% if not comment.db_version.system_comment %}
            {% if is_comment_editor %}
            <div class="cell medium-auto">
             <a class="button" href="{% url 'helpdesk:issue-edit-comment' ext_id=issue.external_id cext_id=comment.external_id %}">{% trans "Edit comment" %}</a>
            </div>
            {% endif %}
            {% if is_comment_deleter %}
            <div class="cell">
              <a class="button alert" href="{% url 'helpdesk:issue-delete-comment' ext_id=issue.external_id cext_id=comment.external_id %}">{% trans "Delete comment" %}</a>
            </div>
            {% endif %}
            {% endif %}
            </div>
          </div>
          <div class="cell medium-6">{% if comment.db_version.system_comment %}<span class="label secondary"><em><strong>{{ comment.body|markdownify|linebreaksbr|safe }}</strong></em></span>{% else %}<p>{{ comment.body|markdownify|linebreaksbr|safe }}</p>{% endif %}</div>
        </div>
        {% empty %}
        <p>{% trans "There are no comments on this issue yet" %}</p>
        {% endfor %}
      </div>
    </div>
    {% if is_commenter and issue.cached_status == "opened" %}
    <div class="card">
      <div class="card-divider"><h2>{% trans "Add comment" %}</h2></div>
      <div class="card-section">
        <p>{% trans "Add your comment below." %}</p>
        <form action="{% url 'helpdesk:issue-add-comment' ext_id=issue.external_id %}" method="post">
          {% csrf_token %}
          {{ comment_form|as_foundation }}
          <div class="clearfix">
            <input type="submit" class="button float-left" value="{% trans 'Add comment' %}" />
            {% if is_closer %}<input type="submit" class="button alert float-right" name="close_issue" value="{% trans 'Comment and close issue' %}" />{% endif %}
          </div>
        </form>
      </div>
    </div>
    {% endif %}
    {% endblock %}
    </div>
  </div>
{% endblock %}
  {% block simplemde %}
  <script type="text/javascript">
    var easymde = new EasyMDE({
      element: jQuery('#id_cached_body')[0],
      autosave: {
        enabled: true,
        uniqueId: "issue_{{ issue.external_id }}_newcomment_body",
      },
      tabSize: 4,
      indentWithTabs: false,
      forceSync: true,
      spellChecker:false,
      renderingConfig: {
        markedOptions: {
          sanitize: true,
        }
      }
    });
  </script>
  {% endblock %}
