{% extends "base.html" %}
{% load i18n humanize %}
{% block innernav %}
<div class="title-bar" data-responsive-toggle="section-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="section-menu"></button>
  <div class="title-bar-title">{% trans "Controls" %}</div>
</div>
<div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%;" data-top-anchor="1" data-bottom-anchor="content:bottom" id="section-menu">
  <div class="title-bar-left show-for-medium">
    <h1>{% block sectiontitle %}{% endblock %}</h1>
  </div>
  <div class="title-bar-right">
    <nav>
      <ul class="menu align-right">
        {% block innernavmenu %}
        <li{% block allcomactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-list' %}"><i class="fas fa-globe-americas"></i> {% trans "All communities" %}</a></li>
        <li{% block yourcomactive %}{% endblock %}><a href="{% url 'gamer_profiles:my-community-list' %}"><i class="fas fa-users"></i> {% trans "Your communities" %}</a></li>
        <li{% block appactive %}{% endblock %}><a href="{% url 'gamer_profiles:my-application-list' %}"><i class="fas fa-portrait"></i> {% trans "Your community applications" %}</a></li>
        <li{% block createactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-create' %}"><i class="fas fa-plus-circle"></i> {% trans "Create new community" %}</a></li>
        {% endblock %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
