{% extends "gamer_profiles/profile_base.html" %}
{% load i18n avatar_tags %}
{% block subtitle %}{% trans "Blocked Users" %} - {% endblock %}
{% block sectiontitle %}{% trans "Blocked Users" %}{% endblock %}
{% block mobileheader %}{% trans "Blocked Users" %}{% endblock %}
{% block blockactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
{% if not block_list %}
<p>{% trans "No blocked users found." %}</p>
{% endif %}
<table class="hover scroll">
  <thead>
    <tr>
      <th>{% trans "User" %}</th>
      <th class="text-right">{% trans "Blocked at" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for block in block_list %}
    <tr>
      <td>{% avatar block.blockee.user 30 class="avatar" %} <a href="{{ block.blockee.get_absolute_url }}">{{ block.blockee }}</a></td>
      <td class="text-right">{{ block.created }}</td>
      <td><form action="{% url 'gamer_profiles:unblock-gamer' block=block.pk %}" method="post">{% csrf_token %}<button class="button alert" type="submit"><i class="fas fa-trash-alt"></i> {% trans "Remove block" %}</button></form></td>
    </tr>
    {% empty %}
    <!-- No results -->
    {% endfor %}
  </tbody>
</table>
{% endblock %}
