{% extends "gamer_profiles/base.html" %}
{% load i18n humanize social_tags %}
{% block subtitle %}{% trans "Communities" %} - {% endblock %}
{% block content %}
<h1>{% trans "Communities" %}</h1>

<ul>
  {% for community in object_list %}
  <li>
<h2><a href="{{ community.get_absolute_url }}">{{ community.name }}</a>{% community_role_flag community %}</h2>
<span class="meta">{% if community.private %}<span class="privacy-flag">{% trans "Private" %}</span>{% endif %} {% blocktrans count counter=community.member_count %}1 Member{% plural %} {{ counter|humanize }} Members{% endblocktrans %}</span>
<p>{{ community.description_rendered|truncatewords_html:100|safe }}</p>
  </li>
{% empty %}
<p>{% trans "No communities found." %}</p>
{% endfor %}
</ul>
{% endblock %}
