{% extends "gamer_profiles/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Create new community" %} - {% endblock %}
{% block content %}
<h1>{% trans "Create new community" %}</h1>
<form data-abide method="post" action="">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'gamer_profiles:community-list' %}" class="button float-left secondary">{% trans "Return to community list" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Create' %}" />
  </div>
</form>
{% endblock %}
