{% extends "gamer_profiles/base.html" %}
{% load i18n rules %}
{% block innernavmenu %}
{% has_perm 'community.edit_community' user community as is_admin %}
{% has_perm 'community.transfer_owner' user community as is_owner %}

<li><a href="{% url 'gamer_profiles:community-list' %}">{% trans "Back to community list" %}</a></li>
<li{% block commdetailactive %}{% endblock %}><a href="{{ community.get_absolute_url }}">{% trans "Community details" %}</a></li>
{% if is_admin %}
<li{% block membersactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-member-list' community=community.slug %}">{% trans "Manage members" %}</a></li>
<li{% block editcommactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-edit' community=community.slug %}">{% trans "Edit community" %}</a></li>
<li{% block appactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-applicant-list' community=community.slug %}">{% trans "Review applicants" %}</a></li>
<li{% block discordactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-discord-link' community=community.slug %}">{% trans "Manage Discord links" %}</a></li>
{% endif %}
{% if is_owner %}
<li{% block transferactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-transfer-owner' community=community.slug %}" class="alert">{% trans "Transfer ownership" %}</a></li>
<li{% block deleteactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-delete' community=community.slug %}" class="alert">{% trans "Delete community" %}</a></li>
{% endif %}
{% endblock %}

{% block js_extra %}
<script type="text/javascript">
  function cw_off() {
    $('#cw_overlay').css('display', 'none');
  }
</script>
{% endblock %}
