{% extends "gamer_profiles/base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Create new community" %} - {% endblock %}
{% block createactive %} class="is-active"{% endblock %}
{% block sectiontitle %}{% trans "Create new community" %}{% endblock %}
{% block mobileheader %}{% trans "Create new community" %}{% endblock %}
{% block content %}
<p>{% blocktrans %}Fill out the form below to create your brand new community.{% endblocktrans %}</p>
<form data-abide enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{% url 'gamer_profiles:community-list' %}" class="button float-left secondary">{% trans "Return to community list" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Create' %}" />
  </div>
</form>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: $('#id_description')[0],
    autosave: {
      enabled: true,
      uniqueId: "community_description",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
  });
</script>
{% endblock %}
