{% extends "gamer_profiles/community_base_form.html" %}
{% load i18n humanize foundation_formtags %}
{% block subtitle %}{% blocktrans with cname=community.name gname=gamer.display_name %}Kick {{ gname }} from {{ cname }}{% endblocktrans %} - {% endblock %}
{% block sectiontitle %}<h1>{% trans "Kick/suspend user" %}</h1>{% endblock %}
{% block membersactive %} class="is-active"{% endblock %}
{% block content %}
<p>{% blocktrans with cname=community.name gname=gamer.display_name %}Kick {{ gname }} from {{ cname }}?{% endblocktrans %}</p>
<div class="callout warning">
  <h2>{% trans "Are you sure?" %}</h2>
  <p>{% blocktrans with cname=community.name gname=gamer.display_name %}This will immediately remove {{ gname }} from {{ cname }}. If you also add an end date, they will be unable to reapply or rejoin until that date.{% endblocktrans %}</p>
</div>
  <form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
    <p><a href="{% url 'gamer_profiles:community-detail' community=community.slug %}" class="button secondary">{% trans "Go back" %}</a> <button type="submit" class="button success">{% trans "Kick gamer" %}</button></p>
</form>

{% endblock %}
