{% extends "gamer_profiles/community_base.html" %}
{% load avatar_tags i18n rules %}
{% block subtitle %}{% blocktrans with cname=community.name %}Members of {{ cname }}{% endblocktrans %} - {% endblock %}
{% block sectiontitle %}{% blocktrans with cname=community.name %}Members of {{ cname }}{% endblocktrans %}{% endblock %}
{% block membersactive %} class="is-active"{% endblock %}
{% block mobileheader %}{% blocktrans with cname=community.name %}Members of {{ cname }}{% endblocktrans %}{% endblock %}
{% block content %}
{% has_perm 'community.kick_user' request.user community as is_kicker %}
{% has_perm 'community.ban_user' request.user community as is_banner %}
{% has_perm 'community.edit_gamer_role' request.user community as is_admin %}


{% if is_kicker or is_banner %}
<ul class="tabs" data-tabs data-deep-links="true" data-deep-links-smudge="true" id="member-tabs">
  <li class="tabs-title is-active"><a href="#member_panel" aria-selected="true">{% trans "Members" %} ({{ community.get_member_count }})</a></li>
  {% if is_kicker %}
  <li class="tabs-title"><a href="{% url 'gamer_profiles:community-kick-list' community=community.slug %}">{% trans "Kicked Users" %} ({{ community.kickeduser_set.count }})</a></li>
  {% endif %}
  {% if is_banner %}
  <li class="tabs-title"><a href="{% url 'gamer_profiles:community-ban-list' community=community.slug %}">{% trans "Banned Users" %} ({{ community.kickeduser_set.count }})</a></li>
  {% endif %}
</ul>
<div class="tabs-content" data-tabs-content="member-tabs">
  <div class="tabs-panel is-active" id="member_panel">
{% endif %}
<table class="stack hover">
  <thead>
    <tr>
      <th>{% trans "Member" %}</th>
      <th>{% trans "Community Role" %}</th>
      <th>{% trans "Member Since" %}</th>
      <th>{% trans "Games Created" %}</th>
      <th>{% trans "Games Joined" %}</th>
      <th>{% trans "Games Left" %}</th>
      <th>{% trans "Games Finished" %}</th>
      {% if is_admin %}
      <th></th>
      {% endif %}
      {% if is_kicker %}
      <th></th>
      {% endif %}
      {% if is_banner %}
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for member in object_list %}
    <tr>
      <td>{% avatar member.gamer.user 30 class="profile_circle_small" %} <a href="{{ member.gamer.get_absolute_url }}">{{ member.gamer }}</a></td>
      <td>{{ member.get_community_role_display }}</td>
      <td>{{ member.created|timesince }}</td>
      <td>{{ member.gamer.games_created|default_if_none:"0" }}</td>
      <td>{{ member.gamer.games_joined|default_if_none:"0" }}</td>
      <td>{{ member.gamer.games_left|default_if_none:"0" }}</td>
      <td>{{ member.gamer.games_finished|default_if_none:"0" }}</td>
      {% if is_admin %}
      {% if request.user == member.gamer.user %}
      <td><button class="button disabled">{% trans "Edit Member Role" %}</button></td>
      {% else %}
      <td><a href="{% url 'gamer_profiles:community-edit-gamer-role' community=community.slug gamer=member.gamer.username %}" class="button">{% trans "Edit Member Role" %}</a> </td>
      {% endif %}
      {% endif %}
      {% if is_kicker %}
      {% if request.user == member.gamer.user %}
      <td><button class="disabled alert button">{% trans "Kick from community" %}</button></td>
      {% else %}
      <td><a href="{% url 'gamer_profiles:community-kick-gamer' community=community.slug gamer=member.gamer.username %}" class="button alert">{% trans "Kick from community" %}</a></td>
      {% endif %}
      {% endif %}
      {% if is_banner %}
      {% if request.user == member.gamer.user %}
      <td><button class="button alert disabled">{% trans "Ban from community" %}</button></td>
      {% else %}
      <td><a href="{% url 'gamer_profiles:community-ban-gamer' community=community.slug gamer=member.gamer.username %}" class="button alert">{% trans "Ban from community" %}</a></td>
      {% endif %}
      {% endif %}
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% if is_kicker or is_banner %}
  </div>
</div>
{% endif %}
{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if not page_obj.has_previous %}
    <li class="pagination-previous disabled">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-previous"><a href="{% url 'gamer_profiles:community-member-list' community=community.slug page=page_obj.previous_page_number %}" aria-label="Previous page">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
    {% for page_num in paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
    {% else %}
    <li><a href="{% url 'gamer_profiles:community-member-list' community=community.slug page=page_num %}" aria-label="Page {{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span> </li>
    {% else %}
    <li class="pagination-next"><a href="{% url 'gamer_profiles:community-member-list' community=community.slug page=page_obj.next_page_number %}" aria-label="Next page">{{ trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
