{% extends "gamer_profiles/community_base.html" %}
{% load avatar_tags i18n rules humanize %}
{% block subtitle %}{{ community.name }} - {% endblock %}
{% block sectiontitle %}{{ community.name }}{% endblock %}
{% block mobileheader %}{{ community.name }}{% endblock %}
{% has_perm 'community.edit_community' request.user community as is_admin %}
{% has_perm 'community.transfer_owner' request.user community as is_owner %}
{% block commdetailactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Description" %}</h5></div>
      <div class="card-section">
        <p>{{ community.description_rendered|default_if_none:"No description yet."|safe }}</p>
      </div>
    </div>
  </div>
  <div class="cell auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Details" %}</h5></div>
      <div class="card-section">
        <table>
          <tbody>
            <tr>
              <td>{% trans "Owner" %}</td>
              <td>{% avatar community.owner.user 30 class="profile_circle_small" %} <a href="{{ community.owner.get_absolute_url }}">{{ community.owner }}</a></td>
            </tr>
            <tr>
              <td>{% trans "Community site" %}</td>
              <td>{% if community.url %}<a href="{{ community.url }}" target="_blank">{{ community.url }}</a>{% else %}{% trans "No URL provided" %}{% endif %}</td>
            </tr>
            <tr>
              <td>{% trans "Total members" %}</td>
              <td class="text-right">{{ community.members.count }}</td>
            </tr>
            <tr>
              <td>{% trans "Games posted" %}</td>
              <td class="text-right">{{ community.gameposting_set|length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-margin-x">
  {% if community.linked_with_discord %}
  <div class="cell auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Discord Servers" %}</h5></div>
      <div class="card-section">
<p>{% blocktrans count counter=community.discord.servers.all|length %}This community is linked to {{ counter }} Discord server.{% plural %}This community is linked to {{ counter }} Discord servers.{% endblocktrans %}</p>
<ul>
  {% for server in community.discord.servers.all %}
  <li>{% if server.icon_url %}<img src="{{ server.icon_url }}" width="30" height="30" alt="Discord server icon" /> {% endif %}{{ server.name }}</li>
  {% empty %}
  {% endfor %}
</ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="cell auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Members" %}</h5></div>
      <div class="card-section">
<div class="member-list">
  <ul>
    {% for member in community.get_members|slice:":20" %}
    <li>{% avatar member.gamer.user 30 %} <a href="{{ member.gamer.get_absolute_url }}">{{ member.gamer  }}</a></li>
    {% endfor %}
    <p><a href="{% url 'gamer_profiles:community-member-list' community=community.slug %}">{% trans "See all members..." %}</a></p>
  </ul>
</div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-divider"><h5>{% trans "Current Active Games" %}</h5></div>
  <div class="card-section">
    {% if not active_games %}
    <p>{% trans "There are no active games here at the moment." %}</p>
    {% endif %}
    <table class="scroll hover">
      <thead>
        <tr>
          <th width="300">{% trans "Title" %}</th>
          <th>{% trans "Type" %}</th>
          <th>{% trans "Status" %}</th>
          <th width="100">{% trans "Start" %}</th>
          <th width="100">{% trans "End" %}</th>
          <th><abbr title="{% trans 'Game master' %}">{% trans "GM" %}</abbr></th>
          <th><abbr title="{% trans 'Frequency' %}">{% trans "Freq" %}</abbr></th>
          <th class="text-right">{% trans "Length (hours)" %}</th>
          <th><abbr title="{% trans 'Adult themes?' %}">{% trans "Adult" %}</abbr></th>
          <th><abbr title="{% trans 'Content Warning' %}">{% trans "CW" %}</abbr></th>
          <th class="text-right">{% trans 'Privacy' %}</th>
          <th class="text-right">{% trans "Players" %}</th>
          <th width="500">{% trans "Description" %}</th>
          <th>{% trans "Game" %}</th>
          <th>{% trans "System" %}</th>
          <th>{% trans "Module" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for game in active_game_list %}
        <tr>
          <td><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></td>
          <td>{{ game.get_game_type_display }}</td>
          <td><span class="label {% if game.status == 'started' %}secondary{% else %}primary{% endif %}">{{ game.get_status_display }}</span></td>
          <td>{{ game.start_time|default_if_none:"Pending" }}</td>
          <td>{{ game.end_date|default_if_none:"N/A" }}</td>
          <td><a href="{{ game.gm.get_absolute_url }}">{% avatar game.gm.user 30  class="profile_circle_small" %} {{ game.gm }}</a></td>
          <td>{{ game.get_game_frequency_display }} </td>
          <td class="text-right">{{ game.session_length }}</td>
          <td>{{ game.adult_themes|yesno:"Yes,No" }}</td>
          <td>{{ game.content_warning }}</td>
          <td class="text-right">{% if game.privacy_level == 'private' %}<abbr title="{{ game.get_privacy_level_display }}"><i class="fas fa-lock"></i></abbr>{% elif game.privacy_level == "community" %}<abbr title="{{ game.get_privacy_level_display }}"><i class="fas fa-users"></i></abbr>{% else %}<abbr title="{{ game.get_privacy_level_display }}"><i class="fas fa-lock-open"></i> </abbr> {% endif %}</td>
          <td class="text-right"><abbr title="{% trans 'Current players' %}"><strong>{{ game.players.count }}</strong></abbr> / <abbr title="{% trans 'Minimum players' %}">{{ game.min_players }}</abbr> / <abbr title="{% trans 'Maximum players' %}">{{ game.max_players }}</abbr></td>
          <td width="500">{{ game.game_description_rendered|truncatewords_html:20|safe }}</td>
          <td>{% if game.published_game %}<a href="{{ game.published_game.get_absolute_url }}">{{ game.published_game.game.title }} ({{ game.published_game.name }})</a>{% else %}{% if game.published_module %}<a href="{{ game.published_module.parent_game_edition.get_absolute_url }}">{{ game.published_module.parent_game_edition }}</a>{% else %}{% trans "Homebrew" %}{% endif %}{% endif %}</td>
          <td>{% if game.game_system %}<a href="{{ game.game_system.get_absolute_url }}">{{ game.game_system.name }}</a>{% else %}{% if not game.published_game and not game.published_module %}{% trans 'Homebrew' %}{% else %}{% if game.published_game.game_system %}<a href="{{ game.published_game.game_system.get_absolute_url }}">{{ game.published_game.game_system.name }}</a>{% elif game.published_module and game.published_module.parent_game_edition.game_system %}<a href="{{ game.published_module.parent_game_edition.game_system.get_absolute_url }}">{{ game.published_module.parent_game_edition.game_system.name }}</a>{% endif %}{% endif %}{% endif %}</td>
          <td>{% if game.published_module %}<a href="{{ game.published_module.get_absolute_url }}">{{ game.published_module.title }}</a>{% else %}N/A{% endif %}</td>
        </tr>
        {% empty %}
        <!-- No results -->
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
