{% extends "gamer_profiles/base.html" %}
{% load i18n rules %}
{% block innernavmenu %}
{% has_perm 'community.edit_community' user community as is_admin %}
{% has_perm 'community.transfer_owner' user community as is_owner %}
{% has_perm 'invite.can_invite' user community as is_inviter %}
<li><a href="{% url 'gamer_profiles:community-list' %}"><i class="fas fa-list"></i> {% trans "Back to community list" %}</a></li>
<li{% block commdetailactive %}{% endblock %}><a href="{{ community.get_absolute_url }}"><i class="fas fa-book-open "></i> {% trans "Community details" %}</a></li>
{% if is_inviter %}
<li{% block inviteactive %}{% endblock %}><a href="{% url 'gamer_profiles:community_invite_list' slug=community.slug %}"><i class="fas fa-key"></i> {% trans "Invites" %}</a></li>
{% endif %}
{% if request.user != community.owner.user and request.user.is_authenticated and community in request.user.gamerprofile.communities %}
<li{% block leaveactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-leave' community=community.slug  %}"><i class="fas fa-sign-out-alt"></i> {% trans "Leave community" %}</a></li>
{% elif request.user.is_authenticated %}
{% if community.private %}<li{% block applyactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-apply' community=community.slug %}"><i class="fas fa-clipboard"></i> {% trans "Apply" %}</a></li>
{% else %}
<li{% block joinactive %}{% endblock %}<a href="{% url 'gamer_profiles:community-join' community=community.slug %}">{% trans "Join" %}</a></li>
{% endif %}
{% else %}
{% endif %}
{% if is_admin %}
<li{% block membersactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-member-list' community=community.slug %}"><i class="fas fa-users"></i> {% trans "Manage members" %}</a></li>
<li{% block editcommactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-edit' community=community.slug %}"><i class="fas fa-edit"></i> {% trans "Edit community" %}</a></li>
<li{% block appactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-applicant-list' community=community.slug %}"><i class="fas fa-clipboard-list"></i> {% trans "Review applicants" %}</a></li>
<li{% block discordactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-discord-link' community=community.slug %}"><i class="fab fa-discord"></i> {% trans "Manage Discord links" %}</a></li>
{% endif %}
{% if is_owner %}
<li{% block transferactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-transfer-owner' community=community.slug %}" class="alert"><i class="fas fa-exchange-alt"></i> {% trans "Transfer ownership" %}</a></li>
<li{% block deleteactive %}{% endblock %}><a href="{% url 'gamer_profiles:community-delete' community=community.slug %}" class="alert"><i class="fas fa-trash-alt"></i> {% trans "Delete community" %}</a></li>
{% endif %}
{% endblock %}

{% block js_extra %}
<script type="text/javascript">
  function cw_off() {
    $('#cw_overlay').css('display', 'none');
  }
</script>
{% endblock %}
