{% extends "gamer_profiles/base.html" %}
{% load avatar_tags i18n humanize %}
{% block subtitle %}{% trans "Friend Requests" %} - {% endblock %}
{% block content %}
<h1>{% trans "Your Friend Requests" %}</h1>

<ul class="tabs" data-tabs data-deep-link="true" data-deep-link-smudge="true" id="friend-request-tabs">
  <li class="tabs-title is-active"><a href="#received_panel" aria-selected="true">{% blocktrans %}Received ({{ pending_requests.count }}){% endblocktrans %}</a></li>
  <li class="tabs-title"><a data-tabs-target="sent_panel" href="#sent_panel">{% blocktrans %}Sent ({{ sent_requests.count }}){% endblocktrans %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="friend-request-tabs">
  <div class="tabs-panel is-active" id="received_panel">
    <ul>
      {% for fr in pending_requests %}
      <li>{% avatar fr.requestor.user 20 %} <a href="{{ fr.requestor.get_absolute_url }}">{{ fr.requestor.user.display_name }}</a> ({{ fr.requestor.user.username }}) <form action="{% url 'gamer_profiles:gamer-friend-request-approve' friend_request=fr.pk %}" method="post"><button class="button success" type="submit">{% trans "Accept" %}</button></form> <form action="{% url 'gamer_profiles:gamer-friend-request-reject' friend_request=fr.pk %}" method="post"><button class="alert button" type="submit">{% trans "Ignore" %}</button> </form></li>
      {% empty %}
      <p>{% trans "No pending requests." %}</p>
      {% endfor %}
    </ul>
  </div>
  <div class="tabs-panel" id="sent_panel">
    <ul>
      {% for fr in sent_requests %}
      <li>{% avatar fr.recipient.user 20 %} <a href="{{ fr.recipient.get_absolute_url }}">{{ fr.recipient.user.display_name }}</a> ({{ fr.recipient.user.username }}) <form action="{% url 'gamer_profiles:gamer-friend-request-delete' friend_request=fr.pk %}" method="'post"><button class="alert button" type="submit">{% trans "Withdraw request" %}</button></form> </li>
      {% empty %}
      <p>{% trans "You do not have any sent requests pending." %}</p>
      {% endfor %}
    </ul>
  </div>
</div>



{% endblock %}
