{% extends "gamer_profiles/base.html" %}
{% load avatar_tags i18n humanize foundation_formtags %}
{% block subtitle %}{% trans "Add note to" %} {{ gamer.display_name }} - {% endblock %}
{% block content %}
<h1>{% blocktrans with gname=gamer.display_name %}Add note to {{ gname }}{% endblocktrans %}</h1>

<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <p><a href="{{ gamer.get_absolute_url }}"><button class="primary button">{% trans "Go Back" %}</button></a>    <button type="submit" class="button success">{% trans "Save Note" %}</button></p>
</form>

{% endblock %}
