{% extends "gamer_profiles/base.html" %}
{% load i18n social_tags %}
{% block innernavmenu %}
{% is_blocked_by_user gamer as blocked %}
<li{% block detailactive %}{% endblock %}><a href="{{ gamer.get_absolute_url }}"><i class="fas fa-user"></i> {% trans "Profile details" %}</a></li>
{% if gamer and gamer.user == request.user %}
<li{% block editactive %}{% endblock %}><a href="{% url 'gamer_profiles:profile-edit' %}"><i class="fas fa-edit"></i> {% trans "Edit profile" %}</a></li>
<li{% block friendactive %}{% endblock %}><a href="{% url 'gamer_profiles:my-gamer-friend-requests' %}"><i class="fas fa-user-friends"></i> {% trans "Your friend requests" %}</a></li>
<li{% block availactive %}{% endblock %}><a href="{% url 'gamer_profiles:set-available' %}"><i class="fas fa-calendar-alt"></i> {% trans "Set your availble times" %}</a></li>
<li{% block blockactive %}{% endblock %}><a href="{% url 'gamer_profiles:my-block-list' %}"><i class="fas fa-ban"></i> {% trans "Blocked users" %}</a></li>
<li{% block settingsactive %}{% endblock %}><a href="{% url 'user_preferences:setting-view' %}"><i class="fas fa-cogs"></i> {% trans "Settings" %}</a></li>
{% else %}
{% if not blocked %}
<li>{% if gamer not in request.user.gamerprofile.friends.all %}<a href="{% url 'gamer_profiles:gamer-friend' gamer=gamer.username %}"><i class="fas fa-user-friends"></i> {% trans "Send friend request" %}</a>{% else %}<form action="" method="post">{% csrf_token %}<button type="submit" class="button"><i class="fas fa-user-slash"></i> {% trans 'Remove friend' %}</button></form>{% endif %}</li>
{% endif %}

<li>{% if blocked %}<a href="{% url 'gamer_profiles:my-block-list' %}"><i class="fas fa-ban"></i> {% trans "Blocked" %}</a>{% else %}<form method="post" action="{% url 'gamer_profiles:block-gamer' gamer=gamer.username %}">{% csrf_token %}<button type="submit" class="button"><i class="fas fa-ban"></i> {% trans 'Block user' %}</button></form>{% endif %}</li>
{% endif %}
{% endblock %}
