{% extends "gamer_profiles/profile_base.html" %}
{% load avatar_tags i18n humanize ratings %}
{% block subtitle %}{{ gamer }} - {% endblock %}
{% block sectiontitle %}{% avatar gamer.user class="avatar" %} {{ gamer }}{% endblock %}
{% block mobileheader %}{% avatar gamer.user class="avatar" %} {{ gamer }}{% endblock %}
{% block detailactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}

<dl>
  <dt>{% trans "Display Name" %}</dt>
  <dd>{{ gamer.display_name }}</dd>
  <dt>{% trans "Bio" %}</dt>
  <dd>{{ gamer.user.bio }}</dd>
  {% if gamer.user.homepage_url %}
  <dt><a href="{{ gamer.user.homepage_url }}" rel="nofollow">{% trans "Homepage" %}</a></dt>
  <dd></dd>
  {% endif %}
  <dt>{% trans "Timezone" %}</dt>
  <dd>{{ gamer.user.get_timezone_display }}</dd>
  <dt>{% trans "RPG Experience" %}</dt>
  <dd>{{ gamer.rpg_experience }}</dd>
  <dt>{% trans "Tabletop Game Experience" %}</dt>
  <dd>{{ gamer.ttgame_experience }}</dd>
  <dt>{% trans "Playstyle" %}</dt>
  <dd>{{ gamer.playstyle }}</dd>
</dl>

<h2>{% trans "Status" %}</h2>

<table>
  <thead><th>{% trans "Preference" %}</th><th>{% trans "Response" %}</th></thead>
  <tbody>
    <tr><td>{% trans "Current Status" %}</td><td>{{ gamer.get_player_status_display }}</td></tr>
    <tr><td>{% trans "Willing to GM" %}</td><td>{{ gamer.will_gm|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Adult Themes OK?" %}</td><td>{{ gamer.adult_themes|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "One Shots?" %}</td><td>{{ gamer.one_shots|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Adventures?" %}</td><td>{{ gamer.adventures|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Campaigns?" %}</td><td>{{ gamer.campaigns|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Online games?" %}</td><td>{{ gamer.online_games|yesno:_('Yes,No') }}</td></tr>
    <tr><td>{% trans "Local games?" %}</td><td>{{ gamer.local_games|yesno:_('Yes,No') }}</td></tr>
  </tbody>
</table>

<h2>{% trans "Favorites" %}</h2>

<h3>{% trans "Preferred Games" %}</h3>

<ul>
  {% for game in gamer.preferred_games.all %}
  <li><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></li>
  {% empty %}
  <p>{% blocktrans with gname=gamer.display_name %}{{ gname }} hasn't listed any preferred games yet.{% endblocktrans %}</p>
  {% endfor %}
</ul>
<h3>{% trans "Preferred Systems" %}</h3>
<ul>
  {% for system in gamer.preferred_systems.all %}
  <li><a href="{{ system.get_absolute_url }}">{{ system.name }}</a></li>
  {% empty %}
  <p>{% blocktrans with gname=gamer.display_name %}{{ gname }} hasn't listed any preferred systems yet.{% endblocktrans %}</p>
  {% endfor %}
</ul>
{% if request.user.is_authenticated %}
<div id="user-gamer-meta-data">
  <dl>
    <dt>{% trans "Average Rating" %}</dt>
    <dd>{{ gamer.avg_gamer_rating }}</dd>
    <dt>{% trans "Rate gamer" %}</dt>
    <dd>{% ratings gamer %}</dd>
    {% if request.user != gamer.user %}
    <hr />
    <dt>{% trans "Your notes on this gamer" %}</dt>
    <dd>
      <ol>
        {% for note in gamer_notes %}
        <li class="gamer-note">
          <div class="grid-x grid-margin-x">
            <div class="cell medium-4">
          <dl>
            <dt>{% trans "Title" %}</dt>
            <dd>{{ note.title }}</dd>
            <dt>{% trans "Note" %}</dt>
            <dd>{{ note.body_rendered|safe }}</dd>
          </dl>
            </div>
            <div class="cell medium-2">
              <dl>
            <dt>{% trans "Created" %}</dt>
            <dd>{{ note.created }}</dd>
            <dt>{% trans "Modified" %}</dt>
            <dd>{{ note.modified }}</dd>
              </dl>
            </div>
            <div class="cell medium-2">
            </div>
            <dl>
            <dt></dt>
            <dd><a href="{% url 'gamer_profiles:edit-gamernote' gamernote=note.pk %}" class="button primary">{% trans "Edit note" %}</a></dd>
            <dt></dt>
            <dd><a href="{% url 'gamer_profiles:delete-gamernote' gamernote=note.pk %}" class="button alert">{% trans "Delete note" %}</a> </dd>
            </dl>
          </div>
        </li>
        {% empty %}
        <p>{% trans "You have not made any notes for this gamer yet." %}</p>
        {% endfor %}
        <a href="{% url 'gamer_profiles:add-gamer-note' gamer=gamer.username %}"><button class="button primary">{% trans "Add a note" %}</button></a>
      </ol>
    </dd>
    {% endif %}
</div>
{% endif %}

{% if gamer.user == request.user %}
<a href="{% url 'gamer_profiles:profile_export' gamer=gamer.username %}" class="button primary">{% trans "Export your profile data" %}</a>
{% endif %}


{% endblock %}
