{% extends "gamer_profiles/base.html" %}
{% load i18n social_tags %}
{% block innernavmenu %}
{% is_blocked_by_user gamer as blocked %}
<li{% block detailactive %}{% endblock %}><a href="{{ request.user.gamerprofile.get_absolute_url }}">{% trans "Profile details" %}</a></li>
{% if gamer and gamer.user == request.user %}
<li{% block editactive %}{% endblock %}><a href="{% url 'gamer_profiles:profile-edit' %}">{% trans "Edit profile" %}</a></li>
<li{% block friendactive %}{% endblock %}><a href="{% url 'gamer_profiles:my-gamer-friend-requests' %}">{% trans "Your friend requests" %}</a></li>
<li{% block blockactive %}{% endblock %}><a href="{% url 'gamer_profiles:my-block-list' %}">{% trans "Blocked users" %}</a></li>
<li{% block settingsactive %}{% endblock %}><a href="{% url 'user_preferences:setting-view' %}">{% trans "Settings" %}</a></li>
{% else %}
<li>{% if gamer not in request.user.gamerprofile.friends.all %}<a href="{% url 'gamer_profiles:gamer-friend' gamer=gamer.username %}"><i class="fas fa-user-friends"></i> {% trans "Send friend request" %}</a>{% else %}<form action="" method="post">{% csrf_token %}<input type="submit" class="button" value="{% trans 'Remove friend' %}" /></form>{% endif %}</li>
<li>{% if blocked %}<a href="{% url 'gamer_profiles:my-block-list' %}">{% trans "Blocked" %}</a>{% else %}<form method="post" action="{% url 'gamer_profiles:block-gamer' gamer=gamer.username %}">{% csrf_token %}<input type="submit" class="button" value="{% trans 'Block user' %}" /></form>{% endif %}</li>
{% endif %}
{% endblock %}
