{% extends "gamer_profiles/profile_base.html" %}
{% load avatar_tags i18n humanize foundation_formtags %}
{% block subtitle %}{% trans "Edit your profile" %} - {% endblock %}
{% block sectiontitle %}{% trans "Edit your profile" %}{% endblock %}
{% block mobileheader %}{% trans "Edit your profile" %}{% endblock %}
{% block editactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
<p></p>
{% avatar gamer.user %}
<p><span class="small-control-text"><a href="{% if request.user|has_avatar %}{% url 'avatar_change' %}{% else %}{% url 'avatar_change' %}{% endif %}?next={{ gamer.get_absolute_url }}" class="button"> {% trans "Change profile picture" %}</a></span></p>
<p>{% trans "You can update your profile details below." %}
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  {{ profile_form|as_foundation }}
  <p><a href="{{ gamer.get_absolute_url }}"><button class="secondary button">{% trans "Go Back" %}</button></a>    <button type="submit" class="button success">{% trans "Save changes" %}</button></p>
</form>

{% endblock %}
