{% extends "gamer_profiles/profile_base.html" %}
{% load avatar_tags i18n humanize foundation_formtags %}
{% block subtitle %}{% trans "Edit your profile" %} - {% endblock %}
{% block sectiontitle %}{% trans "Edit your profile" %}{% endblock %}
{% block mobileheader %}{% trans "Edit your profile" %}{% endblock %}
{% block editactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-7">
<p></p>
{% avatar gamer.user class="avatar" %}<br /><br />
<p><span class="small-control-text"><a href="{% if request.user|has_avatar %}{% url 'avatar_change' %}{% else %}{% url 'avatar_change' %}{% endif %}?next={{ gamer.get_absolute_url }}" class="button"> {% trans "Change profile picture" %}</a></span></p>
<p>{% trans "You can update your profile details below." %}</p>
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  {{ profile_form|as_foundation }}
  <div class="clearfix">
    <a href="{{ gamer.get_absolute_url }}" class="button secondary float-left">{% trans "Go Back" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save changes' %}" />
  </div>
</form>
  </div>
</div>
{% endblock %}
