{% extends "postman/base.html" %}
{% load i18n static foundation_formtags mail_tags rules %}
{% block js_extra %}{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% include "datepicker_js.html" %}
{% endblock %}
{% block css_extra %}
{% include "datepicker_css.html" %}
{% endblock %}
{% block content %}
{% has_perm 'postman.can_send_messages' request.user form as can_send %}
<div id="postman">
  {% if can_send == False %}
  {% get_silence_end request.user as silence_end %}
  <p>{% blocktrans with silend=silence_end.ending %}You are currently silenced until {{ silend }} and cannot send messages.{% endblocktrans %}</p>
  {% else %}
<h1>{% block pm_write_title %}{% endblock %}</h1>
<form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
{% block pm_write_recipient %}{% endblock %}
{{ form|as_foundation }}
  <button type="submit" class="button success"><i class="fas fa-paper-plane"></i> {% trans "Send" %}</button>
</form>
{% endif %}
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
     element: $('#id_body')[0],
     autosave: {
        enabled: false
     },
     tabSize: 4,
     indentWithTabs: false,
     forceSync: true,
    spellChecker: false,
});
</script>
{% endblock %}
