{% extends "postman/report_base.html" %}
{% load i18n avatar_tags foundation_formtags markdownify %}
{% block subtitle %}{% trans "Report message" %} - {% endblock %}
{% block sectiontitle %}{% trans "Report message" %}{% endblock %}
{% block mobileheader %}{% trans "Report message" %}{% endblock %}
{% block css_extra %}
{% include "datepicker_css.html" %}
{% endblock %}
{% block js_extra %}
{% include "datepicker_js.html" %}
{% endblock %}
{% block post_crumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Report message" %}</li>
{% endblock %}
{% block content %}
<p>{% trans "Report the message using the form below. For your convenience, we are displaying the message you are reporting as well." %}</p>
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Message details" %}</h5></div>
      <div class="card-section">

<dl>
  <dt>{% trans "From" %}</dt>
  <dd>{% avatar message.sender 30 class='avatar' %} <a href="{{ message.sender.gamerprofile.get_absolute_url }}">{{ message.sender.gamerprofile }}</a></dd>
  <dt>{% trans "Received" %}</dt>
  <dd>{{ message.sent_at }}</dd>
  <dt>{% trans "Subject" %}</dt>
  <dd>{{ message.subject }}</dd>
  <dt>{% trans "Message body" %}</dt>
  <dd>{{ message.body|markdownify|linebreaksbr }}</dd>
</dl>
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Your report" %}</h5></div>
      <div class="card-section">
<form method="post" action="">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="clearfix">
    <a href="{{ message.get_absolute_url }}" class="button secondary float-left">{% trans "Nevermind, take me back to the message" %}</a> <input type="submit" class="button success float-right" value="{% trans 'Submit report' %}" />
  </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: $('#id_details')[0],
    autosave: {
      enabled: false
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
  });
</script>

{% endblock %}
