{% extends "postman/base_folder.html" %}
{% load i18n %}
{% block pm_folder_title %}{% trans "Sent Messages" %}{% endblock %}
{% block mobileheader %}{% trans "Sent Messages" %}{% endblock %}
{% block sentactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_read_button %}{% endblock %}
{% block pm_unread_button %}{% endblock %}
{% block pm_sender_header %}{% endblock %}
{% block pm_date %}{% trans "Sent" %}{% endblock %}
{% block pm_sender_cell %}{% endblock %}
{% block post_crumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Sent" %}</li>
{% endblock %}
