{% extends "games/base.html" %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">
  {% endblock %}

{% block js_extra %}
<script type="text/javascript" src="{% static 'js/vendor/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // initialize calendar view
    $('#calendar').fullCalendar({
      events: '{% url "games:api_occurrences" %}?calendar_slug={{ calendar_slug }}', //&timezone={{ TIME_ZONE|urlencode }}',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: '',
      },
      selectable: true,
      navLinks: true,
      timezone: '{{ TIME_ZONE }}',
      eventClick: function(event){
        if (event.url) {
          window.open(event.url);
          return false;
        }
      },
      eventAfterRender: function(event, element, view){
       event_title_span = $(element).children('.fc-content').children(".fc-title");
       event_title_span.text("");
        event_title_span.add("<span data-tooltip tabindex='"+event.id+"' title='"+event.title+" - (click to open in new tab)'>"+event.title+"</span>").appendTo(event_title_span);
        new Foundation.Tooltip(event_title_span.children("span"));
       },

    })
  });
</script>
{% endblock %}
