{% extends "games/base.html" %}
{% load i18n %}
{% block subtitle %}{% blocktrans with cname=character.name %}Delete character {{ cname }}?{% endblocktrans %} - {% endblock %}
{% block charactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% blocktrans with cname=character.name %}Delete character {{ cname }}?{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with cname=character.name %}Delete character {{ cname }}?{% endblocktrans %}{% endblock %}
{% block content %}
<div class="callout alert">
  <h5>{% trans "Are you sure?" %}</h5>
  <p>{% trans "Deleting this character can not be undone." %}</p>
</div>

<form action="" method="post">
  {% csrf_token %}
  <a href="{{ character.get_absolute_url }}" class="button float-left secondary">{% trans "Return to character details." %}</a> <input type="submit" class="button alert float-right" value="{% trans 'Delete' %}" />
</form>
{% endblock %}
