{% extends "games/base.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{trans "Update character" %} {{ character.name }} - {% endblock %}
{% block charactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% blocktrans with gametitle=character.game.title cname=character.name %}Update character {{ cname }} for {{ gametitle }}{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with gametitle=character.game.title cname=character.name %}Update character {{ cname }} for {{ gametitle }}{% endblocktrans %}{% endblock %}
{% block game_crumbs %}
<li><a href="{{ game.get_absolute_url }}">{{ game.title|truncatechars_html:"70" }}</a></li>
<li><a href="{% url 'games:character_game_list' gameid=game.slug %}">{% trans "Characters" %}</a></li>
<li><a href="{{ character.get_absolute_url }}">{{ character.name|truncatechars_html:"70" }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Edit" %}</li>
{% endblock %}
{% block content %}
<p>{% trans "Edit the character information below. You may also optionally upload a new character sheet." %}</p>
<form enctype="multipart/form-data" method="post" action ="">
  {% csrf_token %}
  {{ form|as_foundation }}
  <a href="{{ character.get_absolute_url }}" class="button float-left secondary">{% trans "Go back to character details" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save' %}" />
</form>
{% endblock %}
