{% extends "games/game_detail.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Edit application" %} - {% endblock %}
{% block js_extra %}
{% include "datepicker_js.html" %}
{% include "datepicker_logic.html" %}
{% endblock %}
{% block css_extra %}
{% include "datepicker_css.html" %}
{% endblock %}
{% block details_and_controls %}
<div class="cell medium-6">
  <div class="card">
    <div class="card-divider"><h5>{% trans "Edit application" %}</h5></div>
    <div class="card-section">
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="grid-x grid-margin-x"><div class="cell medium-auto"><a href="{{ application.get_absolute_url }}" class="button secondary">{% trans "Go back" %}</a></div><div class="cell medium-auto"><input type="submit" value="{% trans 'Save changes' %}" class="button" /> </div>{% if application.status == "new" %}<div class="cell medium-auto"><input type="submit" id="id_submit_app" name="submit_app" value="{% trans 'Save and submit application' %}" class="button success" /></div>{% endif %}</div>
</form>
    </div>
  </div>
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var easymde = new EasyMDE({
    element: $("#id_message")[0],
    tabSize: 4,
    indentWithTabs: false,
    spellChecker: false,
    forceSync: true,
    renderingConfig: {
      markedOptions: {
        sanitize: true;
      }
    }
  });
</script>
{% endblock %}
