{% extends "games/game_base.html" %}
{% load i18n invite_tags avatar_tags rules %}
{% block subtitle %}{% blocktrans with gname=game.title %}Invites for {{ gname }}{% endblocktrans %} - {% endblock %}
{% block sectiontitle %}{% blocktrans with gname=game.title %}Invites for {{ gname }}{% endblocktrans %}{% endblock %}
{% block mobileheader %}{% blocktrans with gname=game.title %}Invites for {{ gname }}{% endblocktrans %}{% endblock %}
{% block inviteactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block game_crumbs %}
<li><a href="{{ game.get_absolute_url }}">{{ game.title|truncatechars_html:"70" }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Invites" %}</li>
{% endblock %}
{% block content %}
{% has_perm "invite.can_invite" user game as is_inviter %}
{% if is_inviter %}
  {% get_active_invites_for_object game as active_invite_list %}
  {% get_accepted_invites_for_object game as accepted_invite_list %}
  {% get_expired_invites_for_object game as expired_invite_list %}
<p>{% blocktrans %}Invites are one-use links that allow someone to immediately join your game without having to go through the application process.{% endblocktrans %}</p>
    <ul class="tabs" data-tabs data-deep-link="true" data-deep-link-smudge="true" id="all-tabs">
      <li class="tabs-title is-active"><a href="#all_pending" aria-selected="true">{% trans "Pending invites" %} ({{ active_invite_list|length }})</a></li>
      <li class="tabs-title"><a href="#all_accepted" data-tabs-target="all_accepted">{% trans "Accepted invites" %} ({{ accepted_invite_list|length }})</a></li>
      <li class="tabs-title"><a href="#all_expired" data-tabs-target="all_expired">{% trans "Expired invites" %} ({{ expired_invite_list|length }})</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="all-tabs">
      <div class="tabs-panel is-active" id="all_pending">
        {% if not active_invite_list %}
        <p>{% trans "There are no pending invites for this game." %}</p>
        {% endif %}
        <div class="clearfix">
          <a href="{% url 'invites:invite_create' content_type=ct.id slug=game.slug %}" class="button float-right">{% trans "Create new invite link" %}</a>
        </div>
        <table class="scroll hover">
          <thead>
            <tr>
              <th>{% trans "Label" %}</th>
              <th class="text-right">{% trans "Created at" %}</th>
              <th>{% trans "Invite URL" %}</th>
              <th>{% trans "Status" %}</th>
              <th class="text-right">{% trans "Expires" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for invite in active_invite_list %}
            <tr>
              <td>{{ invite.label }}</td>
              <td class="text-right">{{ invite.created }}</td>
              <td><a href="https://{{ request.get_host }}{% url 'invites:invite_accept' invite=invite.slug %}">https://{{ request.get_host }}{% url 'invites:invite_accept' invite=invite.slug %}</a></td>
              <td>{{ invite.get_status_display }}</td>
              <td class="text-right">{{ invite.expires_at }}</td>
              <td><a href="{% url 'invites:invite_delete' invite=invite.slug %}" class="button alert">{% trans "Delete invite" %}</a></td>
            </tr>
            {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tabs-panel" id="all_accepted">
        {% if not accepted_invite_list %}
        <p>{% trans "There are no accepted invites for this game." %}</p>
        {% endif %}
        <table class="scroll hover">
          <thead>
            <tr>
              <th>{% trans "Label" %}</th>
              <th class="text-right">{% trans "Created at" %}</th>
              <th>{% trans "Status" %}</th>
              <th>{% trans "Accepted by" %}</th>
              <th class="text-right">{% trans "Expiration" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for invite in accepted_invite_list %}
            <tr>
              <td>{{ invite.label }}</td>
              <td class="text-right">{{ invite.created }}</td>
              <td>{{ invite.get_status_display }}</td>
              <td>{% avatar invite.accepted_by 30 class="avatar" %} <a href="{{ invite.accepted_by.gamerprofile.get_absolute_url }}">{{ invite.accepted_by.gamerprofile }}</a></td>
              <td class="text-right">{{ invite.expires_at }}</td>
              <td><a href="{% url 'invites:invite_delete' invite=invite.slug %}" class="button alert">{% trans "Delete invite" %}</a></td>
            </tr>
            {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tabs-panel" id="all_expired">
        {% if not expired_invite_list %}
        <p>{% trans "There are no expired invites for this game." %}</p>
        {% endif %}
        <table class="scroll hover">
          <thead>
            <tr>
              <th>{% trans "Label" %}</th>
              <th class="text-right">{% trans "Created at" %}</th>
              <th>{% trans "Status" %}</th>
              <th class="text-right">{% trans "Expired" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for invite in expired_invite_list %}
            <tr>
              <td>{{ invite.label }}</td>
              <td class="text-right">{{ invite.created }}</td>
              <td>{{ invite.get_status_display }}</td>
              <td class="text-right">{{ invite.expires_at }}</td>
              <td><a href="{% url 'invites:invite_delete' invite=invite.slug %}" class="button alert">{% trans "Delete invite" %}</a></td>
            </tr>
            {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endif %}
{% endblock %}
