{% extends "games/game_base.html" %}
{% load i18n avatar_tags mail_tags tour_tags rules %}
{% block subtitle %}{{ game.title }} - {% endblock %}
{% block gameactive %} class="is-active"{% endblock %}
{% block sectiontitle %}{{ game.title }}{% endblock %}
{% block mobileheader %}{{ game.title }}{% endblock %}
{% block game_crumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{{ game.title|truncatechars_html:"70" }}</li>
{% endblock %}
{% block og_graph %}
<meta name="twitter:title" content="{{ game.title }} on LFG Directory">
<meta name="twitter:description" content="{{ game.game_description_rendered|truncatewords_html:15|striptags }}">
{% if game.featured_image and not game.featured_image_cw %}
<meta name="twitter:card" content="summary_large_image" >
<meta name="twitter:image" content="{{ game.featured_image.url }}">
<meta property="og:image" content="{{ game.featured_image.url }}">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}
<meta property="og:site_name" content="{{ game.title }} on LFG Directory">
<meta property="og_description" content="{{ game.game_description_rendered|truncatewords_html:15|striptags }}">
{% endblock %}
{% block content %}
{% get_tour "gamedetail" as tour %}
{% if game.featured_image %}
<div id="feature-image">
  <img alt="{% if game.featured_image_description %}{{ game.featured_image_description }}{% else %}{% blocktrans with gname=game.title %}Featured image for {{ gname }}{% endblocktrans %}{% endif %}" class="thumbnail logo" src="{{ game.featured_image.url }}" />
  {% if game.featured_image_cw %}
  <div id="cw_overlay" onclick="cw_off()">
    <div id="overlay_text"><p>{% trans 'CW:' %} {{ game.featured_image_cw }}</p><p>{% trans "Click to reveal" %}</p></div>
  </div>
  {% endif %}
</div>
{% endif %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card" id="game-description">
      <div class="card-divider"><h2>{% trans "Description" %}</h2></div>
      <div class="card-section">
        {% has_perm "game.is_member" request.user game as is_member %}
        {% get_tour "game" as tour %}
        {% if tour and is_member %}
        <div class="float-right">
          {% render_tour_trigger tour %}
        </div>
        {% endif %}
        <section class="description-text">{{ game.game_description_rendered|safe }}</section>

      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card" id="game-details">
      <div class="card-divider">
        <h2>{% trans "Details" %}</h2>
      </div>
      <div class="card-section">
        <table class="hover scroll">
          <tbody>
            <tr>
              <td>{% trans "Game Master" %}</td>
              <td>{% avatar game.gm.user 30 class="avatar" %} <a href="{{ game.gm.get_absolute_url }}">{{ game.gm }}</a></td>
            </tr>
            <tr>
              <td>{% trans "GM Timezone" %}</td>
              <td>{{ game.gm.user.get_timezone_display }}</td>
            </tr>
            <tr>
              <td>{% trans "GM Stats" %}</td>
              <td>
                <ul class="stats-list">
                  <li>{{ game.gm.gmed_games.count|default_if_none:"0" }} <span class="stats-list-label">{% trans "Games created" %}</span></li>
                  <li>{{ game.gm.get_active_games.count|default_if_none:"0" }} <span class="stats-list-label">{% trans "Active games" %}</span></li>
                  <li>{{ game.gm.get_gm_finished_games.count|default_if_none:"0" }} <span class="stats-list-label">{% trans "Games finished" %}</span></li>
                  <li>{{ game.gm.get_sessions_run|default_if_none:"0" }} <span class="stats-list-label">{% trans "Sessions run" %}</span></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>{% trans "Status" %}</td>
              <td><span class="label {% if game.status == 'started' %}green{% elif game.status == 'cancel' %}alert{% elif game.status == 'closed' %}secondary{% else %}primary{% endif %}">{{ game.get_status_display }}</span></td>
            </tr>
            {% if game.next_session_time %}
            <tr>
              <td>{% trans "Next session" %}</td>
              <td>{% if game.next_session %}<a href="{{ game.next_session.get_absolute_url }}">{{ game.next_session_time|date:"E d, Y H:i e"|default_if_none:"Pending" }}</a>{% else %}{{ game.next_session_time|date:"E d, Y H:i e"|default_if_none:"Pending" }}{% endif %}</td>
            </tr>
            {% endif %}
            <tr>
              <td>{% trans "Game Type" %}</td>
              <td>{{ game.get_game_type_display }}</td>
            </tr>
            <tr>
              <td>{% trans "Adult Themes?" %}</td>
              <td>{{ game.adult_themes|yesno:"Yes,No" }}</td>
            </tr>
            <tr>
              <td>{% trans "Content warning" %}</td>
              <td>{{ game.content_warning }}</td>
            </tr>
            <tr>
              <td>{% trans "Starts" %}</td>
              <td>{{ game.start_time|date:"E d, Y H:i e"|default_if_none:"Pending" }}</td>
            </tr>
            {% if game.game_type != "oneshot" %}
            <tr>
              <td>{% trans "Game Frequency" %}</td>
              <td>{{ game.get_game_frequency_display }}</td>
            </tr>
            {% if game.end_date %}
            <tr>
              <td>{% trans "End Date" %}</td>
              <td>{{ game.end_date|date:"E d, Y" }}</td>
            </tr>
            {% endif %}
            {% endif %}
            <tr>
              <td>{% trans "Playing" %}</td>
              <td>{% if game.published_game %}<a href="{{ game.published_game.get_absolute_url }}">{{ game.published_game.game.title }} ({{ game.published_game.name }})</a>{% else %}{% if game.published_module %}<a href="{{ game.published_module.parent_game_edition.get_absolute_url }}">{{ game.published_module.parent_game_edition }}</a>{% else %}{% trans "Homebrew" %}{% endif %}{% endif %}</td>
            </tr>
            <tr>
              <td>{% trans "System" %}</td>
              <td>
                {% if game.game_system %}<a href="{{ game.game_system.get_absolute_url }}">{{ game.game_system.name }}</a>{% else %}{% if not game.published_game and not game.published_module %}{% trans 'Homebrew' %}{% else %}{% if game.published_game.game_system %}<a href="{{ game.published_game.game_system.get_absolute_url }}">{{ game.published_game.game_system.name }}</a>{% elif game.published_module and game.published_module.parent_game_edition.game_system %}<a href="{{ game.published_module.parent_game_edition.game_system.get_absolute_url }}">{{ game.published_module.parent_game_edition.game_system.name }}</a>{% endif %}{% endif %}{% endif %}
              </td>
            </tr>
            <tr>
              <td>{% trans "Module" %}</td>
              <td>{% if game.published_module %}<a href="{{ game.published_module.get_absolute_url }}">{{ game.published_module.title }}</a>{% else %}N/A{% endif %}</td>
            </tr>
            <tr>
              <td>{% trans "Current players" %}</td>
              <td class="text-right">{{ game.players.count }}</td>
            </tr>
            <tr>
              <td>{% trans "Minimum players" %}</td>
              <td class="text-right">{{ game.min_players }}</td>
            </tr>
            <tr>
              <td>{% trans "Maximum players" %}</td>
              <td class="text-right">{{ game.max_players }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if request.user == game.gm.user %}
    <a href="{% url 'games:game_edit' gameid=game.slug %}" class="button"><i class="fas fa-edit"></i> {% trans "Edit Game Details" %}</a>
    {% endif %}
  </div>
</div>


<div class="grid-x grid-margin-x">
  {% block details_and_controls %}
{# Add actual details here. Application templates should extend this and override this block. #}
  {% if game.gm.user == request.user and pending_applicant_list %}
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h2>{% trans "Applicants" %}</h2></div>
      <div class="card-section">
<p>{% blocktrans count counter=pending_applicant_list|length %}You have {{ counter }} pending application.{% plural %}You have {{ counter }} pending applications.{% endblocktrans %}</p>
<p><a href="{% url 'games:game_applicant_list' gameid=game.slug %}" class="button">{% trans "View applicants" %}</a></p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="cell medium-auto">
    <div class="card" id="game-players">
      <div class="card-divider"><h2>{% trans "Current Players" %}</h2></div>
      <div class="card-section">
{% if not player_list %}
<p>{% trans "No players yet" %}</p>
{% else %}
{% has_perm 'postman.can_send_messages' request.user as can_send %}
{% if game.gm.user == request.user %}
{% if can_send %}
{% get_recipient_string game.players.all as playermail %}
<a href="{% url 'postman:write' playermail %}" class="button primary"><i class="fas fa-mail-bulk"></i> {% trans "Send message to all players" %}</a>
{% else %}
<button class="button primary disabled"><i class="fas fa-mail-bulk"></i> {% trans "Send message to all players" %}</button>
{% endif %}
{% endif %}
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "Player" %}</th>
      <th>{% trans "Character" %}</th>
      <th>{% trans "Joined" %}</th>
      <th class="text-center">{% trans "Sessions (expected/missed/rating)" %}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for player in player_list %}
    {% has_perm "postman.can_message_user" request.user player.gamer.user as can_send_user %}

    <tr>
      <td>{% avatar player.gamer.user 20 class="avatar" %} <a href="{{ player.gamer.get_absolute_url }}">{{ player.gamer }}</a></td>
      <td>{% if player.current_character %}<a href="{{ player.current_character.get_absolute_url }}">{{ player.current_character.name }}</a>{% else %}{% trans "Pending" %}{% endif %}</td>
      <td>{{ player.created|date:"E d, Y H:i e" }}</td>
      {% if game.sessions > 0 %}
      {% with rank=player.get_attendance_rating_for_game %}
      <td class="text-center"><span class="label {% if rank > 80 %}success{% elif rank < 50 %}alert{% else %}primary{% endif %}"><abbr title="{% trans 'Sessions expected' %}">{{ player.sessions_expected }}</abbr> / <abbr title="{% trans 'Sessions missed' %}">{{ player.sessions_missed }}</abbr> / <abbr title="{% trans 'Attendance rating' %}"><strong>{{ player.get_attendance_rating_for_game|default_if_none:"N/A" }}%</strong></abbr></span></td>
      {% endwith %}
      {% else %}
      <td><span class="label secondary">{% trans "No data yet" %}</span></td>
      {% endif %}
      {% if player.user == request.user %}
      <td>
        {% if player.current_character %}
        <a href="{% url 'games:character_update' character=player.current_character.slug %}" class="button primary"><i class="fas fa-user-shield"></i> {% trans "Manage Character" %}</a>
        {% else %}
        <a href="{% url 'games:character_create' game=game.slug player=player.slug %}" class="button primary"><i class="fas fa-user-shield"></i>{% trans "Add Character" %}</a>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'games:game_leave' game=game.slug player=player.slug %}" class="button alert"><i class="fas fa-sign-out-alt"></i> {% trans "Leave game" %}</a>
      </td>


      {% elif game.gm.user == request.user %}
      <td>
        {% if can_send_user %}
          <a href="{% url 'postman:write' player.gamer.user.username %}" class="button primary"><i class="fas fa-envelope"></i> {% trans "Message" %}</a>
          {% else %}
          <button class="button disabled"><i class="fas fa-envelope"></i> {% trans "Message" %}</button>
          {% endif %}
      </td>
      <td>
        <a href="{% url 'games:player_kick' gameid=game.slug player=player.slug %}" class="button alert"><i class="fas fa-user-slash"></i> {% trans "Kick player from game" %}</a>
      </td>
      {% else %}
      <td></td>
      <td></td>
      {% endif %}
  {% endfor %}
    </tr>
  </tbody>
</table>
{% endif %}
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-margin-x">
    {% if recent_sessions or game.next_session_time %}
    <div class="cell medium-auto">
      <div class="card" id="game-recent-sessions">
        <div class="card-divider"><h2>{% trans "Recent and upcoming sessions" %}</h2></div>
        <div class="card-section">
          {% if game.gm.user == request.user %}
          <div class="clearfix">
            {% if game.players.count == 0 %}
            <p>{% blocktrans %}You will need to have at least one player in your game before you can create a session.{% endblocktrans %}</p>
            <button class="button disabled primary float-left" disabled>{% trans "Create next regular session" %}</button>
            <div class="float-right"><button class="button primary disabled" disabled><i class="fas fa-plus-circle"></i> {% trans "Create an ad hoc session" %}</button> <abbr title="{% trans 'Create a session that is separate from the main recurrence rules, e.g. a side session.' %}"><i class="fas fa-question-circle"></i></abbr></div>
            {% else %}
            {% if game.next_session_time %}
          {% if game.get_next_session and game.get_next_session.scheduled_time == game.next_session_time %}
          <p>{% blocktrans %}You have a session pending completion before you can create the next regular session.{% endblocktrans %}</p>
          <button class="button float-left disabled" disabled>{% trans "Create next regular session" %}</button>
          {% else %}
          <form action="{% url 'games:session_create' gameid=game.slug %}" method="post">
            {% csrf_token %}
            <input id="id_game" name="game" type="hidden" value="{{ game.pk }}" />
            <p>{% blocktrans with session_time=game.next_session_time|date:"E d, Y H:i e" %}Create next session for {{ session_time }}? (You can change this time afterwards if needed.){% endblocktrans %}</p>
            <input type="submit" class="button float-left" value="{% trans 'Create next regular session' %}" />
          </form>
          {% endif %}
          {% endif %}
          {% if game.status != "closed" and game.status != "cancel" and game.gm.user == request.user %}
          <div class="float-right"><p><a href="{% url 'games:session_adhoc_create' gameid=game.slug %}" class="button primary"><i class="fas fa-plus-circle"></i> {% trans "Create an ad hoc session" %}</a> <abbr title="{% trans 'Create a session that is separate from the main game recurrence rules, e.g. a side session.' %}"><i class="fas fa-question-circle"></i></abbr></p></div>
          {% endif %}
          {% endif %}
          </div>
          <br /><br />
          {% endif %}
{% if not recent_sessions %}
<p>{% trans "No sessions yet." %}</p>
{% endif %}
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Players present" %}</th>
      <th>{% trans "Log" %}</th>
      {% if game.gm.user == request.user %}
      <th>{% trans "GM Notes" %}</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for session in recent_sessions %}
    <tr>
      <td><a href="{{ session.get_absolute_url }}">{{ session.scheduled_time|date:"E d, Y H:i e" }}</a></td>
      <td><span class="label {% if session.status == 'cancel' %}secondary{% elif session.status == 'complete' %}success{% else %}primary{% endif %}">{{ session.get_status_display }}</span></td>
      <td>{{ session.get_players_present|join:", " }}</td>
      <td>{{ session.adventurelog.body_rendered|safe|truncatewords_html:30 }}</td>
      {% if game.gm.user == request.user %}
      <td>{{ session.gm_notes_rendered|safe|truncatewords_html:30 }}</td>
      {% endif %}
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% if recent_sessions and game.sessions > recent_sessions|length %}
<a href="{% url 'games:session_list' gameid=game.slug %}" class="button">{% trans "See all sessions" %}</a>
{% endif %}
        </div>
      </div>
    </div>
{% endif %}
    {% endblock %}
  </div>

{% endblock %}
  {% block tourjs %}
  {% has_perm "game.is_member" request.user game as is_member %}
  {% get_tour "game" as tour %}
  {% if tour and is_member %}
  {% render_tour tour %}
  {% update_tour_rendered tour request.user %}
  {% endif %}
  {% endblock %}
