{% extends "games/base_form.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Create game" %} - {% endblock %}
{% block sectiontitle %}{% trans "Create game" %}{% endblock %}
{% block mobileheader %}{% trans "Create game" %}{% endblock %}
{% block createactive %} class="is-active"{% endblock %}
{% block game_crumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Create" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-2"></div>
  <div class="cell medium-7">
<p>{% trans "Add in your game details below." %}</p>
<form enctype="multipart/form-data" data-abide novalidate action="" method="post">
  {% csrf_token %}
  {% for field in form %}
  {% render_field field %}
  {% if field.name == "game_mode" %}
  <div id="location_form">
    {{ location_form|as_foundation }}
  </div>
  {% endif %}
  {% endfor %}
  <p> <a class="button secondary" href="{% url 'games:game_list' %}">{% trans "Cancel and return to game listings" %}</a> <input type="submit" class="button success" value="{% trans 'Create' %}"></p>
</form>
  </div>
</div>
{% endblock %}

{% block simplemde %}
<script type="text/javascript">
  var easymde = new EasyMDE({
    element: $('#id_game_description')[0],
    autosave: {
      enabled: true,
      uniqueId: "games_game_description",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
    spellChecker:false,
    renderingConfig: {
      markedOptions: {
        sanitize: true,
      }
    }
  });
</script>
{% include "games/location_toggle_js.html" %}
{% include "locations/autocomplete_js.html" %}
{% endblock %}
