{% extends "games/game_base.html" %}
{% load i18n %}
{% block subtitle %}{% trans "Delete game" %} - {% endblock %}
{% block deleteactive %} class="is-active"{% endblock %}
{% block sectiontitle %}{% trans "Delete game" %}{% endblock %}
{% block mobileheader %}{% trans "Delete game" %}{% endblock %}
{% block game_crumbs %}
<li><a href="{{ game.get_absolute_url }}">{{ game.title|truncatechars_html:"70" }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Delete" %}</li>
{% endblock %}
{% block content %}
<div class="alert callout">
  <h2>{% trans "Are you sure?" %}</h2>
  <p>{% blocktrans with gametitle=game.title %}If you delete {{ gametitle }} you will also delete all the following pieces of information: {% endblocktrans %}</p>
  <ul>
    <li>{% blocktrans count counter=game.gamesession_set|length %}{{ counter }} session and its associated adventure log.{% plural %}{{ counter }} sessions and their associated adventure logs.{% endblocktrans %}</li>
    <li>{% blocktrans count counter=game.players|length %}{{ counter }} player record and associated character records.{% plural %}{{ counter }} player records and their associated character records.{% endblocktrans %}</li>
  </ul>
</div>
<form action="" method="post">
  {% csrf_token %}
  <div class="clearfix">
  <a href="{{ game.get_absolute_url }}" class="button float-left secondary">{% trans "Go back" %}</a> <input type="submit" class="button float-right alert" value="{% trans 'Delete game' %}" />
</form>
{% endblock %}
