{% extends "games/base.html" %}
{% load avatar_tags foundation_formtags tour_tags i18n humanize rules %}
{% block subtitle %}{% trans "Game Listings" %} - {% endblock %}
{% block allgamesactive %} class="is-active"{% endblock %}
{% block sectiontitle %}{% trans "Game listings" %}{% endblock %}
{% block mobileheader %}{% trans "Game listings" %}{% endblock %}
{% block extracrumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Games" %}</li>
{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
<p>{% trans "Showing only public games. You will need to" %} <a href="{% url 'accounts_login' %}">{% trans "login" %}</a> {% trans "to see any more." %}</p>
{% endif %}
{% if request.user.is_authenticated %}
{% get_tour "games" as tour %}
{% if tour %}
<div class="clearfix">
  <div class="float-right">{% render_tour_trigger tour %}</div>
</div>
{% endif %}
{% endif %}
{% if not game_list %}
<p>{% trans "No games found." %}</p>
{% endif %}
{% if filter_form %}

<form class="inline-form" action="" method="get">
  <div class="grid-x grid-margin-x"><input type="hidden" id="id_filter_present" name="filter_present" value="1" /><div class="cell medium-auto">{% render_field filter_form.game_status %}</div><div class="cell medium-auto">{% render_field filter_form.edition %}</div><div class="cell medium-auto">{% render_field filter_form.system %}</div><div class="cell medium-auto">{% render_field filter_form.module %}</div><div class="cell medium-auto">{% render_field filter_form.venue %}</div><div class="cell medium-auto">{% render_field filter_form.distance %}</div><div class="cell medium-auto">{% render_field filter_form.similar_availability %}</div><div class="cell medium-auto"><label for="id_submit_filter">&nbsp;</label> <input id="id_submit_filter" type="submit" class="button secondary" value="{% trans 'Filter results' %}" /></div></div></form>
{% endif %}
<table class="scroll hover">
  <thead>
    <tr>
      <th id="gametitle" width="300">{% trans "Title" %}</th>
      <th id="gametype">{% trans "Type" %}</th>
      <th>{% trans "Status" %}</th>
      <th width="100">{% trans "Start" %}</th>
      <th width="100">{% trans "End" %}</th>
      <th><abbr title="{% trans 'Game master' %}">{% trans "GM" %}</abbr></th>
      <th>{% trans "GM Timezone" %}</th>
      <th><abbr title="{% trans 'Frequency' %}">{% trans "Freq" %}</abbr></th>
      <th class="text-right">{% trans "Length (hours)" %}</th>
      <th id="gameat"><abbr title="{% trans 'Adult themes?' %}">{% trans "Adult" %}</abbr></th>
      <th id="gamecw"><abbr title="{% trans 'Content Warning' %}">{% trans "CW" %}</abbr></th>
      <th id="gameprivacylevel" class="text-right">{% trans 'Privacy' %}</th>
      <th class="text-right">{% trans "Players" %}</th>
      <th class="text-right"><abbr title="{% trans 'Sessions completed' %}">{% trans "Sessions" %}</abbr></th>
      <th width="500">{% trans "Description" %}</th>
      <th>{% trans "Game" %}</th>
      <th>{% trans "System" %}</th>
      <th>{% trans "Module" %}</th>
      <th id="venue">{% trans "Venue" %}</th>
      <th id="game_city"><abbr title="{% trans 'City if an IRL game' %}">{% trans "City" %}</abbr></th>

    </tr>
  </thead>
  <tbody>
    {% for game in game_list %}
    <tr>
      <td><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></td>
      <td>{{ game.get_game_type_display }}</td>
      <td><span class="label {% if game.status == 'started' %}secondary{% else %}primary{% endif %}">{{ game.get_status_display }}</span></td>
      <td>{{ game.start_time|date:"E d, Y H:i e"|default_if_none:"Pending" }}</td>
      <td>{{ game.end_date|date:"E d, Y"|default_if_none:"N/A" }}</td>
      <td><a href="{{ game.gm.get_absolute_url }}">{% avatar game.gm.user 30  class="avatar" %} {{ game.gm }}</a></td>
      <td>{{ game.gm.user.get_timezone_display }}</td>
      <td>{{ game.get_game_frequency_display }} </td>
      <td class="text-right">{{ game.session_length }}</td>
      <td>{{ game.adult_themes|yesno:"Yes,No" }}</td>
      <td>{{ game.content_warning }}</td>
      <td class="text-right">{% if game.privacy_level == 'private' %}<abbr title="{{ game.get_privacy_level_display }}"><i class="fas fa-lock"></i></abbr>{% elif game.privacy_level == "community" %}<abbr title="{{ game.get_privacy_level_display }}"><i class="fas fa-users"></i></abbr>{% else %}<abbr title="{{ game.get_privacy_level_display }}"><i class="fas fa-lock-open"></i> </abbr> {% endif %}</td>
      <td class="text-right"><abbr title="{% trans 'Current players' %}"><strong>{{ game.players.count }}</strong></abbr> / <abbr title="{% trans 'Minimum players' %}">{{ game.min_players }}</abbr> / <abbr title="{% trans 'Maximum players' %}">{{ game.max_players }}</abbr></td>
      <td class="text-right"><abbr title="{% trans 'Sessions completed' %}"><strong>{{ game.sessions }}</strong></abbr></td>
      <td width="500">{{ game.game_description_rendered|truncatewords_html:20|safe }}</td>
      <td>{% if game.published_game %}<a href="{{ game.published_game.get_absolute_url }}">{{ game.published_game.game.title }} ({{ game.published_game.name }})</a>{% else %}{% if game.published_module %}<a href="{{ game.published_module.parent_game_edition.get_absolute_url }}">{{ game.published_module.parent_game_edition }}</a>{% else %}{% trans "Homebrew" %}{% endif %}{% endif %}</td>
      <td>{% if game.game_system %}<a href="{{ game.game_system.get_absolute_url }}">{{ game.game_system.name }}</a>{% else %}{% if not game.published_game and not game.published_module %}{% trans 'Homebrew' %}{% else %}{% if game.published_game.game_system %}<a href="{{ game.published_game.game_system.get_absolute_url }}">{{ game.published_game.game_system.name }}</a>{% elif game.published_module and game.published_module.parent_game_edition.game_system %}<a href="{{ game.published_module.parent_game_edition.game_system.get_absolute_url }}">{{ game.published_module.parent_game_edition.game_system.name }}</a>{% endif %}{% endif %}{% endif %}</td>
      <td>{% if game.published_module %}<a href="{{ game.published_module.get_absolute_url }}">{{ game.published_module.title }}</a>{% else %}N/A{% endif %}</td>
      <td>{{ game.get_game_mode_display }}</td>
      <td>{% if game.game_location %}{{ game.game_location.city }}, {{ game.game_location.state }}{% else %}{% trans "N/A" %}{% endif %}</td>
    </tr>
    {% empty %}
    <!-- No results -->
    {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if not page_obj.has_previous %}
    <li class="pagination-previous disabled">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></li>
    {% else %}
    <li class="pagination-previous"><a href="{% url 'games:game_list' page=page_obj.previous_page_number %}" aria-label="Previous page">{% trans "Previous" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
    {% for page_num in paginator.page_range %}
    {% if page_obj.number == page_num %}
    <li class="current"><span class="show-for-sr">{% trans "You are on page" %} </span>{{ page_num }}</li>
    {% else %}
    <li><a href="{% url 'games:game_list' page=page_num %}" aria-label="Page {{ page_num }}">{{ page_num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="pagination-next disabled">{% trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span> </li>
    {% else %}
    <li class="pagination-next"><a href="{% url 'games:game_list' page=page_obj.next_page_number %}" aria-label="Next page">{{ trans "Next" %} <span class="show-for-sr">{% trans "page" %}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
{% block tourjs %}
{% if request.user.is_authenticated %}
{% get_tour "games" as tour %}
{% if tour %}
{% render_tour tour %}
{% update_tour_rendered tour request.user %}
{% endif %}
{% endif %}
<script type="text/javascript">
  jQuery("select#id_distance").change(function (e) {
    if (jQuery( this ).val() == "") {
      // Do nothing
      return;
    }
    if (jQuery("select#id_venue").val() != "irl") {
    jQuery("select#id_venue").val('irl');
      jQuery("select#id_venue").fadeTo(100, 0.3, function() { jQuery( this ).fadeTo(500, 1.0); });
    }
    });
  jQuery("select#id_venue").change(function (e) {
    if (jQuery( this ).val() != "irl") {
      if (jQuery("select#id_distance").val() != "") {
      jQuery("select#id_distance").val("")
        jQuery("select#id_distance").fadeTo(100, 0.3, function() { jQuery( this ).fadeTo(500, 1.0); });
      }
    }
  });
</script>
{% endblock %}
