{% extends "games/game_detail.html" %}
{% load i18n foundation_formtags %}
{% block subtitle %}{% trans "Apply to join game" %} - {% endblock %}
{% block js_extra %}
{% include "datepicker_js.html" %}
{% include "datepicker_logic.html" %}
{% endblock %}
{% block css_extra %}
{% include "datepicker_css.html" %}
{% endblock %}
{% block details_and_controls %}
<div class="cell medium-6">
  <div class="card"><div class="card-divider"><h5>{% trans "Apply to join game" %}</h5></div>
    <div class="card-section">
<form action="" method="post">
  {% csrf_token %}
  {{ form|as_foundation }}
  <div class="grid-x grid-margin-x">
    <div class="cell medium-auto">
      <a href="{% url 'games:game_list' %}" class="button secondary">{% trans "Back to game list" %}</a></div> <div class="cell medium-auto"><input type="submit" class="button primary" value="{% trans 'Save' %}" /></div><div class="cell medium-auto"><input type="submit" id="id_submit_app" name="submit_app" value="{% trans 'Save and submit to GM' %}" class="button float-right success" /></div>
  </div>
</form>
    </div>
  </div>
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var simplemde = new SimpleMDE({
    element: $("#id_message")[0],
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
    spellChecker: false
  });
</script>
{% endblock %}
