{% extends "games/game_base_form.html" %}
{% load i18n avatar_tags foundation_formtags %}
{% block subtitle %}{% blocktrans with gametitle=session.game.title %}Adding log entry for {{ gametitle }}{% endblocktrans %} - {% endblock %}
{% block sectiontitle %}{% trans "Create adventure log" %}{% endblock %}
{% block mobileheader %}{% trans "Create adventure log" %}{% endblock %}
{% block game_crumbs %}
<li><a href="{{ game.get_absolute_url }}">{{ game.title|truncatechars_html:"70" }}</a></li>
<li><a href="{% url 'games:session_list' gameid=session.game.slug %}">{% trans "Sessions" %}</a></li>
<li><a href="{{ session.get_absolute_url }}">{{ session.scheduled_time }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Log" %}</li>
{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x">
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Enter your log entry below:" %}</h5></div>
      <div class="card-section">
        <form action="" method="post">
          {% csrf_token %}
          {{ form|as_foundation }}
          <div class="clearfix">
            <a href="{{ session.get_absolute_url }}" class="button float-left secondary">{% trans "Return to session details without saving" %}</a> <input type="submit" class="button float-right success" value="{% trans 'Save' %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="cell medium-auto">
    <div class="card">
      <div class="card-divider"><h5>{% trans "Session info:" %}</h5></div>
      <div class="card-section">
<dl>
  <dt>{% trans "Game Title" %}</dt>
  <dd>{{ session.game.title }}</dd>
  <dt>{% trans "Session time" %}</dt>
  <dd>{{ session.scheduled_time }}</dd>
  <dt>{% trans "Expected players" %}</dt>
  <dd>
    <table class="hover scroll">
      <thead>
        <tr>
          <th>{% trans "Player" %}</th>
          <th class="test-right">{% trans "Attended?" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for player in session.players_expected.all %}
        <tr>
          <td>{% avatar player.gamer.user 30 %} <a href="{{ player.gamer.get_absolute_url }}">{{ player.gamer }}</a></td>
          <td class="text-right">{% if session.status != "complete" %}{% trans "N/A (session not complete)" %}{% else %}{% if player in session.players_missing.all %}😢{% else %}😄{% endif %}{% endif %}</td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
  </dd>
</dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block simplemde %}
<script type="text/javascript">
  var easymde = new EasyMDE({
    element: $('#id_body')[0],
    autosave: {
      enabled: true,
      uniqueId: "games_session_{{ session.slug }}_log_body",
    },
    tabSize: 4,
    indentWithTabs: false,
    forceSync: true,
    spellChecker: false,
    renderingConfig: {
      markedOptions: {
        sanitize: true;
      }
    }
  });
</script>
{% endblock %}
