{% extends "games/base.html" %}
{% load i18n avatar_tags %}
{% block subtitle %}{% blocktrans %}Your characters{% endblocktrans %} - {% endblock %}
{% block charactive %}{% include "is_active_definition.html" %}{% endblock %}
{% block sectiontitle %}{% trans "Your characters" %}{% endblock %}
{% block mobileheader %}{% trans "Your chracters" %}{% endblock %}
{% block game_crumbs %}
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Your characters" %}</li>
{% endblock %}
{% block content %}
<p></p>
{% if not character_list %}
<p>{% trans "No characters found." %}</p>
{% endif %}
<table class="scroll hover">
  <thead>
    <tr>
      <th>{% trans "Game" %}</th>
      <th>{% trans "Character" %}</th>
      <th>{% trans "Description" %}</th>
      <th>{% trans "Status" %}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for character in character_list %}
    <tr>
      <td><a href="{{ character.game.get_absolute_url }}">{{ character.game.title }}</a></td>
      <td><a href="{{ character.get_absolute_url }}">{{ character.name }}</a></td>
      <td>{{ character.description }}</td>
      <td><span class="label {% if character.status == 'inactive' %}secondary{% elif character.status == 'approved' %}success{% elif character.status == 'rejected' %}alert{% else %}primary{% endif %}">{{ character.get_status_display }}</span></td>
      <td><form action="{% if character.status == 'inactive' %}{% url 'games:character_reactivate' character=character.slug %}{% else %}{% url 'games:character_inactivate' character=character.slug %}{% endif %}" method="post">{% csrf_token %}<input type="hidden" id="id_status" name="inactive" value="{% if character.status == 'inactive' %}pending{% else %}inactive{% endif %}" /><input type="submit" class="button {% if character.status == 'inactive' %}success{% else %}secondary{% endif %}" value="{% if character.status == 'inactive' %}{% trans 'Reactivate' %}{% else %}{% trans 'Deactivate' %}{% endif %}" /></form></td>
      <td><a href="{% url 'games:character_delete' character=character.slug %}" class="button alert">{% trans "Delete" %}</a></td>
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
